.action-button {
  .bsbb();

  border-radius   : 50%;
  position        : fixed;
  bottom          : 20px;
  right           : 20px;
  width           : 50px;
  height          : 50px;
  border          : 0;
  box-shadow      : 0 5px 10px 0 #999;
  outline         : none !important;
  z-index         : 999;
  background      : @colorMainOrange url(../../images/v2/icon-34-action-btn.svg) center center no-repeat;
  background-size : 50px 50px;

  @media (min-width : @desktopWidth) {
    display : none;
  }
}

.action-menu {
  .bsbb();

  position        : absolute;
  right           : 20px;
  bottom          : 80px;
  list-style-type : none;

  li {

    &:first-of-type {

      a {
        border-top-left-radius  : 5px;
        border-top-right-radius : 5px;
      }
    }

    &:last-of-type {

      a {
        border-bottom-left-radius  : 5px;
        border-bottom-right-radius : 5px;
      }
    }

    a {
      background-color : @colorMainOrange;
      color            : @colorWhite;
      padding-left     : 45px;

      &:before {
        content          : '+';
        width            : 15px;
        height           : 15px;
        color            : @colorMainOrange;
        background-color : @colorWhite;
        display          : block;
        position         : absolute;
        left             : 15px;
        top              : 50%;
        border-radius    : 50px;
        text-align       : center;
        transform        : translateY(-50%);
        line-height      : 13px;
      }
    }
  }

  &:after {
    content         : '';
    display         : block;
    border-radius   : 50%;
    position        : absolute;
    bottom          : -60px;
    right           : 0;
    width           : 50px;
    height          : 50px;
    box-shadow      : 0 5px 10px 0 #444;
    background      : @colorMainOrange url(../../images/v2/icon-34-action-btn.svg) center center no-repeat;
    background-size : 50px 50px;
  }
}
