.alert {
  border-radius : 4px;
  padding-left  : 54px !important;

  &.alert_info {
    background : #E9F3FF url(../../images/v2/icon-85-alert-info.svg) left 10px center no-repeat;
    border     : solid 1px #8AB4E4;
    color      : #678BB4;
  }

  &.alert_success {
    background : #E5F5DF url(../../images/v2/icon-86-alert-success.svg) left 10px center no-repeat;
    border     : solid 1px #57925B;
    color      : #57925B;
  }

  &.alert_danger {
    background : #FFEBDB url(../../images/v2/icon-87-alert-danger.svg) left 10px center no-repeat;
    border     : solid 1px #C1473E;
    color      : #C1473E;
  }
}
