.article-actions {
  .bsbb();

  .article-action {
    float       : left;
    width       : 20%;
    padding-top : 3 * @basePadding;

    &.article-action_views {
      background      : url(../../images/v2/icon-13-views.svg) center top 17px no-repeat;
      background-size : 15px auto;
    }

    &.article-action_comments {
      background      : url(../../images/v2/icon-14-comments.svg) center top 15px no-repeat;
      background-size : 15px auto;
    }

    &.article-action_thumbs-up {
      background      : url(../../images/v2/icon-15-thumbs-up.svg) center top 12px no-repeat;
      background-size : 15px auto;
    }

    &.article-action_thumbs-down {
      background      : url(../../images/v2/icon-16-thumbs-down.svg) center top 12px no-repeat;
      background-size : 15px auto;
    }

    &.article-action_like {
      background      : url(../../images/v2/icon-17-heart.svg) center top 15px no-repeat;
      background-size : 15px auto;

      a {
        text-decoration : none;
        font-size       : .75rem;
      }
    }

  }
}
