.article-language {
  .bsbb();

  border-top    : solid 1px @colorGray5;
  border-bottom : solid 1px @colorGray5;
  line-height   : 30px;

  img {
    width         : 48px;
    border-radius : 50px;
  }
}
