.bg-icon-14 {
  background      : url(../../images/v2/icon-14-comments.svg) left top 5px no-repeat;
  background-size : auto 20px;
}

.bg-icon-25 {
  background      : url(../../images/v2/icon-25-clip.svg) left top 3px no-repeat;
  background-size : auto 20px;
}
