.breadcrumbs {
  .bsbb();
  background-color : @colorGray2;
  list-style-type  : none;

  .item {
    float : left;

    .link {
      color           : @colorGray3;
      text-decoration : underline;
      padding-right   : @basePadding * 2;
      background      : transparent url(../../images/v2/icon-12-breadcrumb-chevron-r.svg) right 12px center no-repeat;
      background-size : auto 50%;

      &:hover {
        color : @colorBlack;
      }
    }

    &:last-of-type {

      .link {
        background : none;
      }
    }
  }

  &.breadcrumbs_lesson {
    background-color : @colorWhite;
    padding-top      : 5px;
  }

  &.breadcrumbs_block {
    position     : relative;
    padding-left : 65px !important;
    min-height   : 50px;

    .item:first-of-type {
      position      : absolute;
      border-radius : 50%;
      width         : 40px;
      height        : 40px;
      left          : 5px;
      top           : 50%;
      transform     : translateY(-50%);
      padding       : 4px;
    }
  }

  @media (min-width : @desktopWidth) {
    background-color : transparent;
    border-bottom    : solid 1px @colorGray2;
  }
}
