.btn {
  .bsbb();

  text-decoration : none;
  text-align      : center;
  border-radius   : 50px;
  cursor          : pointer;
  font-family     : 'Ubuntu', sans-serif;

  &:disabled {
    opacity : .5 !important;
  }

  &.btn_bg-white {
    background-color : @colorWhite;
  }

  &.btn_border-orange {
    border : solid 1px @colorMainOrange;
  }

  &.btn-border-gray {
    border : solid 1px @colorGray3;
  }

  &.btn_orange {
    background-color : @colorMainOrange;
    color            : @colorWhite;
  }

  &.btn_orange_border {
    border : solid 1px @colorWhite;
  }

  &.btn-google {
    padding-left : 45px;
    background   : url(../../images/v2/icon-53-google.svg) left 10px center no-repeat;
  }

  &.btn-fb {
    padding-left : 45px;
    background   : url(../../images/v2/icon-54-fb.svg) left 10px center no-repeat;
  }
}
