.carousel {
  .bsbb();

  .carousel-slides {

    @media (min-width : @tabletWidth) {
      padding : 0 48px;
    }

    .carousel-slide {
      display : none;

      &.carousel-slide-active {
        display : block;
      }

      .main-file {
        position : relative;

        .main-file_img:hover:before {
          width      : 50px;
          height     : 50px;
          content    : "";
          display    : block;
          position   : absolute;
          right      : 12px;
          top        : 12px;
          background : url(../../images/v2/icon-92-carousel-magnifier.svg) center center no-repeat;
        }

        .carousel-arrow_left,
        .carousel-arrow_right {
          width     : 36px;
          height    : 36px;
          top       : 50%;
          z-index   : 99;
          transform : translateY(-50%);
        }

        .carousel-arrow_left {
          background : url(../../images/v2/icon-91-carousel-arrow-left.svg) center center no-repeat;
          left       : 15px;

          @media (min-width : @tabletWidth) {
            left : -48px;
          }
        }

        .carousel-arrow_right {
          background : url(../../images/v2/icon-88-carousel-arrow-right.svg) center center no-repeat;
          right      : 15px;

          @media (min-width : @tabletWidth) {
            right : -48px;
          }
        }

      }
    }
  }
}
