.comment {
  .bsbb();
  position : relative;

  @media (min-width : @desktopWidth) {
    padding-left : 85px;
    min-width    : 375px;
  }

  .profile-info {

    &.profile-info_lg {
      height : auto;
    }

    @media (min-width : @desktopWidth) {
      position : absolute;
      left     : 0;
      top      : 0;
    }
  }

  .comment-content {
    .bsbb();
    border-radius    : 30px;
    background-color : @colorGray2;

    p {
      line-height : 1.25rem;
    }
  }

  .comment-stats {
    background-color : @colorWhite;
    border           : solid 1px @colorGray3;
    border-radius    : 50px;
    margin-top       : -20px;

    img {
      max-width : 15px;
    }
  }

  .comment-actions {
    line-height : 20px;

    a {
      text-decoration : none;

      img {
        max-width : 15px;
      }
    }
  }

  &.comment-simple {
    padding-left : 50px;

    .profile-info {
      width  : 40px;
      height : 40px;
    }

    .comment-content {
      padding : 12px;

      @media (min-width : @tabletWidth) {
        padding       : 12px 125px 12px 12px;
        text-overflow : ellipsis;
        overflow      : hidden;
        white-space   : nowrap;
      }
    }

    .comment-stats {
      padding    : 1px 4px;
      height     : 20px;
      margin-top : -12px;

      img {
        max-width : 12px;
      }
    }
  }
}
