.comment-form {
  .bsbb();

  background-color : @colorGray2;

  .form-textarea {
    background-color : @colorWhite;
    border-radius    : 30px;
    height           : 300px;

    textarea {
      .bsbb();

      border-radius : 30px;
      border        : 0;
      height        : 200px;
      padding       : 25px;
      outline       : none !important;
      resize        : none;
    }

    .form-attach {
      .bsbb();

      padding-top     : 80px;
      width           : 33.33%;
      text-decoration : none;
      margin-bottom   : @baseMargin;

      &:before {
        content       : '';
        display       : block;
        position      : absolute;
        border-radius : 50%;
        width         : 60px;
        height        : 60px;
        top           : 0;
        left          : 50%;
        transform     : translateX(-50%);
      }

      &.form-attach_file:before {
        background      : @colorGray2 url(../../images/v2/icon-25-clip.svg) center center no-repeat;
        background-size : 25px auto;
      }

      &.form-attach_photo {
        @media (min-width : @desktopWidth) {
          display : none;
        }

        &:before {
          background      : @colorGray2 url(../../images/v2/icon-32-photo.png) center center no-repeat;
          background-size : 25px auto;
        }
      }

      &.form-attach_gallery {
        @media (min-width : @desktopWidth) {
          display : none;
        }

        &:before {
          background      : @colorGray2 url(../../images/v2/icon-31-image.svg) center center no-repeat;
          background-size : 25px auto;
        }
      }
    }
  }

  .form-submit {
    background-color : @colorMainOrange;
    color            : @colorWhite;
    border           : 0;
    border-radius    : 50px;
    font-weight      : bold;
  }
}
