@media (min-width : @desktopWidth) {
  .contextual-links {

    a {
      color       : @colorBlack;
      border      : solid 1px @colorGray2;
      padding     : @basePadding/2 @basePadding;
      white-space : normal;
      text-align  : center;

      &:hover {
        background-color : @colorGray2;
      }
    }
  }
}
