.cont {
  .bsbb();

  width         : 100%;
  padding-left  : @basePadding;
  padding-right : @basePadding;

  @media (min-width : @desktopWidth) {
    max-width     : @desktopWidth;
    margin        : 0 auto;
    padding-left  : @basePadding !important;
    padding-right : @basePadding !important;
  }
}

@media (min-width : @desktopWidth) {
  .content-cont {
    .bsbb();
    max-width : @desktopWidth;
    margin    : 0 auto;
    padding   : @basePadding 300px @basePadding @basePadding;
  }
}
