.diagnostic-case-preview {

  .preview-image {
    max-width : 33%;
  }

  .edit {
    position  : absolute;
    right     : 0;
    top       : 50%;
    transform : translateY(-50%);
  }

  .lesson-info {
    padding-left : 65px;
    min-height   : 50px;
    position     : relative;
    max-width    : calc(~"100% - 145px"); // circle 50 + padding 15 + edit buttons 80

    .circle {
      border-radius    : 50%;
      background-color : @colorGray;
      width            : 50px;
      height           : 50px;
      position         : absolute;
      left             : 0;
      top              : 0;

      .fs-1_5 {
        line-height : 1rem;
        padding-top : 8px;
      }
    }
  }
}

.diagnostic-case-stats {
  list-style-type : none;

  li {
    width : 20%;

    img {
      width : 20px;
    }
  }

  &.diagnostic-case-stats_small {
    display : none;
  }
}

.diagnostic-case-comments {
  display : none;
}

@media (min-width : @desktopWidth) {

  .diagnostic-case-preview {

    &:before {
      content    : '';
      display    : block;
      border-top : solid 1px @colorGray;
      margin     : 15px 15px 5px 15px;
    }

    .profile-info.profile-info_md.profile-info_with-text {
      max-width : 9999px;

      .score {
        max-width  : 9999px;
        margin-top : 15px;

        .badge {
          top : auto;
        }

        .text {
          width : auto;
          float : left;
        }
      }
    }

    .edit {
      position                  : absolute;
      right                     : auto;
      left                      : -10px;
      top                       : 0;
      transform                 : translateX(-100%);
      background-color          : @colorWhite;
      border-top-left-radius    : 10px;
      border-bottom-left-radius : 10px;

      a {
        display : block;
        padding : 5px;
      }
    }

    .link {
      border : 0;
      width  : 60%;
      float  : left;

      > .p-2 {
        padding-top    : 0;
        padding-bottom : 0;
      }
    }

    .diagnostic-case-comments {
      display : block;
      width   : 40%;

      .diagnostic-case-comment {
        padding-left   : 60px;
        padding-bottom : -22px;

        .profile-info_simple {
          position : absolute;
          left     : 0;
          top      : 0;
        }

        .comment-stat {
          height        : 12px;
          bottom        : -6px;
          position      : absolute;
          line-height   : 12px;
          padding       : 2px 4px;
          border-radius : 5px;
          right         : 10px;

          + .comment-stat {
            transform : translateX(-100%);
          }

          &.border {
            border : solid 1px @colorGray;
          }

          img {
            max-height : 10px;
          }
        }
      }
    }

    .diagnostic-case-stats {
      display : none;

      &.diagnostic-case-stats_small {
        display    : inline-block;
        width      : 35%;
        font-size  : .8rem;
        margin-top : 15px;

        img {
          max-height : 15px;
        }
      }
    }

    .lesson-info {
      max-width : 50%;
      float     : left;

      .breadcrumbs {
        border-bottom : 0;

        .link {
          width : auto;
          float : none;
        }
      }
    }
  }
}
