.dot {
  width            : 20px;
  height           : 20px;
  border-radius    : 50%;
  background-color : #d0d0d0;
  margin-right     : 5px;
  display          : inline-block;
  vertical-align   : middle;

  &.active {
    background-color : #ef8316;
  }
}
