.file-thumb {
  .bsbb();
  width    : 100px;
  height   : 75px;
  border   : solid 1px @colorGray5;
  position : relative;

  .file-thumb_main-img {
    width  : 100%;
    height : 100%;
  }

  .file-thumb_custom-filetype {
    background : url(../../images/v2/icon-78-filetype.png) center center no-repeat;
    position   : relative;

    .filetype {
      position  : absolute;
      width     : auto;
      left      : 61px;
      bottom    : 9px;
      font-size : 0.65rem;
      transform : translateX(-50%);
    }
  }

  .file-thumb_author-img,
  &:after {
    position : absolute;
    content  : '';
    width    : 20px;
    height   : 20px;
    display  : block;
    right    : @basePadding / 4;
    bottom   : @basePadding / 4;
  }

  &.file-thumb_green:after {
    background      : url(../../images/v2/icon-27-file-green.svg) center center no-repeat;
    background-size : 20px 20px;
  }

  &.file-thumb_red:after {
    background      : url(../../images/v2/icon-26-file-red.svg) center center no-repeat;
    background-size : 20px 20px;
  }

  .title,
  .desc {
    display : none;
  }

  @media (min-width : @desktopWidth) {
    display      : block;
    width        : 100%;
    padding      : 15px 0;
    height       : auto;
    border-left  : 0;
    border-right : 0;
    border-top   : 0;

    .file-thumb_main-img {
      width  : 200px;
      height : auto;
      float  : left;
    }

    .file-thumb_custom-filetype {
      height : 70px;

      .filetype {
        left   : 110px;
        bottom : 8px;
      }
    }

    .file-thumb_author-img,
    &:after {
      right         : auto;
      bottom        : auto;
      left          : 190px;
      top           : 5px;
      border        : solid 2px @colorWhite;
      border-radius : 50%;
    }

    .title,
    .desc {
      display      : block;
      padding-left : 230px;
    }
  }
}
