.form-input {
  .bsbb();

  border        : solid 1px #C5C5C5;
  border-radius : 5px;
  resize        : none;

  &:focus {
    border-color : @colorMainOrange;
    outline      : none;
  }

  &.form-input_add {
    background : #f9f9f9 url(../../images/v2/icon-49-add.svg) right 10px center no-repeat;
  }

  &.form-input_select {
    -webkit-appearance : none;
    appearance         : none;
    background         : #F9F9F9 url(../../images/v2/icon-45-arrow-orange-down.svg) right 10px center no-repeat;
  }

  &.form-input_textarea {
    border-bottom              : 0;
    border-bottom-left-radius  : 0;
    border-bottom-right-radius : 0;

    &.form-input_textarea_simple {
      border        : solid 1px #C5C5C5;
      border-radius : 5px;

      &:focus {
        border-color : @colorMainOrange;
      }
    }
  }

  &.form-input_file {
    padding-left     : 50px;
    padding-right    : 100px;
    background-color : #C5C5C5 !important;
    background       : url(../../images/v2/icon-50-plus.svg) left 10px center no-repeat,
    url(../../images/v2/icon-51-photo.svg) right 50px center no-repeat,
    url(../../images/v2/icon-52-image.svg) right 10px center no-repeat;
  }

  // icons

  &.icon {
    padding-left : 45px;

    &.icon-1 {
      background : url(../../images/v2/icon-58-user.svg) left 10px center no-repeat;
    }

    &.icon-2 {
      background : url(../../images/v2/icon-59-nick.svg) left 10px center no-repeat;
    }

    &.icon-3 {
      background : url(../../images/v2/icon-60-email.svg) left 10px center no-repeat;
    }

    &.icon-4 {
      background : url(../../images/v2/icon-61-tel.svg) left 10px center no-repeat;
    }

    &.icon-5 {
      background : url(../../images/v2/icon-62-pass.svg) left 10px center no-repeat;
    }
  }
}

.avatar-upload {
  height      : 60px;
  line-height : 60px;
}
