.form-fault-type {

  .form-fault-type-bg {
    background-color : @colorGray2;
    border-radius    : 12px;
  }

  .form-radio {
    width : 50%;
    float : left;

    @media (min-width : 870px) {
      width        : auto;
      margin-right : 1rem;
      float        : none;
    }
  }

  .form-footer {
    text-align : center;

    @media (min-width : @tabletWidth) {
      text-align : left;

      button {
        float : right;
      }
    }
  }
}
