.form-radio {
  .bsbb();

  input[type=radio] {
    display : none;

    &:checked + label {
      color : @colorBlack;

      &:before {
        background-color : @colorMainOrange;
      }
    }
  }

  label {
    min-height : 12px;
    color      : @colorGray3;
    display    : inline-block;

    &:before {
      content          : '';
      display          : inline-block;
      width            : 12px;
      height           : 12px;
      margin-right     : @baseMargin;
      border-radius    : 50%;
      border           : solid 4px @colorWhite;
      background-color : transparent;
      box-shadow       : #000 0 0 2px;
      float            : left;
    }
  }

  &.form-radio_inline {
    padding-left : 30px;
    position     : relative;

    label:before {
      position  : absolute;
      left      : 0;
      top       : 50%;
      transform : translateY(-50%);
    }
  }

  &.form-radio_check {

    input[type=radio]:checked + label:before {
      background   : transparent url(../../images/v2/icon-97-check.svg) center center no-repeat;
      border-color : @colorMainOrange;
    }

    label:before {
      background-color : transparent;
      box-shadow       : none;
      border           : solid 2px #a2a2a2;
    }
  }
}
