.form-checkbox {
  .bsbb();

  input[type=checkbox] {
    display : none;

    &:checked + label {
      color : @colorBlack;

      &:before {
        background      : url(../../images/v2/icon-30-checked.svg) center center no-repeat;
        border          : 0;
        width           : 20px;
        height          : 20px;
        background-size : 20px;
      }
    }
  }

  label {
    min-height  : 16px;
    color       : @colorGray3;
    display     : inline-block;

    &:before {
      float         : left;
      display       : inline-block;
      content       : '';
      width         : 16px;
      height        : 16px;
      margin-right  : @baseMargin;
      border-radius : 2px;
      border        : solid 2px @colorGray3;
    }
  }
}
