.help-request {
  .bsbb();

  padding-left    : 60px;
  background      : url(../../images/v2/icon-23-help.svg) left 15px center no-repeat;
  border          : solid 1px @colorGray;
  background-size : 30px auto;
}
