.hp-menu {
  max-width : calc(100% - 175px);
  width     : 600px;
  display   : inline-block;

  @media (max-width : @tabletWidth) {
    display : none !important;
  }

  .menu-item .menu-link.active {
    border-bottom: solid 1px #FFF;
  }
}

.hp-header {
  background      : linear-gradient(0, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../images/v2/hp/header-bg.png) center center no-repeat;
  background-size : cover;

  .btn {
    color       : #FFF;
    border      : solid 1px #FFF;
    font-weight : bold;

    @media (min-width : @tabletWidth) {
      width : 255px;
    }

    &.active {
      background-color : #EF8316;
      border-color     : #EF8316;
      color            : #fff;
    }
  }

  .btn-logo {
    max-height : 150px;
    width  : 150px;
    max-width: 100%;

    &.btn-logo_small {
      max-height    : 130px;
      width     : 130px;
      max-width     : 100%;
      margin-top    : 20px;
      margin-bottom : 10px;
    }
  }

  .content {
    display : none;
    height  : 200px;
    
    &.active {
      display : block;
    }
    
    .tab-btn {
      .bsbb();
      padding: .5rem;

      &.active {
        background-color : #f3f3f3;
        color            : #000;
        height           : 200px;
      }
      
      .text-bold {
        @media (max-width: @tabletWidth) {
          font-size: .9rem;
        }
      }
    }
  }
}

.subcontent {
  display : none;

  &.active {
    display : block;
  }
}

.hp-section-0 {
  @media (max-width : @tabletWidth) {
    display : block;
  }

  iframe {
    max-width : 100%;
    min-width: 560px;

    @media (max-width: @desktopWidth) {
      min-width: 480px;
    }

    @media (max-width: 991px) {
      min-width: 360px;
    }
  }
}

.hp-section-1,
.hp-section-4,
.hp-section-5 {
  background      : url(../../images/v2/hp/bg-001.jpg) center center no-repeat;
  background-size : cover;
  height          : 700px;

  .text {
    position         : absolute;
    left             : 0;
    bottom           : 0;
    background-color : rgba(0, 0, 0, .5);
    padding-left     : 1rem;
    padding-right    : 1rem;

    @media (min-width: @tabletWidth) {
      padding-left     : 100px;
      padding-right    : 100px;
    }
  }
}

.hp-section-4 {
  background      : url(../../images/v2/hp/bg-002.jpg) center center no-repeat;
  background-size : cover;
}

.hp-section-5 {
  background      : url(../../images/v2/hp/bg-003.jpg) center center no-repeat;
  background-size : cover;
}

.hp-section-2 {
  .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .col {
      box-sizing: border-box;
      flex: 1 100%;
      
      @media (min-width: 360px) {
        flex: 1 0 50%;
      }

      @media (min-width: @tabletWidth) {
        flex: 1;
      }

      .no {
        font-size: 2rem;
        font-weight: bold;
      }

      .text {
        font-size: .75rem;
        color: @colorGray3;
      }
    }
  }
}

.hp-section-3 {
  .article {
    flex : 1;

    img {
      width : 100%;
    }
  }

  .btn {
    font-size : .75rem;
  }
}

.hp-footer {
  background-color : #000;
}
