.info-panel {
  .bsbb();

  background-color : @colorMainRed;
  height           : 50px;
  max-height       : 50px;
  line-height      : 50px;
  color            : @colorWhite;
  transition       : max-height .25s;
  overflow         : hidden;
  top              : 0;
  z-index          : 9999;

  &.closed {
    max-height : 0;

    + .navbar {
      top : 0 !important;
    }
  }

  .close {
    background      : transparent url(../../images/v2/icon-2-cross.svg) center center no-repeat;
    border          : 0;
    width           : 19px;
    height          : 50px;
    float           : right;
    background-size : 100% auto;
  }

  + .navbar {
    top : 50px !important;
  }

  @media (min-width : @desktopWidth) {
    display : none;

    + .navbar {
      top : 0 !important;
    }
  }
}
