.map {

  .map-marker {
    background-color : @colorWhite;
    padding          : 5px;
    border-radius    : 5px;
    text-align       : center;
    position         : absolute;
    cursor           : pointer;

    img {
      width         : 40px;
      height        : 40px;
      border-radius : 50%;
    }
  }
}
