.modal {
  .bsbb();
  position         : fixed;
  left             : 0;
  top              : 0;
  width            : 100%;
  height           : 100%;
  background-color : rgba(0, 0, 0, 0.5);
  z-index          : 10000;

  .modal-inner {
    .bsbb();
    width      : 440px;
    max-width  : 95%;
    margin     : 0 auto;
    transform  : translateY(-50%);
    padding    : 40px;
    top        : 50%;
    max-height : 95%;
    overflow-y : auto;

    .close {
      position : absolute;
      right    : 10px;
      top      : 10px;
    }

    .btn {
      width     : 150px;
      max-width : 100%;
    }

    &.modal-inner_wide {
      width : 600px;
    }

    &.modal-inner_widest {
      width : 830px; // ...
    }
  }
}
