.navbar {
  .bsbb();

  height           : 50px;
  line-height      : 50px;
  background-color : @colorMainOrange;
  top              : 0;
  z-index          : 99;
  transition       : top .25s;

  .d-inline-block {
    max-height : 50px; // TODO
  }

  .navbar-item {
    height           : 50px;
    border           : 0;
    outline          : none;
    background-color : transparent;

    .symbol {
      top   : 5px;
      right : -10px;
    }

    &.navbar-item_menu {
      background      : transparent url(../../images/v2/icon-3-hamburger-menu.svg) center center no-repeat;
      background-size : 26px 18px;
      width           : 26px;
    }

    &.navbar-item_logo img {
      width  : 43px;
      height : 19px;
    }

    &.navbar-item_search {
      background      : transparent url(../../images/v2/icon-4-settings.svg) center center no-repeat;
      background-size : 28px 21px;
      width           : 28px;
      position        : relative;

      &.open:after {
        position      : absolute;
        content       : '';
        display       : block;
        bottom        : 0;
        left          : 50%;
        transform     : translateX(-50%);
        border-bottom : solid 8px @colorGray2;
        border-left   : solid 8px transparent;
        border-right  : solid 8px transparent;
      }
    }

    &.navbar-item_mail {
      background      : transparent url(../../images/v2/icon-5-mail.svg) center center no-repeat;
      background-size : 22px 14px;
      width           : 22px;
    }
  }

  .menu {
    display : none;
  }

  .menu-link {
    cursor : pointer;
  }
}

@media (min-width : @desktopWidth) {

  .navbar {

    .navbar-item {
      margin : 0 15px;

      &.navbar-item_menu,
      &.navbar-item_search {
        display : none;
      }

      &.navbar-item_logo {
        margin-left : 0;
      }
    }

    .menu {
      display : inline-block;

      .menu-item {

        &:last-of-type .menu-link:after {
          display : none;
        }

        &.active:before,
        &:hover:before {
          content       : '';
          display       : block;
          position      : absolute;
          width         : calc(~"100% - 45px");
          left          : 50%;
          transform     : translateX(-50%);
          bottom        : 0;
          border-bottom : solid 3px @colorWhite;
        }

        .menu-link:after {
          content      : '';
          display      : inline-block;
          height       : 25%;
          position     : absolute;
          border-right : solid 1px darken(@colorMainOrange, 10%);
          right        : 0;
          top          : 50%;
          transform    : translateY(-50%);
        }
      }
    }
  }
}
