.overlay {
  .bsbb();

  position         : fixed;
  top              : 0;
  left             : 0;
  width            : 100%;
  height           : 100%;
  background-color : rgba(0, 0, 0, .5);
  color            : #a3a3a3; // TODO color?
  z-index          : 999;
  max-height       : 0;
  overflow         : hidden;

  form {
    padding-top : 100px;
    max-height  : 100%;
    overflow-y  : auto;
  }

  &.top-50 {

    .overlay-menu {
      top : 50px;
    }

    form {
      padding-top : 50px;
    }
  }

  &.overlay_slide .overlay-menu {
    transition : transform .25s linear;
    transform  : translateY(-100%);
  }

  &.overlay_fade-in .overlay-menu {
  }

  &.open {
    max-height : 9999999px;

    &.overlay_slide .overlay-menu {
      transform : translateY(0);
    }

    &.overlay_fade-in .overlay-menu {
    }
  }

}
