.overlay-menu {
  .bsbb();

  width           : 33.33%;
  position        : relative;
  top             : 100px;
  list-style-type : none;
  padding-left    : 0;

  @media (min-width : @desktopWidth) {
    top : 50px !important;
  }

  .menu-item {
    background-color : @colorWhite;

    &.menu-item_border {
      border-bottom : solid 1px @colorGray;
    }

    a {
      color           : @colorBlack;
      text-decoration : none;
    }
  }

  &.overlay-menu_content-width {
    width   : auto;
    display : inline-block;
  }

  &.overlay-menu_lang {
    margin-right : 112px;

    @media (min-width : @desktopWidth) {
      margin-right : 145px;
    }
  }

  &.overlay-menu_profile {

    .profile-link {
      width         : 130px;
      padding-right : 15px;
      background    : url(../../images/v2/icon-11-chevron-r.png) right center no-repeat;
      font-size     : .75rem;
    }
  }

  &.overlay-menu_sort {
    margin-right : -15px;
    margin-top   : 60px;
    position     : relative;

    &:before {
      content         : '';
      position        : absolute;
      right           : 10px;
      top             : -50px;
      border-radius   : 50%;
      background      : @colorWhite url(../../images/v2/icon-79-sort.svg) center center no-repeat;
      background-size : 30px auto;
      width           : 40px;
      height          : 40px;
      display         : block;
    }

    @media (min-width : @desktopWidth) {
      &:before {
        display : none;
      }

      margin-right : 285px;
      margin-top   : 125px;
    }
  }

  @media (min-width : @desktopWidth) {
    max-width : @desktopWidth;
    margin    : 0 auto;
  }
}
