.profile-info {
  .bsbb();

  .score {
    background-color          : @colorWhite;
    border-top-left-radius    : 50px;
    border-bottom-left-radius : 50px;
    font-size                 : .9rem;
    color                     : @colorMainGrey;
    vertical-align            : initial;
  }

  .badge {
    background-color : @colorGray3;
    color            : @colorWhite;
    text-align       : center;
    text-transform   : uppercase;
    border-radius    : 50%;
    width            : 30px;
    height           : 30px;
    line-height      : 30px;
    position         : relative;
    left             : -@basePadding;
    box-shadow       : @colorWhite 0 0 0 2px;

    &.badge_transparent {
      width            : auto;
      background-color : transparent;
      border-radius    : 50px;
      color            : @colorGray3;
      box-shadow       : @colorGray3 0 0 0 1px;
    }
  }

  .name {
    width         : auto;
    color         : @colorMainOrange;
    padding-right : @basePadding;
  }

  > img {
    border-radius : 50%;
  }

  &.profile-info_sm {
    padding-right : 20px;
    height        : 36px;

    > img {
      position : absolute;
      right    : 0;
      top      : 0;
      width    : 36px;
      height   : 36px;
    }
  }

  &.profile-info_md {

    &.profile-info_with-text {
      max-width : calc(100% - 70px);

      .score {
        margin-top : 5px;
        max-width  : calc(100% - 75px);

        .badge {
          position    : relative;
          top         : 8px;
          width       : 24px;
          height      : 24px;
          line-height : 24px;
        }

        .name {
          font-size : 1rem;
        }

        .text {
          height      : auto;
          font-size   : .75rem;
          margin-left : 25px;
          width       : 100%;
        }
      }
    }

    > img {
      width  : 50px;
      height : 50px;
    }
  }

  &.profile-info_lg {
    height : 70px;

    .score {
      margin-top : 20px;

      li {
        height      : 30px; // badge height
        line-height : 30px;
      }
    }

    > img {
      width  : 70px;
      height : 70px;
    }
  }

  &.profile-info_vertical {

    .badge {
      float     : none;
      position  : absolute;
      left      : 50%;
      top       : 55px;
      transform : translateX(-50%);
    }

    .star {
      float : none;
    }
  }

  &.profile-info_horizontal {
    height       : auto;
    position     : relative;
    padding-left : 85px;

    > img {
      position : absolute;
      left     : 0;
    }

    .score {
      background-color : transparent;
      border-radius    : 0;
      margin-top       : 0;
    }

    .badge {
      left : auto;
    }

    .name {
      padding-right : 0;
    }
  }

  &.profile-info_simple {
    height : 36px;

    .badge {
      width       : 20px;
      height      : 20px;
      line-height : 20px;
      left        : -10px;
      top         : 8px;
      font-size   : .7rem;
    }

    > img {
      width  : 36px;
      height : 36px;
    }
  }
}
