.reviews {
  .bsbb();
  .cl();

  border-top : solid 3px @colorMainOrange;

  @media (min-width : @desktopWidth) {
    margin-top : 3rem;
    box-shadow : 0 -3rem 0px #f3f3f3
  }

  .review {
    .bsbb();

    @media (min-width : @desktopWidth) {
      width    : 25%;
      float    : left;
      position : relative;

      &:after {
        content      : '';
        position     : absolute;
        right        : 0;
        height       : 165px;
        width        : 1px;
        top          : 90px;
        border-right : solid 1px @colorGray3;
      }

      &:last-of-type:after {
        display : none;
      }
    }

    .profile-img {
      border-radius : 50%;
      width         : 60px;
      height        : 60px;
    }
  }
}
