.score {
  .bsbb();

  line-height     : 20px;
  vertical-align  : middle;
  list-style-type : none;
  margin          : 0;

  li {
    height : 20px;
    width  : 16px;
    float  : left;
  }

  .star {
    background      : transparent url(../../images/v2/icon-7-star.svg) center center no-repeat;
    background-size : 100% auto;

    &.star_active {
      background-image : url(../../images/v2/icon-8-star-active.svg);
      background-size  : 100% auto;
    }
  }
}
