.search-form {
  .bsbb();

  .search-input {
    .bsbb();
    border           : 0;
    background-color : @colorWhite;
    border-radius    : 50px;
    padding          : @basePadding 2*@basePadding;
  }

  label {
    color : @colorBlack;
  }

  .arrow {
    position     : absolute;
    top          : 20px;
    right        : 15px;
    border-top   : solid 10px @colorBlack;
    border-left  : solid 10px transparent;
    border-right : solid 10px transparent;

    &.arrow_small {
      border-top   : solid 5px @colorBlack;
      border-left  : solid 5px transparent;
      border-right : solid 5px transparent;
    }
  }

  .filter-input:checked + label {
    font-weight : bold;
  }

  .sub-filter {
    display : none;

    .sub-filter_select {

      &:after {
        display      : inline-block;
        content      : '';
        border-top   : solid 5px @colorBlack;
        border-left  : solid 5px transparent;
        border-right : solid 5px transparent;
        position     : absolute;
        right        : @basePadding;
        top          : 50%;
        transform    : translateY(-50%);
      }

      .filter-select {
        direction          : rtl;
        border             : solid 1px @colorMainBorder;
        appearance         : none;
        -webkit-appearance : none;
        background-color   : transparent;
        width              : 100%;
        padding            : @basePadding 40px @basePadding @basePadding;
        outline            : none !important;


        option {
          direction : ltr;
        }
      }
    }
  }

  .form-checkbox {

    &.open-partially .filter-input_main:checked + label:before {
      background-image : url(../../images/v2/icon-36-checked.svg)
    }

    &.open {

      .arrow {
        border-bottom : solid 10px @colorBlack;
        border-top    : 0;
      }

      .sub-filter {
        display : block;

        &.sub-filter_padding,
        .sub-checkbox {
          padding-left : 50px;
        }

        .pl-0 {
          padding-left : 0 !important;
        }
      }
    }
  }

  button {
    border        : 0;
    border-radius : 50px;

    &.bordered {
      border           : solid 1px #d8d8d8;
      background-color : transparent;

      .close {

        &:before, &:after {
          position         : absolute;
          right            : 25px;
          content          : '';
          height           : 22px;
          width            : 3px;
          background-color : #d8d8d8;
          top              : 13px;
        }

        &:before {
          transform : rotate(45deg);
        }

        &:after {
          transform : rotate(-45deg);
        }
      }
    }
  }

  @media (min-width : @desktopWidth) {
    max-width : @desktopWidth;
    margin    : 0 auto;
  }
}
