.separator {
  color         : #A3A3A3;
  border-bottom : solid 1px @colorGray3;
  text-align    : center;
  position      : relative;
  height        : 10px;

  .text {
    background-color : @colorWhite;
    padding          : 0 10px;
    display          : inline-block;
    height           : 20px;
    line-height      : 20px;
  }
}
