.service-detail {

  .service-detail_title {
    text-align : center;
  }

  .service-detail_contacts {
    .bsbb();

    li {
      .bsbb();
      width          : 50%;
      padding-bottom : 15px;

      &:nth-of-type(even) {
        padding-left : 7px;
      }

      &:nth-of-type(odd) {
        padding-right : 7px;
      }

      img {
        display : block;
        margin  : 0 auto;
      }

      @media (min-width : 500px) {
        width         : 25%;
        padding-left  : 7px;
        padding-right : 7px;

        &:first-of-type {
          padding-left : 0;
        }

        &:last-of-type {
          padding-right : 0;
        }
      }
    }
  }

  @media (min-width : @desktopWidth) {

    .service-detail_title {
      text-align : left;

      .service-detail_heading {
        margin : 0;
      }

      .service-detail_logo {
        float : right;
      }
    }

    .service-detail_profile-info {
      background-color : @colorDSGreyLight;
      padding          : 1rem;
    }

    .service-detail_contacts,
    .service-detail_opening-hours {
      .bsbb();
      width : 50%;
      float : left;
    }

    .service-detail_contacts {
      border-right  : solid 1px @colorGray;
      padding-right : 2rem;
    }

    .service-detail_opening-hours {
      padding-left : 2rem;
    }

    .service-detail_pricing {
      .bsbb();
      width : 50%;
      float : left;

      &:nth-of-type(even) {
        padding-left : 7px;
      }

      &:nth-of-type(odd) {
        padding-right : 7px;
      }
    }
  }
}
