.sidebar {
  display : none;
}

@media (min-width : @desktopWidth) {
  .sidebar {
    .bsbb();
    display   : block;
    padding   : @basePadding;
    width     : 300px;
    left      : calc(~"50% + 1250px / 2");
    transform : translateX(-100%);

    .sidebar-help {
      background : @colorMainWhite;

      strong {
        font-size   : 28px;
        font-weight : normal;
        color       : @colorMainRed;

        .icon-help {
          display    : inline-block;
          background : url("../../images/icon-action-help-red.png") no-repeat center;
          width      : 20px;
          height     : 20px;

          @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
            background      : url("../../images/icon-action-help-red@2x.png") no-repeat center;
            background-size : 20px 20px;
          }
        }
      }
    }

    .link-action {
      background-repeat   : no-repeat;
      background-position : 9px center;

      &:hover {
        background-color : darken(@colorMainOrange, 10%);
      }

      &.link-action-advice {
        background-image : url("../../images/icon-action-add-advice.png");

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background-image : url("../../images/icon-action-add-advice@2x.png");
          background-size  : 20px 20px;
        }

        &:hover {
          background-color : darken(@colorMainRed, 10%);
        }
      }

      &.link-action-help {
        background-image : url("../../images/icon-action-help.png");

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background-image : url("../../images/icon-action-help.png");
          background-size  : 20px 20px;
        }
      }

      &.link-action-add-post {
        background-image : url("../../images/icon-action-add-post.png");

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background-image : url("../../images/icon-action-add-post@2x.png");
          background-size  : 20px 20px;
        }
      }

      &.link-action-add-issue {
        background-image : url("../../images/icon-action-add-issue.png");

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background-image : url("../../images/icon-action-add-issue@2x.png");
          background-size  : 20px 20px;
        }
      }
    }

    .icon-heart {
      background : url("../../images/icon-heart.png") no-repeat center;

      @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
        background      : url("../../images/icon-heart@2x.png") no-repeat center;
        background-size : 24px 24px;
      }
    }
  }
}
