.symbol {
  .bsbb();

  position         : absolute;
  background-color : #D23730;
  height           : 20px;
  min-width        : 20px;
  top              : -10px;
  right            : -10px;
  color            : #FFF;
  display          : block;
  border-radius    : 8px;
  font-size        : .75rem;
  line-height      : 20px;
}
