.tabs {
  .bsbb();
  border-bottom : solid 1px @colorGray6;

  .tab {
    .bsbb();
    width   : 33.33%; // TODO: update in future
    color   : #707070;
    padding : 0 2px;

    @media (min-width : @tabletWidth) {
      padding : 0 12px;
    }

    &.tab-active > span {
      border-color : @colorMainOrange;
      color        : @colorBlack;
    }

    > span {
      background-color        : @colorGray2;
      border-top-left-radius  : 10px;
      border-top-right-radius : 10px;
      display                 : block;
      border-bottom           : solid 3px @colorGray2;
      padding                 : 5px;

      @media (min-width : @tabletWidth) {
        padding        : 15px 5px;
        height         : auto;
        text-transform : uppercase;
      }

      // icon
      img {
        max-width : 24px;
        display   : block;
        margin    : 0 auto 4px auto;

        @media (min-width : @tabletWidth) {
          display : inline-block;
          margin  : 0 4px 0 0;
        }
      }
    }

    &:first-of-type {
      padding-left : 0;
    }

    &:last-of-type {
      padding-right : 0;

      @media (max-width : 445px) {
        // this is fucking joke
        > span {
          text-align : left;
          padding    : 11px 0;

          img {
            display : inline-block;
            float   : left;
            margin  : 5px 2px;
          }
        }
      }
    }
  }
}

.tab-content-switcher {

  + div {
    display : none;
  }

  &:checked + div {
    display : block;
  }
}
