.tag {
  .bsbb();
  background-color : @colorGray2;
  color            : @colorGray3;
  border-radius    : 50px;
  font-size        : .8rem;
  padding          : 3px 9px;
  margin-bottom    : 2px;
  border           : solid 1px @colorGray2;

  &.tag_main {
    background-color : transparent;
    border           : solid 1px @colorMainRed;
    color            : @colorMainRed;

    &:before {
      content          : '';
      display          : inline-block;
      border-radius    : 50%;
      background-color : @colorMainRed;
      width            : 12px;
      height           : 12px;
      margin-right     : 5px;
      position         : relative;
      left             : -4px;
      top              : 1px;
    }

    &.tag_orange {
      border-color : @colorMainOrange;
      color        : @colorMainOrange;

      &:before {
        background-color : @colorMainOrange;
      }
    }

    &.tag_red {
      border-color : @colorMainRed;
      color        : @colorMainRed;

      &:before {
        background-color : @colorMainRed;
      }
    }

    &.tag_black {
      border-color : @colorBlack;
      color        : @colorBlack;

      &:before {
        background-color : @colorBlack;
      }
    }

    &.tag_gray {
      border-color : @colorGray3;
      color        : @colorGray3;

      &:before {
        background-color : @colorGray3;
      }
    }

    &.tag_green {
      border-color : @colorMainGreen;
      color        : @colorMainGreen;

      &:before {
        background-color : @colorMainGreen;
      }
    }
  }
}
