.tox-tinymce {
  border-radius : 5px !important;
}

.tox-toolbar__primary {
  border-top : none !important;
}

.tox .tox-toolbar__group {
  width            : 100%;
  justify-content  : flex-end;
  background-color : #f3f3f3;
}
