.tooltipx {
  background: @colorMainOrange;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  display: none;
  max-width: 200px;
  padding: 1rem 2rem 1rem 1rem;
}

.tooltipx .close {
  font-size: 2rem;
  position: absolute;
  top: .5rem;
  right: .5rem;
  line-height: 1rem;
  cursor: pointer;
}

.tooltipx[data-show] {
  display: block;
}

.tooltipx[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

.tooltipx[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

.tooltipx[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

.tooltipx[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
