
div.about {
  display: block;
  width: 100%;
  background: @colorMainGreyLight;
  padding: 50px 0;

  div.about-box {
    display: block;
    float: left;
    margin-right: 30px;
    width: calc(~"50% - 15px");
    background: @colorMainWhite;
    border-top: 2px solid @colorMainOrange;

    h2 {
      padding-top: 100px;
    }

    table {
      border-collapse: collapse;
      margin: 25px 25px 35px 25px;
      display: block;
      font-weight: 300;
      line-height: 25px;
      font-size: 14px;

      tr {

        th {
          color: @colorMainOrange;
          font-weight: 300;
          padding-right: 20px;
        }

        td {
          padding-left: 10px;
          color: @colorMainBlack;
        }
      }
    }

    ul.media {
      display: block;
      padding: 30px 30px 0 30px;

      li {
        display: block;
        height: 86px;
        padding-bottom: 40px;

        img {
          width: 86px;
          float: left;
        }

        p {
          font-size: 12px;
          font-weight: 300;
          padding: 20px 30px;
          height: 46px;
          float: right;
          width: calc(~"100% - 146px");
          background: @colorMainGreyLight;
        }

        span {
          display: block;
          text-align: right;
          font-size: 12px;
          color: @colorMainOrange;
          font-weight: 500;
          padding-top: 5px;
        }
      }
    }

    &.about-box-reference {
      background: url("../../images/icon-megaphone.png") no-repeat center 10px @colorMainWhite;
      background-size: 80px 80px;
    }

    &.about-box-calendar {
      background: url("../../images/icon-calendar.png") no-repeat center 10px @colorMainWhite;
      background-size: 80px 80px;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 830px) {

  div.about {
    padding-bottom: 1px;

    div.about-box {
      float: none;
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 30px;

      table {
        display: table;
        width: auto;
        margin: 25px auto 35px auto;
      }
    }
  }
}

@media (max-width: 750px) {

  div.about {

    div.about-box {

      table {
        display: block;
        width: calc(~"100% - 50px");
        margin: 25px;
      }

      ul.media {

        li {
          height: auto;

          img {
            display: block;
            float: none;
            margin-left: auto;
            margin-right: auto;
            border-radius: 86px;
          }

          p {
            float: none;
            display: block;
            width: 100%;
            background: none;
            padding: 20px 0;
            line-height: 1.4;
            text-align: justify;
          }
        }
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  div.about {

    div.about-box {

      &.about-box-reference {
        background: url("../../images/icon-megaphone@2x.png") no-repeat center 10px @colorMainWhite;
        background-size: 80px 80px;
      }

      &.about-box-calendar {
        background: url("../../images/icon-calendar@2x.png") no-repeat center 10px @colorMainWhite;
        background-size: 80px 80px;
      }
    }
  }
}
