.blog.detail.aboutpage {

  div.academy.academy-feed-n div.academy-detail h2 {
    border-bottom : solid 1px @colorDSGrey;

    .icon {
      top          : 7px;
      margin-right : 10px;
    }
  }

  div.academy.academy-feed-n div.academy-detail div.info {
    margin-top : 20px;
  }

  .info-tags {
    display     : inline-block;
    margin-left : 0;
  }

  .js-share {
    width : 75px;
  }

  .page-sidebar-item.blog-feed {

    h2 {
      padding-left : 63px;
      background   : url("../../images/icon-blog.png") 20px 20px no-repeat;
    }

    ul li {
      padding       : 20px;
      border-bottom : solid 1px @colorDSGrey;

      &:last-of-type {
        border-bottom : 0;
      }

      img {
        float     : left;
        max-width : 50px;
        height    : 50px;
      }

      a {
        display    : inline-block;
        float      : right;
        margin-top : 5px;
        width      : calc(~"100% - 70px");
      }
    }

    .show-blog {
      width      : 100%;
      background : @colorMainOrange;
      display    : block;
      color      : @colorMainWhite;
      text-align : center;
      padding    : 5px 20px;
      box-sizing : border-box;

      .icon {
        float : right;
      }
    }
  }
}
