
div.academy.academy-feed, div.academy.academy-feed-n {
  display: block;
  width: 100%;
  min-width: 768px;

  div.container {
    overflow: visible;
  }

  div.academy-actions {
    float: right;
    width: calc(~"25% - 20px");
    padding-left: 20px;

    &.fixed {
      position: fixed;
      width: 224px;
      top: 20px;
      right: calc(~"(100% - 978px) / 2");
    }

    & > ul {
      display: block;
      width: 100%;

      li {
        display: block;
        width: 100%;
        line-height: 32px;
        font-size: 12px;
        margin-bottom: 10px;

        a {
          display: block;
          width: calc(~"100% - 38px");
          line-height: 32px;
          background: @colorMainOrange;
          color: @colorMainWhite;
          font-size: inherit;
          text-transform: uppercase;
          padding: 0 0 0 38px;
          background-repeat: no-repeat;
          background-position: 9px center;

          &:active {
            background-color: darken(@colorMainOrange, 10%);
          }

          &.link-action-advice {
            background-image: url("../../images/icon-action-add-advice.png");

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background-image: url("../../images/icon-action-add-advice@2x.png");
              background-size: 20px 20px;
            }
          }

          &.link-action-help {
            background-image: url("../../images/icon-action-help.png");

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background-image: url("../../images/icon-action-help.png");
              background-size: 20px 20px;
            }
          }

          &.link-action-add-post {
            background-image: url("../../images/icon-action-add-post.png");

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background-image: url("../../images/icon-action-add-post@2x.png");
              background-size: 20px 20px;
            }
          }

          &.link-action-add-issue {
            background-image: url("../../images/icon-action-add-issue.png");

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background-image: url("../../images/icon-action-add-issue@2x.png");
              background-size: 20px 20px;
            }
          }
        }

        &.help {
          border-top: 3px solid @colorMainRed;
          background: @colorMainWhite;

          strong {
            font-size: 28px;
            font-weight: normal;
            color: @colorMainRed;
            display: block;
            text-align: center;
            line-height: 43px;

            i.icon-help {
              display: inline-block;
              background: url("../../images/icon-action-help-red.png") no-repeat center;
              width: 20px;
              height: 20px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-action-help-red@2x.png") no-repeat center;
                background-size: 20px 20px;
              }
            }
          }

          span {
            display: block;
            font-size: 14px;
            text-align: center;
            color: @colorMainBlack;
            line-height: 1;
          }

          a {
            margin-top: 13px;
            background-color: @colorMainRed;

            &:active {
              background-color: darken(@colorMainRed, 10%);
            }
          }
        }
      }
    }

    div.posts-stats {
      padding: 12px 0;
      text-align: center;

      strong {
        display: block;
        font-size: 28px;
        color: @colorMainOrange;
        font-weight: normal;
        line-height: 42px;

        i.icon {
          display: inline-block;
          width: 24px;
          height: 24px;

          position: relative;
          bottom: -2px;

          &.icon-heart {
            background: url("../../images/icon-heart.png") no-repeat center;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: url("../../images/icon-heart@2x.png") no-repeat center;
              background-size: 24px 24px;
            }
          }

          &.icon-post {
            background: url("../../images/icon-text.png") no-repeat center;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: url("../../images/icon-text@2x.png") no-repeat center;
              background-size: 24px 24px;
            }
          }
        }
      }

      span {
        display: block;
        font-size: 14px;
        color: @colorMainBlack;
        font-weight: bold;
      }

      ul {
        display: block;
        margin-top: 15px;

        li {
          font-size: 12px;

          small {
            font-size: 12px;
            color: #868686;
          }

          a {
            color: @colorMainOrange;
            text-decoration: underline;
          }
        }
      }
    }
  }

  div.academy-posts {
    border-top: 3px solid @colorMainOrange;
    display: block;
    width: 75%;
    background: @colorMainWhite;
    float: left;

    &.academy-posts_blog {
      width: 100%;
      float: none;
      border: 0;
    }

    h2 {
      font-size: 18px;
      color: @colorMainBlack;
    }

    div.filter {
      display: block;
      margin: 0 20px 45px 20px;
      padding: 0 15px;
      background: @colorMainGreyLight;
      position: relative;
      height: 127px;

      div.filter-compact {

        div.filter-base {
          line-height: 54px;
          border-bottom: 1px solid darken(@colorMainGreyLight, 10%);

          label {
            display: inline;
            font-size: 12px;
            color: @colorMainBlack;
            font-weight: 100;
            text-transform: uppercase;
          }

          ul.show {
            display: inline-block;

            li {
              display: inline-block;
              padding-left: 25px;

              label {
                color: lighten(@colorMainBlack, 50%);
                cursor: pointer;
              }
            }
          }

          select {
            display: block;
            line-height: 30px;
            font-size: 12px;
            font-weight: 100;
            appearance: none;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            outline: none;
            border: 1px solid darken(@colorMainGreyLight, 10%);
            border-radius: 0;
            background: @colorMainWhite url("../../images/icon-select-arrow.png") no-repeat right center;
            padding: 0 27px 0 6px;
            margin-top: 12px;
            margin-left: 12px;
            min-height: 30px;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: @colorMainWhite url("../../images/icon-select-arrow@2x.png") no-repeat right center;
              background-size: 20px 14px;
            }
          }

          input[type="checkbox"] {
            display:none;
          }

          input[type="checkbox"] + label span {
            display:inline-block;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            background: url("../../images/icon-checkbox.png") no-repeat;
            margin-right: 5px;
            position: relative;
            top: -2px;
            cursor: pointer;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: url("../../images/icon-checkbox@2x.png") no-repeat;
              background-size: 16px 16px;
            }
          }

          input[type="checkbox"]:checked + label span {
            background: url("../../images/icon-checkbox-selected.png") no-repeat;
            background-size: 16px 16px;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: url("../../images/icon-checkbox-selected@2x.png") no-repeat;
              background-size: 16px 16px;
            }
          }

          input[type="checkbox"]:checked + label {
            font-weight: bold;
            color: @colorMainBlack;
          }

          .pull-right {
            float: right;
          }
        }

        div.filter-search {
          display: inline-block;
          width: 65%;
          line-height: 67px;
          height: 67px;


          div.search-control {
            display: block;
            float: left;
            padding-right: 20px;
            padding-top: 18px;

            input[type=search] {
              display: block;
              -webkit-appearance: none;
              outline: none;
              border: 1px solid darken(@colorMainGreyLight, 10%);
              border-right: none;
              border-radius: 0;
              line-height: 30px;
              padding: 0 12px;
              font-size: 12px;
              color: @colorMainBlack;
              width: 146px;
              float: left;

              &:focus {
                border: 1px solid darken(@colorMainGreyLight, 20%);
                border-right: none;
              }
            }

            input[type=submit] {
              display: block;
              -webkit-appearance: none;
              outline: none;
              border: none;
              background: url("../../images/icon-btn-search.png") no-repeat center @colorMainOrange;
              text-indent: -9999px;
              width: 32px;
              height: 32px;
              border-radius: 0;
              float: left;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-btn-search@2x.png") no-repeat center @colorMainOrange;
                background-size: 17px 17px;
              }

              &:hover {
                background-color: lighten(@colorMainOrange, 5%);
              }

              &:active {
                background-color: darken(@colorMainOrange, 10%);
              }
            }
          }

          div.check {
            float: left;
            height: 67px;

            label {
              display: block;
              font-size: 12px;
              line-height: 67px;
              color: lighten(@colorMainBlack, 50%);
              cursor: pointer;
            }

            input[type="checkbox"] {
              display:none;
            }

            input[type="checkbox"] + label span {
              display:inline-block;
              width: 16px;
              height: 16px;
              vertical-align: middle;
              background: url("../../images/icon-checkbox.png") no-repeat;
              margin-right: 5px;
              position: relative;
              top: -1px;
              cursor: pointer;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-checkbox@2x.png") no-repeat;
                background-size: 16px 16px;
              }
            }

            input[type="checkbox"]:checked + label span {
              background: url("../../images/icon-checkbox-selected.png") no-repeat;
              background-size: 16px 16px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-checkbox-selected@2x.png") no-repeat;
                background-size: 16px 16px;
              }
            }

            input[type="checkbox"]:checked + label {
              font-weight: bold;
              color: @colorMainBlack;
            }
          }
        }

        button.btn-toggle {
          display: block;
          float: right;
          -webkit-appearance: none;
          outline: none;
          background: url("../../images/icon-filter.png") no-repeat left center;
          border: none;
          color: @colorMainOrange;
          font-size: 14px;
          line-height: 67px;
          padding-left: 30px;
          width: 115px;
          text-align: left;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-filter@2x.png") no-repeat left center;
            background-size: 17px 17px;
          }

          &:active {
            opacity: .7;
          }
        }
      }

      div.filter-full {
        position: absolute;
        left: 0;
        width: 100%;
        top: 127px;
        background: @colorMainGreyLight;
        z-index: 200;
        display: none;

        &:before {
          content: "";
          display: block;
          width: calc(~"100% - 30px");

          position: absolute;
          top: -11px;
          left: 15px;

          height: 11px;
          background: url("../../images/line-filter.png") repeat-x right;
          background-position: 22px 0;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/line-filter@2x.png") repeat-x right;
            background-size: 643px 11px;
          }
        }

        fieldset {
          display: block;
          margin: 25px 15px;
          padding: 0;
          border: none;
          border-bottom: 1px solid darken(@colorMainGreyLight, 10%);

          &:last-of-type {
            margin-bottom: 15px;
          }

          legend {
            display: block;
            font-size: 12px;
            color: @colorMainBlack;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1;
            padding-bottom: 25px;
          }

          ul {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;

            li {
              display: block;
              width: calc(~"50% - 30px");
              float: left;
              line-height: 34px;
              font-size: 12px;
              margin-bottom: 15px;

              &:nth-child(2n) {
                float: right;
              }

              label {
                display: inline-block;
                text-transform: uppercase;
                width: 120px;
              }

              select, input[type=text] {
                display: inline-block;
                width: calc(~"100% - 123px");
                line-height: 32px;
                font-size: 12px;
                font-weight: 100;
                appearance: none;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                outline: none;
                border: 1px solid darken(@colorMainGreyLight, 10%);
                border-radius: 0;
                background: @colorMainWhite url("../../images/icon-select-arrow.png") no-repeat right center;
                padding: 0 27px 0 6px;
                min-height: 32px;

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                  background: @colorMainWhite url("../../images/icon-select-arrow@2x.png") no-repeat right center;
                  background-size: 20px 14px;
                }
              }

              input[type=text] {
                background-image: none;
                padding: 0 6px;
                width: calc(~"100% - 137px");
              }
            }
          }
        }

        input[type=submit] {
          display: block;
          padding: 8px 50px;
          background: @colorMainOrange;
          border: none;
          font-size: 12px;
          -webkit-appearance: none;
          border-radius: 5px;
          margin: 0 15px 15px 15px;
          text-transform: uppercase;
          color: @colorMainWhite;
          font-weight: bold;
          float: right;
          outline: none;

          -webkit-box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);
          -moz-box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);
          box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);

          &:active {
            background: darken(@colorMainOrange, 10%);
          }
        }
      }

      &.filter-active div.filter-full {
        display: block;
      }
    }

    div.loader {
      display: block;
      width: 100%;
      position: relative;
      text-align: center;
      padding: 50px 0;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        border-top: 1px solid darken(@colorMainGreyLight, 20%);

        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

@media (max-width: 1020px) {

  div.academy.academy-feed {

    div.academy-actions {
      float: none;
      width: 100%;
      padding: 0;

      &.fixed {
        position: static;
        width: 100%;
        top: auto;
        right: auto;
      }

      & > ul {
        float: left;
        width: 66.6%;

        li {
          width: calc(~"50% - 12px");
          float: left;

          &.help {
            margin-right: 24px;
            margin-bottom: 0;

            strong {
              line-height: 54px;
            }
          }
        }
      }

      div.posts {
        float: left;
        width: 33.3%;

        div.posts-stats {
          line-height: 63px;
          text-align: left;
          padding: 0 0 0 24px;
          height: 63px;

          strong {
            width: 80px;
            display: inline-block;
            text-align: center;

            i {

            }
          }

          span {
            display: inline-block;
            line-height: 63px;
            position: relative;
            top: -5px;
          }

          ul {
            display: none;
          }
        }
      }
    }

    div.academy-posts {
      float: none;
      width: 100%;
      margin-top: 10px;
    }
  }
}


@-moz-document url-prefix() {

  div.academy.academy-feed select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: @colorMainWhite !important;
    padding: 6px !important;
  }
}
