
div.academy.academy-feed-n div.academy-subcategory {
  background: @colorMainWhite;
  float: left;
  width: calc(~"75%");
  border-top: 3px solid @colorMainOrange;
  display: block;

  h2 {
    font-size: 18px;
    color: @colorMainBlack;
    border-bottom: 1px solid #dcdcdc;
    height: 37px;
    padding-top: 4px;

    i {
      display: inline-block;
      width: 50px;
      height: 35px;
      background: url("../../images/brand-academy.png") no-repeat left center;
      background-size: 50px 35px;
      position: relative;
      right: 5px;
      top: 8px;
    }
  }

  ul.path {
    display: block;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    li {
      display: inline-block;
      font-size: 12px;
      line-height: 36px;
      background: url("../../images/path-arrow.png") no-repeat right center;
      padding-right: 20px;

      &:last-child {
        background: none;
        padding-right: 0;
      }

      a {
        color: #000000;
        margin-left: 10px;

        &.home {
          display: block;
          background: url("../../images/academy-greyscale.png") no-repeat center;
          width: 25px;
        }

        span.badge {
          color: #ffffff;
          font-size: 12px;
          font-weight: bold;
          border-radius: 50%;
          display: inline-block;
          width: 16px;
          height: 16px;
          line-height: 16px;
          padding: 1px;
          text-align: center;
          margin-right: 1px;

          &.badge-green {
            background: #2fcc71;
          }

          &.badge-blue {
            background: #3598dc;
          }

          &.badge-purple {
            background: #9c59b8;
          }

          &.badge-orange {
            background: #ef8413;
          }
        }

      }

      strong {
        margin-left: 10px;
        text-transform: uppercase;
      }
    }
  }

  div.filter {
    margin: 20px;
    background: #f3f3f3;
    padding: 20px;

    div.search-control {
      display: block;
      float: left;
      padding-right: 50px;

      input[type=search] {
        display: block;
        -webkit-appearance: none;
        outline: none;
        border: 1px solid darken(@colorMainGreyLight, 10%);
        border-right: none;
        border-radius: 0;
        line-height: 30px;
        padding: 0 12px;
        font-size: 12px;
        color: @colorMainBlack;
        width: 146px;
        float: left;

        &:focus {
          border: 1px solid darken(@colorMainGreyLight, 20%);
          border-right: none;
        }
      }

      input[type=submit] {
        display: block;
        -webkit-appearance: none;
        outline: none;
        border: none;
        background: url("../../images/icon-btn-search.png") no-repeat center @colorMainOrange;
        text-indent: -9999px;
        width: 32px;
        height: 32px;
        border-radius: 0;
        float: left;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-btn-search@2x.png") no-repeat center @colorMainOrange;
          background-size: 17px 17px;
        }

        &:hover {
          background-color: lighten(@colorMainOrange, 5%);
        }

        &:active {
          background-color: darken(@colorMainOrange, 10%);
        }
      }
    }

    label {
      display: inline;
      font-size: 12px;
      color: @colorMainBlack;
      font-weight: 100;
      text-transform: uppercase;
    }

    select {
      display: inline-block;
      line-height: 30px;
      font-size: 12px;
      font-weight: 100;
      appearance: none;
      -moz-appearance:none; /* Firefox */
      -webkit-appearance:none; /* Safari and Chrome */
      outline: none;
      border: 1px solid darken(@colorMainGreyLight, 10%);
      border-radius: 0;
      background: @colorMainWhite url("../../images/icon-select-arrow.png") no-repeat right center;
      padding: 0 27px 0 6px;
      margin-left: 12px;
      min-height: 32px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: @colorMainWhite url("../../images/icon-select-arrow@2x.png") no-repeat right center;
        background-size: 20px 14px;
      }
    }

    button.btn-toggle {
      display: block;
      float: right;
      -webkit-appearance: none;
      outline: none;
      background: url("../../images/icon-filter.png") no-repeat left center;
      border: none;
      color: @colorMainOrange;
      font-size: 14px;
      line-height: 32px;
      padding-left: 30px;
      width: 115px;
      text-align: left;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/icon-filter@2x.png") no-repeat left center;
        background-size: 17px 17px;
      }

      &:active {
        opacity: .7;
      }
    }
  }

  div.post {
    border-top: 1px solid #dcdcdc;
    display: block;
    width: calc(~"100% - 40px");
    padding: 20px;
    position: relative;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    span.path {
      line-height: 25px;
      display: block;
      float: left;
      font-size: 12px;
      color: #000000;
      position: relative;
      left: -5px;

      a {
        color: #ef8413;
        margin-right: 5px;
        margin-left: 5px;
        text-decoration: underline;
      }
    }

    span.date {
      color: #a3a3a3;
      line-height: 25px;
      display: block;
      float: right;
      font-size: 12px;

      strong {
        font-weight: normal;
        color: #000000;
      }
    }

    img {
      width: 223px;
      display: block;
      float: left;
      margin-right: 20px;
    }

    div.post-content {
      width: 290px;
      float: left;

      &.post-content-noimage {
        width: 533px;
      }

      h4 {
        color: #ef8413;
        font-size: 18px;
        padding-bottom: 20px;
      }

      p {
        color: #959595;
        font-size: 12px;
        line-height: 16px;
      }
    }

    div.post-box {
      display: block;
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 130px;

      span.box-title {
        display: block;
        width: 100%;
        line-height: 22px;
        text-transform: uppercase;
        color: @colorMainWhite;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
      }

      ul {
        display: block;

        li {
          display: block;
          width: 100%;
          background: @colorMainGreyLight;
          line-height: 40px;
          text-align: center;

          &.likes {
            line-height: 44px;
            margin-bottom: 2px;

            span.count {
              display: inline-block;
              font-size: 28px;
              line-height: 44px;
              padding: 0 13px;
            }
          }

          &.other {
            text-align: left;
            padding-right: 10px;
            width: calc(~"100% - 10px");

            span.views {
              float: left;
              font-size: 14px;
              color: #a3a3a3;
              background: url("../../images/icon-eye.png") no-repeat right;
              padding-right: 25px;
              padding-left: 10px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-eye@2x.png") no-repeat right;
                background-size: 21px 21px;
              }
            }

            a.comments {
              float: right;
              color: @colorMainOrange;
              background: url("../../images/icon-message-small.png") no-repeat right;
              text-decoration: underline;
              padding-right: 23px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-message-small@2x.png") no-repeat right;
                background-size: 21px 21px;
              }
            }
          }

          &.days {
            font-size: 11px;
            color: @colorMainWhite;

            strong {
              font-size: 16px;
              color: inherit;
            }

            i.icon-wallet {
              display: inline-block;
              width: 19px;
              height: 19px;
              line-height: 42px;
              background: url("../../images/icon-wallet-white.png") no-repeat center;
              position: relative;
              top: 4px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-wallet-white@2x.png") no-repeat center;
                background-size: 19px 19px;
              }
            }
          }

          button.btn-like {
            display: inline-block;
            width: 21px;
            height: 44px;
            -webkit-appearance: none;
            outline: none;
            border: none;
            background: url("../../images/icon-like.png") no-repeat center 7px;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: url("../../images/icon-like@2x.png") no-repeat center 7px;
              background-size: 21px 21px;
            }

            &.btn-like-down {
              background: url("../../images/icon-like.png") no-repeat center 12px;
              -ms-transform: rotate(180deg); /* IE 9 */
              -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
              transform: rotate(180deg);

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-like@2x.png") no-repeat center 12px;
                background-size: 21px 21px;
              }
            }

            &.btn-disabled {
              opacity: .5;
              cursor: default;
            }

            &.btn-active {
              background: url("../../images/icon-like-active.png") no-repeat center 7px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-like-active@2x.png") no-repeat center 7px;
                background-size: 21px 21px;
              }

              &.btn-like-down {
                background: url("../../images/icon-like-active.png") no-repeat center 12px;

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                  background: url("../../images/icon-like-active@2x.png") no-repeat center 12px;
                  background-size: 21px 21px;
                }
              }
            }
          }
        }

      }
    }
  }

  div.subcategories {
    border-top: 1px solid #dcdcdc;
    display: block;
    width: calc(~"100% - 40px");
    padding: 20px;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .3;

      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */

    }

    h5 {
      color: #a3a3a3;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: normal;
      line-height: 20px;
    }

    ul {
      padding: 15px 0 20px 0;

      li {
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        text-transform: uppercase;
        width: 25%;
        float: left;

        a {
          color: #ef8413;

          span.grey {
            color: #a3a3a3;
            font-weight: bold;
          }
        }
      }
    }
  }

  div.loader {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 50px 0;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      border-top: 1px solid #dcdcdc;

      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
