
div.academy.academy-feed-n div.academy-related {
  background: @colorMainWhite;
  float: right;
  width: calc(~"25% - 20px");
  border-top: 3px solid @colorMainOrange;
  display: block;
  margin-bottom: 20px;

  h2 {
    font-size: 14px;
    color: @colorMainBlack;
    border-bottom: 1px solid #dcdcdc;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;

    i {
      display: inline-block;
      width: 37px;
      height: 24px;
      background: url("../../images/academy-related-lesson-logo.png") no-repeat left center;
      background-size: 37px 24px;
      position: relative;
      right: 5px;
      top: 3px;
      float: left;
    }

    span {
      float: left;
      padding-left: 10px;
    }
  }

  &.academy-related-issues h2 {

    i {
      width: 35px;
      height: 33px;
      background: url("../../images/academy-related-issue-icon.png") no-repeat left center;
      background-size: 35px 33px;
      top: 8px;
    }
  }

  &.academy-related-persons h2 {

    i {
      width: 38px;
      height: 34px;
      background: url("../../images/icon-person.png") no-repeat left center;
      background-size: 38px 34px;
      top: -1px;
    }
  }

  ul.links {
    display: block;
    padding: 20px 20px 10px;

    li {
      font-size: 12px;
      padding-bottom: 10px;

      a {
        color: @colorMainOrange;
        text-decoration: underline;
      }
    }
  }

  img {
    width: 100%;
  }

  div.academy-related-footer {
    border-top: 1px solid #dcdcdc;
    padding: 20px;

    a.btn-more {
      display: block;
      color: @colorMainOrange;
      font-size: 12px;
      font-weight: normal;
      text-transform: uppercase;
      float: right;
      background: url("../../images/icon-show.png") no-repeat right center;
      padding-right: 22px;
    }
  }

  a.btn-go {
    display: block;
    color: #FFFFFF;
    background: @colorMainOrange;
    width: 100%;
    text-align: center;
    line-height: 32px;
    height: 32px;
    text-transform: uppercase;
    font-size: 12px;
  }
}
