
div.academy.academy-feed div.academy-posts {

  div.post {
    display: block;
    width: calc(~"100% - 40px");
    padding: 20px;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      border-top: 1px solid darken(@colorMainGreyLight, 20%);

      position: absolute;
      top: 0;
      left: 0;
    }

    .delete {
      position    : absolute;
      right       : 10px;
      top         : 10px;
      font-weight : bold;
      font-size   : 20px;
      color       : @colorDSBlack;
    }

    .comment-info {
      margin-top : 20px;
      font-size  : 14px;

      small {
        color : @colorDSGreyDark;
      }

      .red {
        color          : @colorMainRed;
        text-transform : uppercase;
      }

      a {
        text-decoration : underline;
      }
    }

    &.post-help {
      padding: 20px 20px 20px 15px;

      div.post-edit {

        button.post-edit-button {
          left: -37px;
        }

        ul.post-edit-menu {
          left: -5px;
        }
      }

      &.post-help-request {
        border-left: 5px solid @colorMainRed;

        div.post-content {

          span.title {
            color: @colorMainRed;
          }
        }

        div.post-box {

          span.box-title, ul li.days {
            background: @colorMainRed;
          }
        }
      }

      &.post-help-solved {
        border-left: 5px solid @colorMainGreen;

        div.post-content {

          span.title {
            color: @colorMainGreen;
          }
        }

        div.post-box {

          span.box-title, ul li.days {
            background: @colorMainGreen;
          }
        }
      }

      &.post-help-nonsolved {
        border-left: 5px solid #a3a3a3;

        div.post-content {

          span.title {
            color: #a3a3a3;
          }
        }

        div.post-box {

          span.box-title, ul li.days {
            background: #a3a3a3;
          }
        }
      }

      &.post-help-comment {

        div.post-box {
          bottom : initial;
          top    : 80px;

          span.box-title, ul li.days {
            background : #A3A3A3;
          }
        }
      }
    }

    &.post-forum {

      div.post-heading {

      }

      div.post-box {

        span.box-title {
          background: #6a6a6a;
        }
      }
    }

    &.post-academy {

      div.post-heading {

        small {
          line-height: 1;
          clear: both;
          float: none;
          margin-left: 0;
        }
      }

      div.post-box {

        span.box-title {
          background: @colorMainBlack;
        }
      }
    }

    &.post-file {

      div.post-box {
        bottom : initial;
        top    : 80px;

        span.box-title {
          background: @colorMainBlue;
        }
      }

      .post-content {
        min-height: 110px;

        .file-square {
          margin-right : 20px;
        }

        .file-name {
          color:@colorMainOrange;
          display: block;
        }

        .file-desc {}

        .btn-download {
          text-transform: uppercase;
          display: block;

          &:before {
            content: '';
            background: url(../../images/icon-download.png) center center no-repeat;
            width: 17px;
            height: 21px;
            margin-right: 10px;
            display: inline-block;
            position: relative;
            top:7px;
          }
        }
      }
    }

    div.post-heading {
      line-height: 40px;
      margin-bottom: 20px;

      span.name {
        display: block;
        float: left;
        line-height: 40px;
        font-size: 12px;
        color: lighten(@colorMainGrey, 20%);

        span.badge {
          display: inline-block;
          color: @colorMainWhite;
          background: @colorMainOrange;
          line-height: 20px;
          border-radius: 20px;
          font-size: 12px;
          font-weight: bold;
          width: 20px;
          height: 20px;
          text-align: center;
          margin-right: 3px;
        }

        strong {
          display: inline-block;
          float: none;
          line-height: 40px;
        }
      }

      span.breadcrumb {
        float: left;
        display: block;
        line-height: 40px;
        font-size: 12px;
        position: relative;
        left: 15px;
        top: 1px;

        a {
          line-height: 40px;
          font-size: inherit;
          color: @colorMainOrange;
          text-decoration: underline;

          strong {
            line-height: 40px;
            font-size: inherit;
            display: inline;
            float: none;
            font-weight: bold;
          }
        }
      }

      div.image {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 20px;

        img {
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 40px;

          position: absolute;
          left: 0;
          top: 0;
        }

        span.badge {
          display: block;
          width: 19px;
          line-height: 19px;
          height: 19px;
          text-align: center;
          font-size: 11px;
          color: @colorMainWhite;
          background: @colorMainGrey;
          border-radius: 19px;
          border: 1px solid @colorMainWhite;
          position: absolute;
          right: -10px;
          top: 10px;
          overflow: hidden;
        }
      }

      strong {
        display: block;
        float: left;
        color: @colorMainOrange;
        font-size: 14px;
        font-weight: normal;
      }

      div.rating {
        margin: 0 0 0 10px;
        font-size:0;
        white-space:nowrap;
        display:block;
        float: left;
        width:57px;
        height:19px;
        overflow:hidden;
        position:relative;
        background: url("../../images/icon-stars.png");
        background-size: contain;
        top: 10px;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-stars@2x.png");
          background-size: contain;
        }

        i {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 33%;
          z-index: 1;
          background: url("../../images/icon-star-active.png");

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-star-active@2x.png");
            background-size: 19px 19px;
          }
        }

        input {
          -moz-appearance:none;
          -webkit-appearance:none;
          opacity: 0;
          display:inline-block;
          width: 33%;
          height: 100%;
          margin:0;
          padding:0;
          z-index: 2;
          position: relative;

          &:hover + i,
          &:checked + i{
            opacity:1;
          }

          &[disabled]:hover + i{
            opacity: 0;
          }

          &[disabled]:checked + i {
            opacity: 1;
          }
        }

        i ~ i{
          width: 66%;
        }
        i ~ i ~ i{
          width: 100%;
        }
      }

      small {
        display: block;
        float: left;
        font-size: 12px;
        color: lighten(@colorMainGrey, 20%);
        line-height: 40px;
        margin-left: 17px;

        strong {
          float: none;
          display: inline;
          color: @colorMainBlack;
          font-size: inherit;
        }
      }
    }

    div.post-content {
      width: calc(~"100% - 170px");

      img {
        display: block;
        float: left;
        max-width: 130px;
        margin-right: 20px;
      }

      span.subtitle {
        display: block;
        font-size: 16px;
        line-height: 1;
        color: @colorMainBlack;
        font-weight: bold;
      }

      span.category {
        font-size: 12px;
        display: block;
        color: #a3a3a3;
        background: url("../../images/icon-speech.png") no-repeat left center;
        line-height: 15px;
        padding-left: 25px;
      }

      span.title {
        display: block;
        padding: 10px 0;
        line-height: 1.2;
        font-size: 18px;
        font-weight: bold;
        color: @colorMainOrange;
      }

      p {
        font-size: 12px;
        color: @colorMainGrey;
        line-height: 1.5;
      }

      ul.comments {

        li {
          line-height: 19px;
          font-size: 12px;
          list-style-type: none;
          padding-bottom: 0;

          small {
            display: inline-block;
            width: 100px;
            font-size: inherit;
          }

          a {
            display : inline;
          }
        }
      }
    }

    div.post-box {
      display: block;
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 130px;

      span.box-title {
        display: block;
        width: 100%;
        line-height: 22px;
        text-transform: uppercase;
        color: @colorMainWhite;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
      }

      ul {
        display: block;
        padding: 0;

        li {
          display: block;
          width: 100%;
          background: @colorMainGreyLight;
          line-height: 40px;
          text-align: center;
          margin-bottom: 2px;
          padding-bottom: 0;
          list-style-type: none;

          &.likes {
            line-height: 44px;

            &.likes-disabled {

              .count {
                padding: 0;
              }
            }

            > span {
              font-size: 20px;
              line-height: 44px;
            }

            .count {
              padding: 0 13px;

              &.green {
                color: @colorMainGreen;
                margin-right: 5px;
              }

              &.red {
                color: @colorMainRed;
              }
            }
          }

          &.other {
            text-align: left;
            padding-right: 10px;
            width: calc(~"100% - 10px");

            span.views {
              float: left;
              font-size: 14px;
              color: #a3a3a3;
              background: url("../../images/icon-eye.png") no-repeat right;
              padding-right: 25px;
              padding-left: 10px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-eye@2x.png") no-repeat right;
                background-size: 21px 21px;
              }
            }

            a.comments {
              float: right;
              color: @colorMainOrange;
              background: url("../../images/icon-message-small.png") no-repeat right;
              text-decoration: underline;
              padding-right: 23px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-message-small@2x.png") no-repeat right;
                background-size: 21px 21px;
              }
            }
          }

          &.days {
            font-size: 11px;
            color: @colorMainWhite;

            strong {
              font-size: 16px;
              color: inherit;
            }

            i.icon-wallet {
              display: inline-block;
              width: 19px;
              height: 19px;
              line-height: 42px;
              background: url("../../images/icon-wallet-white.png") no-repeat center;
              position: relative;
              top: 4px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-wallet-white@2x.png") no-repeat center;
                background-size: 19px 19px;
              }
            }
          }

          &.rank {
            background: #d1ead7 url(../../images/icon-positive-rank.png) 10px center no-repeat;
            background-size: 21px 21px;
            padding: 10px 0 10px 42px;
            font-size: 11px;
            color: #3d7b2b;
            font-weight: bold;
            line-height: 12px;
            text-align: left;
            box-sizing: border-box;
          }

          button.btn-like {
            display: inline-block;
            width: 21px;
            height: 44px;
            -webkit-appearance: none;
            outline: none;
            border: none;
            background: url("../../images/icon-like.png") no-repeat center 7px;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: url("../../images/icon-like@2x.png") no-repeat center 7px;
              background-size: 21px 21px;
            }

            > span {
              display: none;
              position: absolute;
              white-space: nowrap;
              opacity: 1;
              color: #fff;
              background: rgba(0, 0, 0, .75);
              font-size: 10px;
              line-height: 15px;
              padding: 7px;
              border-radius: 2px;
              top: 100%;
              left: -200px;

              a {
                text-transform: uppercase;
                color: #fff;
                text-decoration: underline;
              }
            }

            &.btn-like-down {
              background: url("../../images/icon-dislike-black.png") no-repeat center 12px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-dislike-black@2x.png") no-repeat center 12px;
                background-size: 21px 21px;
              }

              &.btn-disabled {
                background : url("../../images/icon-dislike.png") no-repeat center 7px;

                @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
                  background      : url("../../images/icon-dislike-black@2x.png") no-repeat center 7px;
                  background-size : 21px 21px;
                }
              }
            }

            &.btn-disabled {
              cursor: default;
              position: relative;
              background: url("../../images/icon-like-gray.png") no-repeat center 7px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-like-gray@2x.png") no-repeat center 7px;
                background-size: 21px 21px;
              }

              &:hover {

                span {
                  display: inline-block;
                }
              }
            }

            &.btn-active {
              background: url("../../images/icon-like-active.png") no-repeat center 7px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-like-active@2x.png") no-repeat center 7px;
                background-size: 21px 21px;
              }

              &.btn-like-down {
                background: url("../../images/icon-like-active.png") no-repeat center 12px;

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                  background: url("../../images/icon-like-active@2x.png") no-repeat center 12px;
                  background-size: 21px 21px;
                }
              }
            }
          }
        }

      }
    }

    div.post-edit {

      button.post-edit-button {
        display: block;
        background: @colorMainWhite url("../../images/icon-pencil.png") no-repeat center;
        -webkit-appearance: none;
        border: none;
        outline: none;
        width: 32px;
        height: 70px;
        border-radius: 10px 0 0 10px;

        position: absolute;
        left: -32px;
        top: calc(~"50% - 35px");

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: @colorMainWhite url("../../images/icon-pencil@2x.png") no-repeat center;
          background-size: 15px 15px;
        }

        &.active {
          background: @colorMainBlack url("../../images/icon-pencil.png") no-repeat center;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: @colorMainBlack url("../../images/icon-pencil@2x.png") no-repeat center;
            background-size: 15px 15px;
          }
        }
      }

      ul.post-edit-menu {
        display: none;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;

        &.active {
          display: block;
        }

        li {
          display: block;
          width: auto;
          background: @colorMainBlack;
          color: @colorMainWhite;
          font-size: 12px;
          border-bottom: 1px solid lighten(@colorMainBlack, 20%);

          a {
            display: block;
            width: calc(~"100% - 34px");
            color: inherit;
            line-height: 31px;
            padding: 0 17px;
          }

          &:first-child {
            border-radius: 0 5px 0 0;
          }

          &:last-child {
            border-radius: 0 0 5px 0;
          }

          &:hover {
            background: lighten(@colorMainBlack, 10%);
          }
        }
      }
    }
  }

}

@media (max-width: 1050px) {

  div.academy.academy-feed div.academy-posts {

    div.post {

      &.post-help {

        div.post-edit {

          button.post-edit-button {
            left: -25px;
          }
        }
      }

      div.post-edit {

        button.post-edit-button {
          width: 20px;
          left: -20px;
        }
      }
    }
  }
}
