.preview .academy-detail {
  width: auto !important;
}

div.academy.academy-feed-n div.academy-detail,
.preview .academy-detail {
  background: @colorMainWhite;
  float: left;
  width: calc(~"75%");
  border-top: 3px solid @colorMainOrange;
  display: block;
  position: relative;

  div.detail-actions {
    position: fixed;
    top: 471px;
    transform: translateX(-100%);
    width: 30px;

    div.thumbs {
      background: #FFFFFF;
      width: 100%;
      border-radius: 5px 0 0 5px;

      button {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        border: none;
        outline: none;
        width: 100%;
        height: 30px;

        &.btn-thumbs-up {
          background: url("../../images/icon-detail-action-thumbs-up-rot.png") no-repeat center;
        }

        &.btn-thumbs-down {
          background: url("../../images/icon-detail-action-thumbs-down-rot.png") no-repeat center;
        }
      }

      .val {
        display: block;
        margin: 0;
        text-align: center;
        font-size: 23px;
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        cursor: pointer;
        min-width: 55px;
        min-height: 50px;

        &.red,
        &.green {
          font-size: 18px;
          left: -30px;
        }

        &.red {
          color: @colorMainRed;
        }

        &.green {
          color: @colorMainGreen;
          margin-top: 10px;
        }

        > .action-list {
          transform: rotate(-270deg) translateX(-35%) translateY(-35%);
          position: absolute;
          background: rgba(0, 0, 0, .75);
          border-radius: 2px;
          color: #FFF;
          font-size: 10px;
          white-space: nowrap;
          padding: 10px 5px;
          text-align: left;

          &.hidden {
            display: none;
          }

          li {
            padding-bottom: 4px;

            &:last-of-type {
              padding-bottom: 0;
            }
          }

          &:after {
            content: '';
            position: absolute;
            border-top: solid 5px rgba(0, 0, 0, 0.75);
            border-left: solid 5px transparent;
            border-right: solid 5px transparent;
            bottom: -5px;
            left: 8px;
            display: inline-block;
          }
        }
      }
    }

    button.btn-edit {
      display: block;
      background: #ffffff url("../../images/icon-pencil.png") no-repeat center;
      -webkit-appearance: none;
      border: none;
      outline: none;
      width: 30px;
      height: 70px;
      border-radius: 10px 0 0 10px;
      margin-top: 5px;
    }

    button.btn-up {
      display: block;
      background: @colorMainOrange url("../../images/icon-arrow-action-white.png") no-repeat center 9px;
      -webkit-appearance: none;
      border: none;
      outline: none;
      width: 30px;
      height: 30px;
      border-radius: 10px 0 0 10px;
      margin-top: 5px;
    }
  }

  h2 {
    font-size: 18px;
    color: @colorMainBlack;
    border-bottom: 1px solid #dcdcdc;
    height: 46px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 0;
    margin: 0;
    text-align: center;

    i {
      display: inline-block;
      width: 50px;
      height: 35px;
      background: url("../../images/brand-academy.png") no-repeat left center;
      background-size: 50px 35px;
      position: relative;
      right: 5px;
      top: 8px;
    }
  }

  ul.path {
    display: block;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    margin: 0;
    padding: 0;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    li {
      display: inline-block;
      font-size: 12px;
      line-height: 36px;
      background: url("../../images/path-arrow.png") no-repeat right center;
      padding-right: 20px;

      &:last-child {
        background: none;
        padding-right: 0;
      }

      a {
        color: #000000;
        margin-left: 10px;

        &.home {
          display: block;
          background: url("../../images/academy-greyscale.png") no-repeat center;
          width: 25px;
        }

        span.badge {
          color: #ffffff;
          font-size: 12px;
          font-weight: bold;
          border-radius: 50%;
          display: inline-block;
          width: 16px;
          height: 16px;
          line-height: 16px;
          padding: 1px;
          text-align: center;
          margin-right: 1px;

          &.badge-green {
            background: #2fcc71;
          }

          &.badge-blue {
            background: #3598dc;
          }

          &.badge-purple {
            background: #9c59b8;
          }

          &.badge-orange {
            background: #ef8413;
          }
        }

      }

      strong {
        margin-left: 10px;
        text-transform: uppercase;
      }
    }
  }

  h1 {
    padding: 0 20px;
    font-size: 34px;
    font-weight: normal;
  }

  div.info {
    display: block;
    background: #f3f3f3;
    margin: 0 20px;
    padding: 0 15px;
    line-height: 40px;

    span.time {
      display: inline-block;
      float: left;
      color: #a3a3a3;
      font-size: 12px;

      strong {
        font-weight: normal;
        color: #000000;
      }
    }

    span.messages {
      display: inline-block;
      float: right;
      line-height: 40px;
      height: 40px;

      a {
        display: inline-block;
        color: @colorMainOrange;
        font-size: 14px;
        line-height: 40px;
        text-decoration: underline;
        background: url("../../images/icon-comment.png") no-repeat left center;
        background-size: 17px 20px;
        padding-left: 23px;
      }
    }

    span.views {
      display: inline-block;
      float: right;
      line-height: 40px;
      height: 40px;
      padding-right: 30px;
      background: url("../../images/icon-views.png") no-repeat left center;
      padding-left: 30px;
    }

    span.speaker, span.speed {
      display: inline-block;
      float: right;
      line-height: 40px;
      height: 40px;
      padding-right: 30px;
      background: url("../../images/icon-speaker.png") no-repeat left center;
      padding-left: 30px;

      ul {
        display: inline-block;
        line-height: 40px;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          background: #dedede;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-top: 15px;

          &.active {
            background: @colorMainOrange;
          }
        }
      }
    }

    span.speed {
      background: url("../../images/icon-speed.png") no-repeat left center;
    }

    span.js-share {
      float: right;
      height : 40px;
      width  : 110px;

      &.icon-share {
        margin-top : 0;
      }

      .share-popup {
        left : -26px;
        top  : -5px;
      }

      > a {
        display     : inline-block;
        margin-left : 30px;
      }
    }
  }

  .info-tags {
    background : url("../../images/icon-tag.png") left center no-repeat;
    margin     : 10px 20px;
    padding    : 0 30px;
  }

  .positive-rank {
    background: #D1EAD7 url(../../images/icon-positive-rank.png) 10px center no-repeat;
    background-size: 21px 21px;
    padding: 15px 41px;
    color: #3D7B2B;
    margin: 0 20px;
    font-size: 12px;
  }

  div.resume {
    margin: 0 20px 20px 20px;
    display: block;
    background: #f3f3f3;

    img {
      width: 45%;
      height: auto;
      float: left;
    }

    h3 {
      display: block;
      float: left;
      font-size: 17px;
      color: #000000;
      text-transform: uppercase;
      width: 55%;
      padding: 20px;
      box-sizing: border-box;
    }

    & > ul {
      float: left;
      width: 55%;
      box-sizing: border-box;

      & > li {

        & > ul > li {
          padding-left: 20px;

          & > ul > li {
            padding-left: 20px;

            a {
              font-size: 12px;
            }
          }

          a {
            color: @colorMainOrange;
          }
        }

        & > a {
          color: #000000;
          text-transform: uppercase;
        }
      }
    }

    ul {
      padding-left: 20px;
      font-size: 14px;

      li {
        line-height: 1.5;

        a {
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
  }

  div.detail-content {
    display: block;
    padding: 20px;
    word-break: break-word;

    h2, h3 {
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
      padding-bottom: 10px;
    }

    h2 {
      color: #000000;
      height: auto;
      border: none;
      padding: 0;
      padding-bottom: 10px;
      text-align: left;
    }

    h3 {
      color: @colorMainOrange;
      padding-top: 10px;
    }

    h4 {
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 10px;
    }

    p {
      font-size: 15px;
      margin-bottom: 20px;
    }

    hr {
      display: block;
      padding: 10px 0;
      border: none;
      border-bottom: 1px solid #dcdcdc;
      margin-bottom: 15px;
    }

    ul, ol {
      padding-left: 20px;
      padding-bottom: 20px;

      li {
        list-style-type: disc;
        padding-bottom: 10px;
        font-size: 15px;
      }
    }

    ol {
      padding-top: 20px;

      li {
        list-style-type: decimal;
      }
    }

    img.left {
      float: left;
      padding: 20px 20px 20px 0;
    }

    .smile {
      position: relative;
      width: 337px;

      a {
        display : inline;
      }

      &:after {
        content: "";
        display: block;
        width: 38px;
        height: 38px;
        position: absolute;
        top: 5px;
        right: 5px;
      }

      &.smile-red:after {
        background: url("../../images/icon-smile-red.png") no-repeat center;
      }

      &.smile-green:after {
        background: url("../../images/icon-smile-green.png") no-repeat center;
      }
    }

    .top {
      padding-top: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 12px;
      text-align: left;
      margin-bottom: 40px;

      thead {

        th {
          background: #f3f3f3;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 30px;
          border-bottom: 1px solid #dcdcdc;
        }
      }

      tbody {

        th {
          font-weight: bold;
          text-transform: uppercase;
          line-height: 30px;
          padding-left: 20px;
        }

        td {
          line-height: 30px;
        }

        tr:nth-child(2n) {

          td, th {
            background: #f3f3f3;
          }
        }
      }

      &.table-orange {
        thead th {
          background: @colorMainOrange;
          color: #FFFFFF;
        }
      }
    }

    div.files {

      h3 {
        font-size: 14px;
        color: #000000;
        background: url("../../images/icon-attach.png") no-repeat left center;
        padding-left: 50px;
      }

      ul {
        padding: 20px 0;

        li {
          display: block;
          list-style: none;
          background: #f3f3f3;
          padding: 20px;
          margin-bottom: 2px;

          div.img {
            display: block;
            background: url("../../images/icon-file.png") no-repeat center;
            width: 38px;
            height: 40px;
            position: relative;
            float: left;

            span {
              position: absolute;
              font-size: 9px;
              color: #FFFFFF;
              bottom: 2px;
              right: 3px;
              text-align: center;
              width: 20px;
            }

            &.smile:after {
              width: 19px;
              height: 19px;
              top: 0;
              right: 0;
              background-size: 19px 19px;
            }
          }

          div.fileinfo {
            float: left;
            padding: 6px 20px;
            line-height: 1;
            width: calc(~"100% - 78px");

            strong {
              display: block;
              font-size: 12px;
              color: @colorMainOrange;
            }

            small {
              font-size: 12px;
            }
          }

          a.btn-download {
            float: right;
            color: @colorMainOrange;
            font-size: 12px;
            text-transform: uppercase;
            background: url("../../images/icon-download.png") no-repeat left center;
            padding-left: 33px;
            height: 40px;
            line-height: 40px;
          }
        }
      }
    }

    div.comments {

      h3 {
        font-size: 14px;
        color: #000000;
        background: url("../../images/icon-comment.png") no-repeat left center;
        background-size: 40px 40px;
        padding-left: 50px;
      }

      div.comment-form {
        background: #f3f3f3;
        padding: 20px;
        margin: 20px 0;

        div.image {
          position: relative;
          display: block;
          width: 40px;
          height: 40px;
          float: left;
          margin-right: 20px;

          img {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            position: absolute;
            left: 0;
            top: 0;
          }

          span.badge {
            display: block;
            width: 19px;
            line-height: 19px;
            height: 19px;
            text-align: center;
            font-size: 11px;
            color: #ffffff;
            background: #535353;
            border-radius: 19px;
            border: 1px solid #ffffff;
            position: absolute;
            right: -10px;
            top: 10px;
            overflow: hidden;
          }
        }

        div.form {
          display: block;
          float: left;
          width: calc(~"100% - 60px");
          position: relative;

          div.input {
            position: relative;

            textarea {
              display: block;
              border: 1px solid #dedede;
              outline: none;
              width: calc(~"100% - 165px");
              font-size: 14px;
              padding: 10px 150px 10px 15px;
            }

            button {
              display: block;
              position: absolute;
              right: 10px;
              top: 0;
              font-size: 12px;
              color: @colorMainOrange;
              text-transform: uppercase;
              line-height: 37px;
              height: 37px;
              border: none;
              outline: none;
              background: url("../../images/icon-attach-comment.png") no-repeat center left transparent;
              text-align: left;
              padding-left: 25px;
            }
          }

          p {
            padding-top: 10px;

            label {
              font-size: 12px;
              color: #a3a3a3;
              cursor: pointer;
            }

            input[type="checkbox"] {
              display:none;
            }

            input[type="checkbox"] + label span {
              display:inline-block;
              width: 16px;
              height: 16px;
              vertical-align: middle;
              background: url("../../images/icon-checkbox.png") no-repeat;
              margin-right: 5px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-checkbox@2x.png") no-repeat;
                background-size: 16px 16px;
              }
            }

            input[type="checkbox"]:checked + label span {
              background: url("../../images/icon-checkbox-selected.png") no-repeat;
              background-size: 16px 16px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-checkbox-selected@2x.png") no-repeat;
                background-size: 16px 16px;
              }
            }

            input[type="checkbox"]:checked + label {
              color: #000000;
            }
          }

          button.btn-add {
            -webkit-appearance: none;
            -moz-appearance: none;
            display: block;
            background: @colorMainOrange;
            text-transform: uppercase;
            font-size: 12px;
            color: #FFFFFF;
            text-align: center;
            padding: 5px 15px;
            border: none;
            outline: none;
            position: absolute;
            right: 0;
            bottom: -3px;
            border-radius: 5px;
            border-bottom: 3px solid #a94d1f;
            font-weight: bold;
          }
        }
      }

      div.comment {

        div.image {
          position: relative;
          display: block;
          width: 40px;
          height: 40px;
          float: left;
          margin-right: 20px;

          img {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            position: absolute;
            left: 0;
            top: 0;
          }

          span.badge {
            display: block;
            width: 19px;
            line-height: 19px;
            height: 19px;
            text-align: center;
            font-size: 11px;
            color: #ffffff;
            background: #535353;
            border-radius: 19px;
            border: 1px solid #ffffff;
            position: absolute;
            right: -10px;
            top: 10px;
            overflow: hidden;
          }
        }

        div.comment-body {
          float: left;
          width: calc(~"100% - 60px");

          div.comment-heading {

            & > strong {
              color: @colorMainOrange;
              font-size: 14px;
              display: inline-block;
              padding-right: 10px;
            }

            div.rating {
              font-size:0;
              white-space:nowrap;
              display:inline-block;
              width:57px;
              height:19px;
              overflow:hidden;
              position:relative;
              background: url("../../images/icon-stars.png");
              background-size: contain;
              top: 4px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-stars@2x.png");
                background-size: contain;
              }

              i {
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 33%;
                z-index: 1;
                background: url("../../images/icon-star-active.png");

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                  background: url("../../images/icon-star-active@2x.png");
                  background-size: 19px 19px;
                }
              }

              input {
                -moz-appearance:none;
                -webkit-appearance:none;
                opacity: 0;
                display:inline-block;
                width: 33%;
                height: 100%;
                margin:0;
                padding:0;
                z-index: 2;
                position: relative;

                &:hover + i,
                &:checked + i{
                  opacity:1;
                }

                &[disabled]:hover + i{
                  opacity: 0;
                }

                &[disabled]:checked + i {
                  opacity: 1;
                }
              }

              i ~ i{
                width: 66%;
              }
              i ~ i ~ i{
                width: 100%;
              }
            }

            span {
              padding-left: 10px;
              display: inline-block;
              font-size: 12px;
              line-height: 40px;
              color: #a3a3a3;

              strong {
                color: #000000;
                font-weight: normal;
              }
            }
          }

          > p {
            font-size: 14px;
            line-height: 1.5;
            padding: 15px 0;
          }

          div.attachment {
            padding-top: 15px;

            img {
              width: 220px;
              float: left;
              margin-right: 20px;
            }

            strong {
              display: block;
              font-size: 12px;
              padding-bottom: 15px;
              padding-top: 40px;
            }

            a {
              font-size: 12px;
              color: @colorMainOrange;
              text-transform: uppercase;
              background: url("../../images/icon-new.png") no-repeat left center;
              padding-left: 25px;
            }
          }

          span.comment-info {
            font-size: 12px;
            color: #a3a3a3;
            display: inline-block;
            float: left;
            line-height: 30px;

            a {
              color: @colorMainOrange;
            }
          }

          div.comment-actions {
            float: right;
            height: 30px;
            margin-bottom: 5px;

            button.btn-answer {
              -webkit-appearance: none;
              -moz-appearance: none;
              display: inline-block;
              background: url("../../images/icon-anwser.png") no-repeat left center;
              text-transform: uppercase;
              font-size: 12px;
              color: @colorMainOrange;
              text-align: center;
              padding: 5px 15px 5px 35px;
              border: none;
              outline: none;
            }

            div.thumbs {
              display: inline-block;
              height: 30px;
              line-height: 30px;
              background: #f3f3f3;

              span.val {
                font-size: 18px;
                color: #000000;
              }

              button {
                -webkit-appearance: none;
                -moz-appearance: none;
                display: inline-block;
                border: none;
                outline: none;
                width: 30px;

                &.btn-thumbs-down {
                  background: url("../../images/icon-comment-thumbs-down.png") no-repeat center;
                }

                &.btn-thumbs-up {
                  background: url("../../images/icon-comment-thumbs-up.png") no-repeat center;
                }
              }
            }
          }
        }
      }
    }
  }
}
