
div.academy.academy-dashboard, div.academy.academy-dashboard-n {
  display: block;
  width: 100%;
  min-width: 768px;

  div.academy-dashboard-box {
    display: block;
    width: 100%;
    background: @colorMainWhite;
    margin: 20px 0;
    border-top: 3px solid @colorMainOrange;
    position: relative;

    ul.stats {
      display: block;
      width: calc(~"75% - 1px");
      float: left;
      border-right: 1px solid @colorMainGreyLight;
      height: 85px;

      li {
        display: block;
        width: 25%;
        float: left;
        height: 85px;
        position: relative;

        strong {
          font-size: 28px;
          color: @colorMainOrange;
          font-weight: normal;
          line-height: 50px;
          display: block;
          text-align: center;

          i.icon {
            display: inline-block;
            width: 30px;
            height: 30px;

            position: relative;
            bottom: -5px;
            left: -2px;

            &.icon-bulb {
              background: url("../../images/icon-bulb.png") no-repeat center;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-bulb@2x.png") no-repeat center;
                background-size: 30px 30px;
              }
            }

            &.icon-thumbs {
              background: url("../../images/icon-thumbs.png") no-repeat center;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-thumbs@2x.png") no-repeat center;
                background-size: 30px 30px;
              }
            }

            &.icon-check {
              background: url("../../images/icon-check-black.png") no-repeat center;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-check-black@2x.png") no-repeat center;
                background-size: 30px 30px;
              }
            }
          }
        }

        span {
          display: block;
          text-align: center;
          font-size: 14px;
          color: @colorMainBlack;
        }

        div.rating {
          margin: 15px auto;
          font-size:0;
          white-space:nowrap;
          display:block;
          width:57px;
          height:19px;
          overflow:hidden;
          position:relative;
          background: url("../../images/icon-stars.png");
          background-size: contain;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-stars@2x.png");
            background-size: contain;
          }

          i {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 33%;
            z-index: 1;
            background: url("../../images/icon-star-active.png");

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: url("../../images/icon-star-active@2x.png");
              background-size: 19px 19px;
            }
          }

          input {
            -moz-appearance:none;
            -webkit-appearance:none;
            opacity: 0;
            display:inline-block;
            width: 33%;
            height: 100%;
            margin:0;
            padding:0;
            z-index: 2;
            position: relative;

            &:hover + i,
            &:checked + i{
              opacity:1;
            }

            &[disabled]:hover + i{
              opacity: 0;
            }

            &[disabled]:checked + i {
              opacity: 1;
            }
          }

          i ~ i{
            width: 66%;
          }
          i ~ i ~ i{
            width: 100%;
          }
        }

        &:nth-child(1):after, &:nth-child(2):after, &:nth-child(3):after {
          content: "+";
          display: block;
          position: absolute;
          right: -10px;
          top: 0;
          font-size: 28px;
          line-height: 50px;
          color: lighten(@colorMainGrey, 30%);
        }

        &:nth-child(3):after {
          content: "=";
        }
      }
    }

    div.graph {
      display: none;
      width: calc(~"75% - 210px");
      height: 254px;
      float: left;
      border-right: 1px solid @colorMainGreyLight;
      padding: 18px 35px;
      position: relative;

      span.graph-heading {
        font-size: 14px;
        line-height: 14px;
      }

      div.graph-container {
        display: block;
        width: calc(~"100% - 73px");
        height: 225px;
        position: relative;
        left: -22px;
        opacity: 0;

        canvas {
          width: 100%;
          height: 100%;
          z-index: 100;
          position: relative;
        }

        div.dashboard-chart-tooltip {
          opacity: 0;
          z-index: 200;
          position: absolute;
          background: @colorMainWhite;
          color: @colorMainBlack;

          width: 200px;

          -webkit-box-shadow: 0px 14px 35px 0px rgba(0, 0, 0, .23);
          -moz-box-shadow:    0px 14px 35px 0px rgba(0, 0, 0, .23);
          box-shadow:         0px 14px 35px 0px rgba(0, 0, 0, .23);

          -webkit-transition: all .1s ease;
          transition: all .1s ease;
          pointer-events: none;
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);

          div.dashboard-chart-tooltip-header {
            background: #f7f7f7;
            border-bottom: 1px solid @colorMainGreyLight;
            padding: 0 15px;
            line-height: 36px;
            font-size: 14px;

            span.date {
              font-size: 14px;
              line-height: 36px;
              float: left;
            }

            span.stars {
              display: inline-block;
              float: right;
              background: url("../../images/icon-chart-stars.png") no-repeat;
              background-size: 64px 76px;
              height: 19px;
              width: 64px;
              margin-top: 8px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-chart-stars@2x.png") no-repeat;
                background-size: 64px 76px;
              }

              &.stars-3 {
                background-position: center 0;
              }

              &.stars-2 {
                background-position: center -19px;
              }

              &.stars-1 {
                background-position: center -38px;
              }

              &.stars-0 {
                background-position: center -57px;
              }
            }
          }

          ul.dashboard-chart-tooltip-stats {
            width: calc(~"100% - 30px");
            padding: 0 15px;
            line-height: 36px;

            li {
              display: block;
              float: left;
              width: 33.3%;
              line-height: 36px;

              &:nth-child(2) {
                text-align: center;
              }

              &:nth-child(3) {
                text-align: right;
              }

              span {
                color: @colorMainOrange;
              }

              i.icon {
                display: inline-block;
                width: 22px;
                height: 22px;

                position: relative;
                bottom: -5px;

                &.icon-bulb {
                  background: url("../../images/icon-bulb.png") no-repeat center;
                  background-size: 22px 22px;

                  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                    background: url("../../images/icon-bulb@2x.png") no-repeat center;
                    background-size: 22px 22px;
                  }
                }

                &.icon-thumb {
                  background: url("../../images/icon-thumbs.png") no-repeat center;
                  background-size: 22px 22px;

                  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                    background: url("../../images/icon-thumbs@2x.png") no-repeat center;
                    background-size: 22px 22px;
                  }
                }

                &.icon-check {
                  background: url("../../images/icon-check-black.png") no-repeat center;
                  background-size: 22px 22px;

                  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                    background: url("../../images/icon-check-black@2x.png") no-repeat center;
                    background-size: 22px 22px;
                  }
                }
              }
            }
          }

          &:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-top-color: #ffffff;
            border-width: 15px;
            margin-left: -15px;
          }

          &.left:after {
            left: 20px;
          }
        }
      }

      ul.axis {
        display: block;
        width: calc(~"100% - 70px");
        position: absolute;
        bottom: 51px;
        right: 36px;
        opacity: 0;

        li {
          display: block;
          width: 100%;
          border-bottom: 1px solid #dcdcdc;
          height: 47px;

          span {
            display: inline-block;
            background: url("../../images/icon-chart-stars.png") no-repeat;
            background-size: 64px 76px;
            height: 19px;
            width: 76px;
            margin-top: 15px;
            float: right;
            margin-right: 15px;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: url("../../images/icon-chart-stars@2x.png") no-repeat;
              background-size: 64px 76px;
            }
          }

          &.active {
            background: #fdf2e7;
          }

          &.stars-3 {
            border-top: 1px solid #dcdcdc;

            span {
              background-position: center 0;
            }
          }

          &.stars-2 {
            height: 46px;

            span {
              background-position: center -19px;
            }
          }

          &.stars-1 span {
            background-position: center -38px;
          }

          &.stars-0 {
            height: 46px;

            span {
              background-position: center -57px;
            }
          }
        }
      }

      .graph-overlay {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        text-align: center;
        color: #FFF;
        padding: 40px;
        box-sizing: border-box;

        i {
          display: block;
          margin: 0 auto;
        }

        p {
          line-height: 25px;
        }

        .icon-info {
          background: url(../../images/icon-info-rounded-white.png) center center no-repeat;
          width: 28px;
          height: 28px;
          margin-bottom: 15px;
        }

        .icon-stars {
          background: url(../../images/icon-stars-white.png) center center no-repeat;
          width: 57px;
          height: 19px;
          margin-bottom: 20px;
        }

        .icon-arrow-rounded {
          background: url(../../images/arrow-rounded.png) left center no-repeat;
          height: 47px;
        }

        .orange {
          color: @colorMainOrange;
        }
      }
    }

    div.account {
      display: block;
      width: 25%;
      float: left;
      background: inherit;
      position: relative;

      div.account-heading {
        padding: 15px 0;

        div.image {
          margin-left: 15px;
          position: relative;
          display: block;
          width: 40px;
          height: 40px;
          float: left;

          img {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 40px;

            position: absolute;
            left: 0;
            top: 0;
          }

          span.badge {
            display: block;
            width: 19px;
            line-height: 19px;
            height: 19px;
            text-align: center;
            font-size: 11px;
            color: @colorMainWhite;
            background: @colorMainGrey;
            border-radius: 19px;
            border: 1px solid @colorMainWhite;
            position: absolute;
            right: -10px;
            top: 10px;
            overflow: hidden;
          }
        }

        div.info {
          display: block;
          width: calc(~"100% - 71px");
          float: left;
          padding-left: 16px;
          line-height: 20px;

          strong {
            font-size: 16px;
            color: @colorMainBlack;
            font-weight: normal;
            display: block;
          }

          a {
            font-size: 12px;
            text-transform: uppercase;
            color: @colorMainOrange;
          }
        }

        & > a {
          display: block;
          position: absolute;
          right: 15px;
          top: 27px;
          background: url("../../images/icon-pencil.png") no-repeat center;
          width: 15px;
          height: 15px;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-pencil@2x.png") no-repeat center;
            background-size: 15px 15px;
          }
        }
      }

      ul.account-info {
        float: none;
        display: none;
        width: 100%;

        li {
          display: block;
          width: calc(~"100% - 30px");
          float: none;
          padding: 0 15px;
          line-height: 45px;
          border-bottom: 1px dashed @colorMainGreyLight;
          position: relative;

          label {
            display: inline;
            font-size: 12px;
            color: @colorMainBlack;
            text-transform: uppercase;
            font-weight: normal;
            line-height: 45px;
          }

          span.text-orange {
            padding-left: 5px;
            display: inline;
            font-size: 12px;
            color: @colorMainOrange;
            text-transform: uppercase;
            font-weight: normal;
            line-height: 45px;

            strong {
              font-size: 18px;
              line-height: 45px;
              font-weight: normal;
            }
          }

          div.coins {
            display: block;
            width: 95px;
            height: 45px;
            position: absolute;
            right: -23px;
            top: 0;

            span.coin {
              display: block;
              float: left;
              background: url("../../images/coin.png") no-repeat left;
              background-size: 8px 21px;
              width: 8px;
              height: 45px;
              position: relative;
              left: 0;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/coin@2x.png") no-repeat left;
                background-size: 8px 21px;
              }

              &.coin-active {
                background: url("../../images/coin-active.png") no-repeat left;
                background-size: 8px 21px;

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                  background: url("../../images/coin-active@2x.png") no-repeat left;
                  background-size: 8px 21px;
                }
              }

              &.coin-first {
                background: url("../../images/coin-first.png") no-repeat left;
                background-size: 19px 21px;
                width: 19px;
                position: static;

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                  background: url("../../images/coin-first@2x.png") no-repeat left;
                  background-size: 19px 21px;
                }

                &.coin-active {
                  background: url("../../images/coin-first-active.png") no-repeat left;
                  background-size: 19px 21px;

                  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                    background: url("../../images/coin-first-active@2x.png") no-repeat left;
                    background-size: 19px 21px;
                  }
                }
              }

              &:nth-child(2) {
                left: -4px;
              }

              &:nth-child(3) {
                left: -8px;
              }

              &:nth-child(4) {
                left: -12px;
              }

              &:nth-child(5) {
                left: -16px;
              }

              &:nth-child(6) {
                left: -20px;
              }

              &:nth-child(7) {
                left: -24px;
              }

              &:nth-child(8) {
                left: -28px;
              }

              &:nth-child(9) {
                left: -32px;
              }

              &:nth-child(10) {
                left: -36px;
              }
            }
          }

          &.icon-wallet {
            background: url("../../images/icon-wallet.png") no-repeat right center;
            background-size: 35px 20px;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: url("../../images/icon-wallet@2x.png") no-repeat right center;
              background-size: 35px 20px;
            }
          }

          &.actions {
            border: none;
            margin-bottom: 30px;

            a {
              display: block;
              width: 50%;
              float: left;
              padding: 0;
              color: @colorMainOrange;
              text-transform: uppercase;
              font-size: 12px;

              &.link-right {
                text-align: right;
              }

              i.icon.icon-message {
                display: inline-block;
                background: url("../../images/icon-message.png") no-repeat center;
                background-size: 19px 19px;
                width: 19px;
                height: 19px;
                position: relative;
                top: 5px;
                left: 3px;

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                  background: url("../../images/icon-message@2x.png") no-repeat center;
                  background-size: 19px 19px;
                }

                span.badge {
                  display: block;
                  position: absolute;
                  top: -6px;
                  right: -10px;
                  line-height: 1;
                  background: @colorMainRed;
                  color: @colorMainWhite;
                  font-weight: bold;
                  padding: 3px 5px;
                  border-radius: 50%;
                  font-style: normal;
                }
              }
            }
          }
        }
      }
    }

    button.btn-toggle {
      display: block;
      -webkit-appearance:none;
      background: @colorMainBlack url("../../images/icon-hide.png") no-repeat center;
      background-size: 15px 10px;
      border: none;
      border-radius: 0 0 5px 5px;
      width: 42px;
      outline: none;
      height: 20px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: @colorMainBlack url("../../images/icon-hide@2x.png") no-repeat center;
        background-size: 15px 10px;
      }

      position: absolute;
      right: 102px;
      bottom: 0;

      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);

      &:active {
        opacity: .7;
      }
    }
  }

  &.academy-dashboard-open div.academy-dashboard-box {

    ul.stats {
      width: 138px;
      height: 290px;

      li {
        width: 100%;
        float: none;

        &:after, &:last-child {
          display: none;
        }
      }
    }

    div.graph {
      display: block;
    }

    div.account {

      div.account-heading {
        border-bottom: 1px dashed @colorMainGreyLight;
      }

      ul.account-info {
        display: block;
      }
    }

    button.btn-toggle {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
      border-radius: 5px 5px 0 0;
    }
  }
}

div.academy.academy-dashboard-n {

  div.academy-dashboard-box {

    div.blocks {
      width: calc(~"75% - 1px");
      float: left;
      border-right: 1px solid #dcdcdc;

      ul.heading {
        display: block;
        width: 100%;
        min-height: 181px;
        margin: 0;
        padding: 0;

        &:after {
          content: "";
          display: block;
          clear: both;
        }

        li {
          display: block;
          width: calc(~"25% - 1px");
          min-height: 141px;
          height: 100%;
          float: left;
          border-right: 1px solid #dcdcdc;
          text-align: center;
          position: relative;

          &:last-child {
            border-right: none;
            width: 25%;
          }

          a {
            padding-top: 20px;
            display: block;
            width: 100%;
            height: 100%;
            color: #000000;
            min-height: 181px;
            box-sizing: border-box;

            &:hover, &.active {
              background: #f3f3f3;
            }

            & > span {
              display: block;
              line-height: 22px;

              span.number {
                color: #ffffff;
                font-size: 16px;
                font-weight: bold;
                border-radius: 50%;
                display: inline-block;
                width: 22px;
                height: 22px;
                line-height: 22px;
                padding: 1px;

                &.number-green {
                  background: #2fcc71;
                }

                &.number-blue {
                  background: #3598dc;
                }

                &.number-purple {
                  background: #9c59b8;
                }

                &.number-orange {
                  background: #ef8413;
                }
              }

              span.grey {
                color: #a3a3a3;
                font-weight: bold;
              }
            }

            strong {
              display: block;
              text-transform: uppercase;
              font-size: 16px;
              padding: 15px 5px 20px 5px;
            }
          }
        }
      }

      ul.block {
        display: none;
        width: 100%;

        &:after {
          content: "";
          display: block;
          clear: both;
        }

        & > li {
          display: block;
          width: calc(~"25% - 40px");
          height: 100%;
          float: left;
          position: relative;
          padding: 20px;

          span.h {
            display: block;
            height: 20px;

            span.number {
              color: #ffffff;
              font-size: 16px;
              font-weight: bold;
              border-radius: 50%;
              display: inline-block;
              width: 22px;
              height: 22px;
              line-height: 22px;
              padding: 1px;
              text-align: center;

              &.number-green {
                background: #2fcc71;
              }

              &.number-blue {
                background: #3598dc;
              }

              &.number-purple {
                background: #9c59b8;
              }

              &.number-orange {
                background: #ef8413;
              }
            }
          }

          p {
            padding-top: 20px;
            color: #959595;
            font-size: 12px;
            font-weight: normal;
            line-height: 20px;
          }

          h6 {
            position: absolute;
            color: #a3a3a3;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: normal;
            line-height: 20px;
            left: 20px;
            top: 23px;
          }

          ul {
            padding : 40px 0 0 0;

            li {
              line-height    : 20px;
              font-size      : 12px;
              text-transform : uppercase;
              white-space    : nowrap;

              &:after {
                color       : #A3A3A3;
                font-weight : bold;
                content     : ' >';
                position    : relative;
                bottom      : 6px;
              }

              a {
                color       : #EF8413;
                max-width   : 135px;
                white-space : nowrap;
                overflow    : hidden;

                &:hover {
                  max-width        : 500px;
                  background-color : white;
                  display          : inline-block;
                  position         : relative;
                  z-index          : 1;
                }
              }
            }
          }
        }
      }
    }

    div.account {
      float: right;
    }
  }

  &.academy-dashboard-open div.academy-dashboard-box {

    div.blocks {
      min-height: 290px;

      ul.block {
        display: block;
      }

      ul.heading {
        -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@-moz-document url-prefix() {

  div.academy.academy-dashboard div.academy-dashboard-box div.graph ul.axis {
    bottom: 49px;
  }
}

@media (max-width: 918px) {

  div.academy.academy-dashboard {

    div.academy-dashboard-box {

      ul.stats {
        width: calc(~"69% - 1px");
        height: 90px;

      }

      div.account {
        width: 31%;
      }
    }

    &.academy-dashboard-open div.academy-dashboard-box {

      ul.stats {
        width: calc(~"69% - 1px");
        height: 118px;
        border-bottom: 1px solid @colorMainGreyLight;

        li {
          width: 25%;
          float: left;
          height: 118px;

          strong {
            line-height: 70px;
          }

          div.rating {
            margin: 25px auto;
          }

          &:after, &:last-child {
            display: block;
          }

          &:after {
            line-height: 70px;
          }
        }
      }

      div.graph {
        width: calc(~"69% - 41px");
        padding: 18px 20px;

        div.graph-container {
          width: calc(~"100% - 70px");
          left: -15px;
        }

        ul.axis {
          width: calc(~"100% - 50px");
          right: 30px;

          li span {
            margin-right: 8px;
          }
        }
      }

      div.account {
        float: right;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
