
div.academy.academy-feed-n div.academy-comments {
  background: @colorMainWhite;
  float: right;
  width: calc(~"25% - 20px");
  border-top: 3px solid @colorMainOrange;
  display: block;

  h2 {
    font-size: 14px;
    color: @colorMainBlack;
    border-bottom: 1px solid #dcdcdc;

    i {
      display: inline-block;
      width: 14px;
      height: 17px;
      background: url("../../images/icon-comment.png") no-repeat left center;
      background-size: 14px 17px;
      position: relative;
      right: 5px;
      top: 4px;
    }
  }

  ul {
    display: block;

    li {
      display: block;
      padding: 20px;
      border-bottom: 1px solid #dcdcdc;

      &:last-child {
        border-bottom: none;
      }

      small {
        color: #a3a3a3;
        font-size: 12px;
        display: block;
        padding-bottom: 5px;
      }

      div.image {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        float: left;

        img {
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 40px;

          position: absolute;
          left: 0;
          top: 0;
        }

        span.badge {
          display: block;
          width: 19px;
          line-height: 19px;
          height: 19px;
          text-align: center;
          font-size: 11px;
          color: @colorMainWhite;
          background: @colorMainGrey;
          border-radius: 19px;
          border: 1px solid @colorMainWhite;
          position: absolute;
          right: -10px;
          top: 10px;
          overflow: hidden;
        }
      }

      span.name {
        display: block;
        width: calc(~"100% - 60px");
        float: left;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        color: #ef8413;
        font-size: 14px;
      }

      span.path {
        display: block;
        font-size: 12px;
        color: #000000;
        padding: 15px 0;

        a {
          color: #ef8413;
          text-decoration: underline;
          margin-right: 5px;

          strong {
            margin-left: 5px;
          }
        }

        span.badge {
          color: #ffffff;
          font-size: 12px;
          font-weight: bold;
          border-radius: 50%;
          display: inline-block;
          width: 16px;
          height: 16px;
          line-height: 16px;
          padding: 1px;
          text-align: center;
          margin-right: 5px;

          &.badge-green {
            background: #2fcc71;
          }

          &.badge-blue {
            background: #3598dc;
          }

          &.badge-purple {
            background: #9c59b8;
          }

          &.badge-orange {
            background: #ef8413;
          }
        }
      }

      p {
        color: #a3a3a3;
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
}