
div.account {
  display: block;
  width: 100%;
  background: @colorMainOrange;

  .info-text {
    line-height: 32px;
    font-style: italic;

    a {
      text-decoration: underline;
    }
  }

  ul {
    display: block;
    float: right;

    li {
      display: inline-block;
      line-height: 32px;
      font-size: 12px;
      color: @colorMainWhite;
      padding: 0;
      font-weight: 500;

      a {
        display: inline-block;
        color: inherit;
        font-weight: inherit;
        padding: 0 5px;

        &.icon {
          padding-left: 32px;

          &.icon-user {
            background: url("../../images/icon-account.png") no-repeat;
            background-size: 32px 32px;
          }

          &.icon-login {
            background: url("../../images/icon-login.png") no-repeat;
            background-size: 32px 32px;
          }

          &.icon-search {
            background: url("../../images/icon-search.png") no-repeat;
            background-size: 32px 32px;
          }

          &.icon-only {
            text-indent: -9999px;
            background-color: darken(@colorMainOrange, 5%);
            width: 32px;
            padding: 0;
          }
        }
      }

      &.language {
        padding: 0 15px;

        span {
          display: inline-block;
          line-height: 32px;
          color: @colorMainBlack;
          padding-right: 5px;
        }

        ul {
          display: inline-block;
          float: none;

          li {

            &.active a {
              background-color: darken(@colorMainOrange, 5%);
              font-weight: 600;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  div.account {

    ul {

      li {

        a.icon {

          &.icon-user {
            background: url("../../images/icon-account@2x.png") no-repeat;
            background-size: 32px 32px;
          }

          &.icon-login {
            background: url("../../images/icon-login@2x.png") no-repeat;
            background-size: 32px 32px;
          }

          &.icon-search {
            background: url("../../images/icon-search@2x.png") no-repeat;
            background-size: 32px 32px;
          }
        }
      }
    }
  }

}

@media (max-width: 456px) {

  div.account {

    ul {

      li {

        a.icon {

          &.icon-user {
            text-indent: -9999px;
          }

          &.icon-login {
            text-indent: -9999px;
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {

  div.account {

    ul {

      li.language {

        span {
          display: none;
        }
      }
    }
  }
}
