
div.block-diagnostics {
  padding: 40px 0 10px 0;

  &.block-diagnostics-grey {
    background: @colorMainGreyLight;

    div.video-section span.heading h2, div.articles span.heading h2 {
      background: @colorMainGreyLight;
    }
  }

  &.disabled {
    opacity: .3;
  }

  h1 {
    text-align: center;
    color: @colorMainOrange;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1px;
  }

  div.video-section, div.articles {
    clear: both;
    margin-top: 100px;
    border-top: 1px solid @colorMainGrey;
    position: relative;
    padding-top: 50px;

    &:before {
      content: "";
      display: block;
      background: url("../../images/icon-video.png") no-repeat;
      width: 50px;
      height: 50px;
      position: absolute;
      left: calc(~"50% - 25px");
      top: -70px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/icon-video@2x.png") no-repeat;
        background-size: 50px 50px;
      }
    }

    &.block-half {
      width: 50%;
      float: left;
      clear: none;
      margin-top: 100px;
      border-top: none;
    }

    span.heading {
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      top: -12px;
      left: 0;

      h2 {
        background: @colorMainWhite;
        color: @colorMainBlack;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0 20px;
        display: inline;
        width: auto;

        small {
          font-size: 20px;
          font-weight: 100;
        }
      }
    }

    ul {

      li {
        float: left;
        width: calc(~"33.3% - 20px");
        margin-right: 30px;
        margin-bottom: 30px;

        &.disabled {
          opacity: .3;
        }

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 100%;
        }

        h3 {
          font-size: 18px;
          font-weight: 400;
        }

        p {
          font-size: 12px;
          color: @colorMainGrey;
          padding: 5px 0;
        }

        a.more, span.more {
          color: @colorMainOrange;
          font-size: 18px;
        }
      }
    }

  }

  div.articles {
    margin-top: 100px;

    &:before {
      background: url("../../images/icon-article.png") no-repeat;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/icon-article@2x.png") no-repeat;
        background-size: 50px 50px;
      }
    }

    ul {

      li {
        width: calc(~"25% - 22.5px");

        p {
          color: @colorMainBlack;
          line-height: 1.5;
          font-weight: normal;
          padding: 15px 0;
        }
      }
    }
  }
}

@media (max-width: @sizeContainer) {

  div.block-diagnostics {

    div.articles {

      ul {

        li {
          width: calc(~"50% - 15px");
          margin-bottom: 30px;

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {

  div.block-diagnostics {

    div.video-section, div.articles {

      ul {

        li {
          width: calc(~"50% - 15px");
          margin-bottom: 30px;

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }

      &.block-half {

        span.heading {

          h2 {
            padding: 0;

            small {
              font-size: 15px;
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 415px) {

  div.block-diagnostics {

    div.video-section, div.articles {

      ul {

        li {
          width: 100%;
          margin-right: 0;
        }
      }

      &.block-half {
        width: 100%;
        float: none;
      }
    }
    
  }
}

@media (max-width: 350px) {

  div.block-diagnostics {

    div.video-section, div.articles {
      border-top: none;
      margin-top: 120px;

      span.heading {

        h2 {
          padding: 0;

          small {
            display: block;
          }
        }
      }
    }

    div.articles {
      margin-top: 70px;
    }
  }
}