.blog {
  background-color : @colorMainGreyLight;

  .page-sidebar-item {
    text-align   : left;
    border-color : @colorMainOrange;

    &.borderless {
      border-top : 0;
    }

    h2 {
      text-align       : left;
      font-size        : 20px;
      line-height      : 35px;
      background-color : #FFFFFF;
      padding-bottom   : 20px;
      border-bottom    : solid 1px @colorDSGrey;
    }

    .tags {
      background-color : #FFFFFF;
      padding          : 20px;

      a {
        padding         : 5px 10px;
        border          : solid 1px @colorMainOrange;
        border-radius   : 3px;
        margin          : 1px;
        margin-right    : -3px;
        text-decoration : none;
      }
    }
  }

  div.academy.academy-dashboard-n {

    &.academy-dashboard-open {

      div.academy-dashboard-box div.blocks ul.heading li {
        height : 290px;
      }
    }

    div.academy-dashboard-box div.blocks {
      border-right : 0;

      ul.heading li {
        overflow : hidden;
        width    : 243px;
        height   : 100px;

        a {
          padding-right : 20px;
          padding-left  : 20px;
          width         : auto;

          &.active .fancy-button {
            border-bottom-color : @colorDSBlack;
            background-color    : @colorDSGreyDark;
          }
        }

        .image-holder {
          min-height : 50px;
        }

        h4 {
          color : @colorMainOrange;
        }

        strong {
          padding-top    : 5px;
          text-transform : none;
        }

        .fancy-button {
          color         : #FFFFFF;
          background    : @colorMainOrange url("../../images/white-arrow-right.png") 60px center no-repeat;
          padding-right : 40px;
        }

        p {
          color : @colorDSGreyDark
        }
      }
    }
  }

  h2 {
    color : #000000;
  }

  .page-path {
    border-top     : solid 1px @colorDSGrey;
    border-bottom  : solid 1px @colorDSGrey;
    text-transform : uppercase;

    li {
      padding : 0 20px 0 10px;

      &:last-of-type {
        font-weight : bold;
      }

      &:first-of-type {
        padding-left : 0;
      }
    }
  }

  .uppercase {
    text-transform : uppercase;
  }

  .content-separator.bordered {
    padding-top   : 5px;
    border-bottom : solid 1px @colorDSGrey;
  }

  .article {
    color     : @colorDSGreyDark;
    font-size : 13px;

    .perex {
      width   : 540px;
      float   : left;
      padding : 15px;

      .date {
        margin : 15px 0 30px 0;
      }

      strong {
        color       : #000000;
        font-weight : bold;
      }

      img {
        margin-right : 30px;
        float        : left;
        width        : 130px;
        height       : 130px;
      }

      .header {
        font-weight   : bold;
        font-size     : 19px;
        margin-bottom : 10px;
        display       : block;
      }

      p {
        line-height : 21px;
      }
    }

    .social-data {
      width   : 130px;
      float   : right;
      padding : 30px 15px;

      .row {
        color       : #000000;
        height      : 40px;
        line-height : 40px;

        &.row-gray {
          background-color : @colorDSGrey;
          text-align       : center;

          &:first-of-type {
            border-bottom : solid 1px #FFFFFF;
            font-size     : 23px;
          }

          .icon-like, .icon-dislike {
            padding : 10px 5px;
          }

          .rank {
            position : relative;
            top      : -10px;
          }

          &.row-second {
            color     : @colorDSGreyDark;
            font-size : 15px;

            a {
              margin-left     : 10px;
              text-decoration : underline;
            }
          }
        }

        &.row-white {
          padding-left : 25px;
          text-align   : left;

          a {
            font-size : 13px;

            &.share {
              text-transform : uppercase;
            }
          }

          &.icon-tag {
            height      : auto;
            line-height : 1;
            background  : url("../../images/icon-tag.png") left 0 no-repeat;

            a:hover {
              text-decoration : underline;
            }
          }
        }
      }
    }

    hr {
      margin-bottom : 0;
    }
  }

  // blog detail

  &.detail {

    div.academy.academy-feed-n div.academy-detail h2 {
      border-bottom : 0;
      padding-top   : 20px;
    }

    div.academy.academy-feed-n div.academy-detail div.info {
      height : 40px;
    }

    div.academy.academy-feed-n div.academy-detail div.resume {
      background-color : white;
      margin-bottom    : 0;

      img {
        float : none;
      }
    }

    .js-share {
      float  : right;
      height : 40px;
      width  : 110px;

      &.icon-share {
        margin-top : 0;
      }

      .share-popup {
        left : -26px;
        top  : -5px;
      }

      > a {
        display     : inline-block;
        margin-left : 30px;
      }
    }

    .info-tags {
      background : url("../../images/icon-tag.png") left center no-repeat;
      margin     : 10px 20px 0 20px;
      padding    : 0 30px;
    }

    .separator {
      margin : 0 20px 20px 20px;
    }
    div.academy.academy-feed-n div.academy-detail .detail-content {

      .info, .info-tags, .separator {
        margin-left  : 0;
        margin-right : 0;
      }
    }
  }

  // survey
  .survey {
    background-color : #FFFFFF;
    padding          : 20px;

    .question {
      padding-bottom : 10px;
    }

    .answer {
      padding : 10px 0;
      color   : @colorDSGreyDark;

      a {
        font-size : initial;
      }

      .value {

        .progress {
          display          : inline-block;
          height           : 5px;
          background-color : @colorMainOrange;
        }

        .percent {
          float       : right;
          color       : @colorMainOrange;
          font-weight : bold;
          position    : relative;
          top         : 3px;

          .small {
            display     : inline-block;
            font-size   : 12px;
            margin-left : 5px;
          }
        }
      }
    }
  }

  .total {
    padding          : 20px;
    background-color : white;
    border-top       : solid 1px @colorDSGrey;
    color            : @colorDSGreyDark;
  }
}

.js-share {

  a {
    font-size : 13px;

    &.share {
      text-transform : uppercase;
    }
  }

  &.icon-share {
    margin-top : 5px;
    background : url("../../images/icon-share.png") left 9px no-repeat;
  }

  .share-popup {
    background-color : @colorMainOrange;
    font-size        : 13px;
    font-weight      : bold;
    position         : relative;
    width            : 225px;
    padding          : 1px 15px 8px 15px;
    border-radius    : 3px;
    left             : -50px;
    top              : 5px;
    display          : none;
    height           : 20px;
    line-height      : 25px;

    .arrow {
      position      : absolute;
      width         : 0;
      height        : 0;
      border-left   : 5px solid transparent;
      border-right  : 5px solid transparent;
      border-bottom : 5px solid @colorMainOrange;
      top           : -5px;
      left          : 30px;
    }

    a img {
      position : relative;
      margin   : 0 2px;
    }
  }
}
