
div.community-heading {
  display: block;
  width: 100%;

  h2 {
    display: block;
    line-height: 90px;
    color: @colorMainBlack;
    padding: 0;
  }
}

div.community-item {
  display: block;
  padding: 25px 0 65px 0;
  text-align: center;

  &.community-item-grey {
    background: lighten(@colorMainGreyLight, 4%);
  }

  h3 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 1px;
    padding-top: 60px;

    &.icon-help {
      background: url("../../images/icon-community-help.png") no-repeat center top;
      background-size: 48px 48px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/icon-community-help@2x.png") no-repeat center top;
        background-size: 48px 48px;
      }
    }

    &.icon-diagnostics {
      background: url("../../images/icon-community-diagnostics.png") no-repeat center top;
      background-size: 48px 48px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/icon-community-diagnostics@2x.png") no-repeat center top;
        background-size: 48px 48px;
      }
    }

    &.icon-forum {
      background: url("../../images/icon-community-forum.png") no-repeat center top;
      background-size: 48px 48px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/icon-community-forum@2x.png") no-repeat center top;
        background-size: 48px 48px;
      }
    }
  }

  p {
    max-width: 465px;
    width: 100%;
    margin: auto;
    line-height: 25px;
    font-size: 14px;
    padding: 30px 0;
  }

  img {
    display: block;
    width: 100%;
  }
}