.contact {
  background-color : @colorDSGreyLight;

  .content {
    border-top : 3px solid #EF8316;
    background : @colorMainWhite;
    margin     : 20px 0;

    .heading {
      border-bottom : solid 1px @colorDSGrey;
    }

    h2 {
      color : @colorDSBlack;
    }

    .contact-row {
      border-bottom : solid 1px @colorDSGrey;

      .contact-box {
        width        : 25%;
        float        : left;
        padding      : 20px;
        box-sizing   : border-box;
        border-right : solid 1px @colorDSGrey;

        &.last {
          border : 0;
        }

        h3 {
          text-transform : uppercase;
          margin-bottom  : 20px;
        }

        h4 {
          text-transform : uppercase;
          color          : @colorDSGreyDark;
          font-weight    : normal;
          margin-top     : 34px;
        }

        > div {
          margin : 5px 0;
        }

        .map {
          padding-left : 35px;
          background   : url("../../images/icon-pin-small.png") top left no-repeat;

          a {
            text-transform : uppercase;
          }
        }

        .office {

          .office-row {
            margin       : 5px 0;
            padding-left : 35px;

            &.url {
              background : url("../../images/icon-home.png") center left no-repeat;
            }

            &.email {
              background : url("../../images/icon-mail.png") center left no-repeat;
            }
            &.phone {
              background : url("../../images/icon-phone.png") center left no-repeat;
            }
          }
        }
      }
    }

    .contact-form {
      padding : 20px;

      .half {
        width      : 40%;
        float      : left;
        box-sizing : border-box;

        &.gray {
          background-color : @colorDSGreyLight;
          padding          : 20px;
          width            : 60%;
        }
      }

      h3 {
        text-transform : uppercase;
        color          : @colorDSBlack;
        margin-bottom  : 20px;

        &.orange {
          color : @colorMainOrange;
        }
      }

      .gray {
        color : @colorDSGreyDark;
      }

      ul {
        margin-bottom : 30px;

        li {
          margin : 3px 0;
        }
      }

      label, input, textarea, select {
        color  : @colorDSBlack !important;
        width  : calc(~"100% - 140px");
        margin : 6px 0;
      }

      .fancy-select {
        width          : calc(~"100% - 119px");
        padding-top    : 7px;
        padding-bottom : 7px;
      }

      textarea {
        height : 130px;
      }

      label {
        width        : 100px;
        margin-right : 10px;
        text-align   : right;
        display      : inline-block;

        &:last-of-type {
          position : relative;
          top      : -120px
        }
      }

      .fancy-button {
        float : right;
        width : 170px;
      }
    }
  }
}
