.cooperation {
  background-color : @colorDSGreyLight;

  .accordeon-container {
    border-bottom : solid 1px @colorDSGreyLight;
  }

  .fancy-button {
    float         : right;
    padding-left  : 50px;
    padding-right : 50px;
  }
}
