.diagnostic-case {

  &.heading {
    padding       : 15px 30px;
    border-bottom : solid 1px @colorDSGrey;

    .icon {
      margin-right : 5px;
    }

    a {
      text-transform : uppercase;
    }

    h2 {
      text-transform : uppercase;
      font-weight    : bold;
      display        : inline-block;
      padding        : 0 !important;
      border         : 0 !important;
      margin         : 15px 30px;
      height         : auto !important;
    }

    .days-info {
      display          : inline-block;
      color            : @colorMainWhite;
      background-color : @colorMainRed;
      padding          : 15px;
      float            : right;

      .icon-wallet-white {
        margin-left  : 16px;
        margin-right : 8px;
      }

      &.repaired {
        background-color : #68B87A;
      }

      &.unrepaired {
        background-color : #A3A3A3;
      }
    }
  }

  &.author {
    padding : 15px 15px 0 15px;

    .flags {
      display : inline-block;

      a {
        margin-left : 15px;

        &.disabled {
          opacity        : .5;
          pointer-events : none;
        }
      }
    }
  }

  &.resume {
    margin-bottom : 0 !important;

    h3 {
      padding : 18px 20px !important;
    }

    table {

      tr td {
        padding : 4px 0 4px 20px;

        &:first-of-type {
          color          : @colorDSGreyDark;
          text-transform : uppercase;
        }
      }
    }
  }

  &.help-request {
    text-align    : center;
    padding       : 10px 0;
    border        : solid 1px @colorDSGrey;
    margin-bottom : 20px;

    .gray, .text {
      padding : 10px 0;
    }

    .gray {
      text-transform : uppercase;
      color          : @colorDSGreyDark;
    }

    .text {
      font-style : italic;
    }
  }

  &.perex {
    padding-bottom : 20px;

    > .half {
      width : 50%;
      float : left;

      &:nth-of-type(2) {
        background-color : @colorDSGrey;
        padding          : 20px;
        box-sizing       : border-box;

        .memory-errors {
          padding-left   : 0;
          padding-bottom : 0;

          &.info {
            margin-top : 30px;

            li {

              &.sporadic {
                color : #F29400;
              }

              &.permanent {
                color : red;
              }
            }
          }

          li {
            list-style-type : none;

            &:before {
              content       : '';
              display       : inline-block;
              width         : 8px;
              height        : 8px;
              border-radius : 50%;
              margin-right  : 10px;
            }

            &.sporadic:before {
              background : #F29400;
            }

            &.permanent:before {
              background : red;
            }

            &.heading {
              font-weight : bold;
              margin-top  : 30px;

              &:first-of-type {
                margin-top : 10px;
              }

              &:before {
                display : none;
              }
            }
          }
        }
        //> span, strong, div {
        //  display       : block;
        //  margin-bottom : 10px;
        //}
      }

      .right {
        float : right;

        a {
          margin-top : 7px;
        }
      }
    }

    p {
      margin-bottom : 20px;
    }

    ul:last-of-type {
      padding-bottom : 0 !important;
    }
  }

  &.bordered-box {
    padding       : 30px;
    border        : solid 1px @colorDSGrey;
    margin-bottom : 20px;

    h4 {
      color          : @colorMainOrange;
      text-transform : uppercase;
      margin-bottom  : 20px;
    }

    p {
      margin-bottom : 20px;

      &:last-of-type {
        margin-bottom : 0;
      }
    }
  }

  &.images {

    h3 {
      color          : @colorDSBlack !important;
      text-transform : uppercase;

      .icon {
        margin-right : 10px;
      }
    }

    .context-menu-container {
      position : relative;
      float    : right;

      &:hover {

        .context-menu {
          border-color     : @colorMainOrange;
          background-color : @colorMainOrange;

          > span {
            border-top-color : @colorMainWhite;
          }
        }

        .lightbox-buttons {
          display : block;
        }
      }

      .context-menu {
        float   : right;
        padding : 4px 2px;
        border  : solid 1px @colorDSGrey;

        > span {
          display      : block;
          width        : 0;
          height       : 0;
          border-left  : 5px solid transparent;
          border-right : 5px solid transparent;
          border-top   : 5px solid @colorDSGrey;
        }
      }

      .lightbox-buttons {
        display    : none;
        box-shadow : @colorDSGreyDarkest 0 0 10px;
        position   : absolute;
        left       : -285px;
        top        : 15px;
      }
    }

    .author-gray {
      text-transform : uppercase;
      color          : @colorDSGreyDark;
      padding        : 20px;
    }

    img.left {
      width  : 200px;
      height : auto;
    }

    .smile {
      width : 225px !important;
    }

    p {
      padding-left : 220px;
    }
  }

  &.files {
    margin-bottom : 50px;
    margin-top    : 30px;

    ul {
      padding : 0 !important;

      li {
        background    : none !important;
        margin-bottom : 0 !important;
        border-bottom : solid 1px @colorDSGrey;
        position      : relative;

        &:first-of-type {
          border-top : solid 1px @colorDSGrey;
        }

        .img {
          margin-right : 142px !important;
          position     : absolute !important;
          top          : 50%;
          transform    : translateY(-50%);

          &.texvik {
            background-image : url("../../images/texvik.png") !important;
            height           : 56px !important;
          }
        }

        .fileinfo, .btn-download {
          float : none !important;
        }

        .fileinfo {
          margin-left : 180px;
          width       : auto !important;
        }

        .btn-download {
          margin-left : 200px;
        }
      }
    }
  }

  &.unlogged-content {
    background  : @colorMainWhite url("../../images/blured-article.jpg");
    width       : 712px;
    height      : 2746px;
    text-align  : center;
    padding-top : 100px;

    a {
      color          : @colorDSBlack;
      text-transform : uppercase;
      font-weight    : bold;
      font-size      : 16px;

      &.big {
        display   : block;
        border    : solid 3px @colorMainOrange;
        padding   : 15px;
        font-size : 20px;
        margin    : 20px auto;
        width     : 350px;
      }

      .icon {
        margin-left : 10px;
      }
    }
  }
}

#pdf-export {

  h2 {
    padding : 0 0 30px 0;
    color   : @colorDSBlack;

    .icon {
      margin-right : 10px;
    }
  }

  .lightbox-content .scrollable {
    overflow-y : auto;
    max-height : 600px;

    .gray-box {
      padding          : 20px;
      background-color : @colorDSGreyLight;
      margin           : 20px 0 10px 0;

      h3, label {
        text-transform : uppercase;
        font-size      : 16px;
        font-weight    : bold;
      }

      h3, .checkbox {
        margin-bottom : 10px;
      }

      .fancy-input {
        width   : 715px;
        padding : 0 20px;
      }

      textarea {
        min-height  : 125px;
        padding     : 20px !important;
        line-height : 18px;
      }
    }

    .checkbox {
      margin-bottom : 10px;
    }

    .checkbox input[type=checkbox] + label {
      font-size : 15px;
    }

    .checkbox input[type=checkbox]:checked + label {
      font-weight : bold;
    }
  }

  .fancy-button {
    margin  : 20px auto;
    display : block;
  }
}

div.academy.academy-feed-n div.academy-detail div.detail-actions div.thumbs:nth-of-type(2) {
  margin-top : 5px;

  button.btn-pdf {
    margin     : 5px 0 10px 0;
    background : url('../../images/icon-pdf.png') no-repeat center;
  }
}
