
div.diagnostics {
  display: block;
  width: 100%;
  background: @colorMainWhite;
  padding: 35px 0 55px 0;

  ul {
    display: block;
    padding: 30px 0 0 0;
    width: 100%;

    li {
      display: block;
      float: left;
      width: calc(~"25% - 23px");
      margin-right: 30px;
      height: 280px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }

      h3 {
        padding-top: 15px;
        display: block;
        width: 100%;
        font-size: 14px;
        color: @colorMainBlack;
        font-weight: 400;
        line-height: 19px;

        small {
          display: block;
          font-size: 14px;
          color: @colorMainOrange;
        }
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }


}

@media (max-width: 830px) {

  div.diagnostics {
    padding-bottom: 0;

    ul {

      li {
        width: 48%;
        height: auto;
        margin-right: 4%;
        padding-bottom: 40px;

        &:nth-child(2n) {
          margin-right: 0;
          float: right;
        }
      }
    }
  }
}

@media (max-width: 750px) {

  div.diagnostics {
    padding-bottom: 0;

    ul {

      li {
        width: 100%;
        height: auto;
        margin-right: 0;
        padding-bottom: 40px;
      }
    }
  }
}