.content-container.email-client {
  border-color : @colorMainRed;

  .sidebar {
    width      : 30%;
    float      : left;
    box-sizing : border-box;
    padding    : 20px;

    .search-component {
      width  : 100%;
      margin : 0;

      input[type=text] {
        width        : calc(~"100% - 32px");
        border       : solid 1px @colorDSGrey;
        border-right : 0;
      }
    }

    .fancy-button {
      width      : 100%;
      background : @colorMainOrange url("../../images/icon-new-message.png") 12px 4px no-repeat;
      height     : 30px;
      margin     : 20px 0;
    }

    .email-dir {

      li {
        text-transform : uppercase;
        display        : block;
        margin         : 10px 0;

        &:first-of-type {
          margin-top : 0;
        }

        &:last-of-type {
          margin-bottom : 0;
        }

        a {
          color : @colorDSBlack;

          &.active {
            color : @colorMainOrange;
          }
        }
      }
    }

    .email-people {
      margin     : 20px -20px -20px -20px;
      height     : 500px;
      overflow-y : scroll;

      &::-webkit-scrollbar {
        width : 5px;
      }

      &::-webkit-scrollbar-track {
        background-color : transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color : @colorDSGreyDark;
        border-radius    : 5px;
      }

      .person {
        height        : 65px;
        padding       : 10px 0;
        position      : relative;
        overflow      : hidden;
        width         : 100%;
        border-bottom : solid 1px @colorDSGrey;

        &.active {
          background-color : @colorMainOrangeEmail;
          border           : none;
        }

        &.empty {

          .user-img {
            background-color : @colorMainWhite;
            border-radius    : 50%;
            text-align       : center;
            line-height      : 45px;
          }

          .name, .conversation {
            font-style : italic;
          }
        }

        &:hover {

          .remove {
            display : block;
          }
        }

        .user-img {
          position  : relative;
          top       : 50%;
          transform : translateY(-50%);
        }

        .user-data {
          position      : absolute;
          margin-left   : 20px;
          top           : 50%;
          transform     : translateY(-50%);
          padding-right : 5px;

          .name, .date, .conversation {
            margin : 0;
          }

          .date {

            .time {
              color : @colorDSGreyDark;
            }
          }
        }

        .remove {
          display       : none;
          color         : @colorDSBlack;
          position      : absolute;
          right         : 10px;
          top           : 50%;
          transform     : translateY(-50%);
          border        : solid 1px @colorDSBlack;
          border-radius : 50%;
          width         : 15px;
          height        : 15px;
          text-align    : center;
          line-height   : 15px;
        }
      }
    }
  }

  .email-content {
    width       : 70%;
    float       : right;
    border-left : solid 1px @colorDSGrey;
    box-sizing  : border-box;
    min-height  : 800px;

    > .header {
      padding       : 20px;
      border-bottom : solid 1px @colorDSGrey;

      h2 {
        text-transform : none;
        text-align     : left;
        color          : @colorDSBlack;
        padding        : 0;
        display        : inline-block;
      }

      .lightbox-buttons-opener {
        float : right;

        .lightbox-buttons {
          margin-left : 0;
          width       : 330px;
          box-shadow  : 0 0 20px 2px @colorDSGreyDark;

          a {
            background-position : 310px center;

            .icon {
              width               : 40px;
              height              : 40px;
              background-position : center center;
              background-repeat   : no-repeat;
            }
          }
        }
      }
    }

    > .conversation {
      padding : 20px;

      .message {
        width       : 90%;
        padding-top : 20px;
        line-height : 18px;
        font-size   : 14px;

        &:first-of-type {
          padding-top : 0;
        }

        .content {
          padding       : 20px;
          margin-bottom : 10px;
        }

        &.message-left {
          float : left;

          .content {
            background-color : @colorDSGreyLight;

            .file {
              border : solid 1px @colorDSGrey;
            }
          }
        }

        &.message-right {
          float : right;

          .content {
            background-color : @colorMainOrangeEmail;

            .file {
              border : solid 1px @colorMainOrange;
            }
          }
        }

        .date {

          .time {
            color : @colorDSGreyDark;
          }
        }

        .attachment {
          padding-top : 20px;

          &.attachment-preview {

            .file {

              .name {
                color : @colorMainBlack;
              }

              .desc {
                color       : @colorMainRed;
                font-weight : bold;
                font-size   : 14px;
              }
            }
          }

          > strong {
            margin-bottom : 3px;
            display       : inline-block;
          }

          .file {
            padding  : 10px;
            position : relative;

            .name {
              color : @colorMainOrange;
            }

            .desc {
              font-size : 11px;
            }

            .image {
              float        : left;
              height       : 80px;
              width        : 80px;
              margin-right : 10px;
              overflow     : hidden;

              img {
                min-width  : 100%;
                min-height : 100%;
              }
            }

            .btn {
              color            : @colorMainWhite;
              background-color : @colorMainRed;
              text-transform   : uppercase;
              padding          : 1px 10px;
              margin-top       : 4px;
            }

            .download {
              background : url(../../images/icon-download.png) center center no-repeat;
              display    : inline-block;
              width      : 17px;
              height     : 21px;
              position   : absolute;
              right      : 10px;
              bottom     : 10px;
            }
          }
        }
      }
    }

    .message-form {
      border  : solid 1px @colorMainOrange;
      padding : 15px;
      margin  : 20px;

      .message-header {
        color : @colorDSGreyDark;

        a {
          color           : @colorDSBlack;
          text-decoration : underline;
        }
      }

      textarea {
        width      : 100%;
        max-width  : 100%;
        min-height : 50px;
        border     : 0;
        margin     : 15px 0;
        outline    : none;
      }

      .message-footer {
        line-height : 30px;

        a {
          text-transform : uppercase;
        }

        label {
          color : @colorDSGreyDark;
        }

        .fancy-button {
          margin      : 0 0 0 15px;
          height      : 30px;
          line-height : 0;
        }

        .fancy-button, .checkbox {
          float : right;
        }
      }

      /* NEW MESSAGE FORM */
      &.message-new {
        padding : 0;

        input[type=text] {
          border     : 0;
          box-sizing : border-box;
          outline    : none;

          &.subject {
            border-bottom : solid 1px @colorMainOrange;
            width         : 100%;
            padding       : 5px 15px;
          }
        }

        textarea {
          min-height : 80px;
          margin     : 15px;
          box-sizing : border-box;
          width      : calc(~"100% - 30px"); // TODO
          max-width  : calc(~"100% - 30px");
        }

        .message-footer {
          margin : 15px;
        }

        .name-whisperer-container {
          position      : relative;
          border-bottom : solid 1px @colorMainOrange;
          padding       : 5px 15px;

          > span {
            background-color : @colorMainOrangeEmail;
            border-radius    : 3px;
            margin           : 0 2px;
            box-sizing       : border-box;
            color            : @colorMainOrange;
            display          : inline-block;
            padding          : 2px 0 2px 10px;
            font-size        : 12px;
            position         : relative;
            top              : -2px;

            > a {
              color       : @colorDSGreyDark;
              padding     : 0 5px 0 2px;
              font-weight : bold;
            }
          }

          > .name-whisperer {
            position   : absolute;
            box-shadow : 0 0 5px 2px @colorDSGreyDark;
            z-index    : 9;
            max-height : 400px;
            overflow-y : auto;

            &:empty {
              box-shadow : none;
            }

            li {
              height           : 57px;
              line-height      : 37px;
              background-color : @colorMainWhite;
              box-sizing       : border-box;
              padding          : 10px;
              border-bottom    : solid 1px @colorDSGrey;
              cursor           : pointer;
              min-width        : 270px;

              &:last-of-type {
                border : 0;
              }

              &:hover {
                background-color : @colorMainOrangeEmail;
              }

              img {
                width         : 37px;
                height        : 37px;
                border-radius : 50%;
                float         : left;
                margin-right  : 10px;
              }
            }
          }
        }
      }
    }
  }
}
