.error-page {
  text-align       : center;
  background-color : @colorDSGreyLight;

  .content-container-full {
    padding : 40px 25px 25px 25px;

    p {
      margin     : 25px auto;
      max-width  : 520px;
      text-align : center;

      &:last-of-type {
        margin-bottom : 0;
      }
    }

    a {
      text-decoration : underline;
    }

    .gray-text {
      color : @colorDSGreyDark;
    }

    ul li {
      padding : 8px;
    }
  }

  &.page-404 {

    .content-container-full {

      .heading {

        .url {
          font-style : italic;
          margin-top : 0;
        }
      }

      .content {
        background-color : @colorDSGreyLight;
        padding          : 25px;
        margin-top       : 40px;

        h2 {
          color       : @colorDSBlack;
          padding-top : 0;
        }

        ul li {

          &:first-of-type {
            padding-top : 0;
          }
          &:last-of-type {
            padding-bottom : 0;
          }

          &:before {
            content          : '';
            display          : inline-block;
            background-color : black;
            width            : 5px;
            height           : 5px;
            border-radius    : 50%;
            margin-right     : 4px;
            position         : relative;
            transform        : translateY(-50%);
          }
        }
      }
    }
  }

}
