
div.footer {
  display: block;
  width: 100%;
  background: @colorMainBlack;

  ul {
    display: inline-block;

    li {
      display: inline-block;
      line-height: 55px;
      position: relative;

      a {
        color: @colorMainWhite;
        font-size: 14px;
        padding: 0 10px;
      }

      &:after {
        display: block;
        content: "";
        border-right: 1px solid @colorMainOrange;
        width: 1px;
        height: 15px;
        position: absolute;
        top: 20px;
        right: 0;
      }

      &:last-child:after {
        display: none;
      }

      &:first-child a {
        padding-left: 0;
      }
    }
  }

  span {
    float: right;
    display: inline-block;
    line-height: 55px;
    color: @colorMainWhite;
    font-size: 14px;
    padding: 0 10px;
    position: relative;

    a {
      color: @colorMainOrange;
    }

    &:after {
      display: block;
      content: "";
      border-right: 1px solid @colorMainOrange;
      width: 1px;
      height: 15px;
      position: absolute;
      top: 20px;
      right: 0;
    }

    &:first-of-type {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {

  div.footer {

    ul {


      li {

        a {
          font-size: 12px;
        }

        &:after {
          height: 12px;
          top: 23px;
        }
      }
    }

    span {
      font-size: 12px;
    }

    &:after {
      height: 12px;
      top: 23px;
    }
  }
}

@media (max-width: 750px) {

  div.footer {

    ul {
      display: none;
    }

    span {
      font-size: 12px;
    }

    &:after {
      height: 12px;
      top: 23px;
    }
  }
}