.forum {

  .forum-add {

    h2 {
      color          : #000000;
      text-transform : uppercase;
      border-bottom  : solid 1px @colorDSGrey;
    }

    .icon-forum {
      margin-right : 10px;
    }

    .content-separator > div {
      background-color : @colorDSGreyLight;
      padding          : 20px;

      h3 {
        text-transform : uppercase;
        text-align     : center;
        margin-bottom  : 20px;
      }

      input[type=text] {

        &.name {
          width     : calc(~"100% - 22px");
          height    : 50px;
          font-size : 17px;
        }

        &.filename {
          width : calc(~"100% - 177px");
        }
      }

      select {

        &.category {
          width : calc(~"100% - 155px");
        }

        &.filetype {
          width : calc(~"100% - 158px");
        }
      }

      .textarea-controls {
        padding          : 20px;
        background-color : #FFFFFF;
        border           : solid 1px @colorDSGrey;
        border-bottom    : 0;

        .controls {
          display          : inline-block;
          background-color : @colorDSGreyLight;
          padding          : 5px;

          li {
            float        : left;
            margin-right : 5px;

            &:last-of-type {
              margin-right : 0;
            }

          }
        }
      }

      textarea {
        height     : 170px;
        width      : calc(~"100% - 22px");
        border-top : 0;
      }

      label {
        text-transform : uppercase;
        width          : 150px;
        display        : inline-block;

        &.long {
          width : 330px;
        }

        &.main-file {
          line-height : 34px;
        }

        &.doc {
          position : relative;
          top      : -102px;
        }
      }

      > div {
        margin-bottom : 20px;

        &.white-bg {
          background-color : #FFFFFF;
          padding          : 20px;
          border           : solid 1px @colorDSGrey;

          > div {
            margin-bottom : 20px;
          }
        }
      }

      input[type=file] {
        visibility : hidden;
        position   : absolute;
        top        : 0;
        left       : 0;
        height     : 0;
      }

      .file-dialog_name-info {
        color       : @colorDSGreyDark;
        display     : inline;
        font-size   : 12px;
        float       : right;
        height      : 37px;
        line-height : 37px;
      }

      button.btn-show-file_dialog {
        display        : inline-block;
        font-size      : 12px;
        color          : @colorMainOrange;
        text-transform : uppercase;
        line-height    : 37px;
        height         : 37px;
        border         : none;
        outline        : none;
        background     : url("../../images/icon-attach-comment.png") no-repeat center left transparent;
        text-align     : left;
        padding-left   : 25px;
        margin-left    : 160px;
      }
    }

    .radios-container.inline {
      float : none;

      label {
        width : 70px;
      }
    }

    .fancy-button {
      margin  : 0 auto;
      display : block;

      &.icon {
        background    : @colorMainOrange url("../../images/tooltip-arrow-white.png") 130px center no-repeat;
        padding-right : 30px;
      }

      &.add-post {
        margin : 50px auto 265px auto;
      }
    }
  }
}
