.forum-detail {

  .heading {
    text-align : center;

    > div {
      display : inline-block;

      &:first-of-type {
        float      : left;
        margin-top : 15px;
      }

      h2 {
        margin-left : 5px;
      }
    }
  }

  .btn-edit {
    margin : 10px 0;
  }

  .page-path li {
    padding : 0 20px 0 10px;

    &:last-of-type {
      font-weight : bold;
    }
  }

  .files {

    h3 {
      margin-bottom : 25px;
    }

    .files-row {
      margin-bottom : 30px;

      &:last-child {
        margin-bottom : 0;
      }

      .file {
        width        : 120px;
        float        : left;
        margin-right : 23px;

        &.last {
          margin-right : 0;
        }

        .smile {
          width : auto !important;
          right : -19px;
          top   : -19px;
        }

        .image {
          width         : 100%;
          height        : 120px;
          background    : @colorDSGreyLight url("../../images/icon-file-big.png") center center no-repeat;
          margin-bottom : 10px;
          overflow      : hidden;

          .file-type {
            display     : inline-block;
            color       : white;
            position    : relative;
            top         : 74px;
            left        : 55px;
            font-weight : bold;
          }

          img {
            min-width  : 120px;
            min-height : 120px;
          }
        }

        a {
          font-size       : 13px;
          font-weight     : bold;
          text-decoration : underline;
        }
      }
    }
  }
}
