.gs {

  &.how-it-works {
    text-align      : center;
    background      : url('../../images/ds-bg.jpg') center center no-repeat;
    background-size : cover;
    padding         : 45px 0;

    h1 {
      color          : @colorDSBlack;
      padding        : 50px 0;
      text-transform : none;
      font-size      : 26px;
      margin         : 0;
    }

    .box-container {

      > .box {
        box-sizing : border-box;
        width      : 25%;
        float      : left;
        position   : relative;
        min-height : 170px;

        .header {
          display : table;
          width   : 100%;

          p {
            height         : 60px;
            display        : table-cell;
            vertical-align : middle;

            span {
              color       : @colorMainOrange;
              white-space : nowrap;
            }
          }
        }

        .icon-gs-arrow {
          position : absolute;
          right    : -30px;
          top      : 50%;
        }

        .icon-gs-worker {
          width               : 100%;
          background-position : center center;
          background-repeat   : no-repeat;
        }

        .icon-gs-help,
        .icon-gs-thumbs,
        .icon-gs-stars,
        .icon-gs-door {
          position  : absolute;
          bottom    : 0;
          left      : 50%;
          transform : translateX(-50%);
        }
      }
    }

    .fancy-button {
      margin-top     : 70px;
      font-size      : 15px;
      padding-top    : 10px;
      padding-bottom : 10px;
    }
  }

  &.help-info {
    padding          : 50px 0;
    background-color : #F8F8F8;

    h2 {
      color   : @colorMainOrange;
      padding : 0 0 50px 0;
    }

    .box-container {

      .box {
        width      : 25%;
        float      : left;
        box-sizing : border-box;
        text-align : center;
        padding    : 0 20px;

        h3 {
          color       : @colorMainOrange;
          font-weight : normal;
        }
      }
    }
  }

  &.reference {
    padding          : 50px 0;
    background-color : @colorMainGreyLight;

    .box-container {

      .box {
        background-color : @colorMainWhite;
        width            : calc(~"50% - 15px");
        box-sizing       : border-box;
        padding          : 10px 20px 30px 20px;
        border-top       : solid 3px @colorMainOrange;
        min-height       : 500px;

        &.box-left {
          float        : left;
          margin-right : 30px;

          .row {
            padding        : 3px 0;
            letter-spacing : 1px;

            .date {
              color        : @colorMainOrange;
              margin-right : 30px;
            }
          }
        }

        &.box-right {
          float : right;

          .row {

            .message {
              background-color : #F8F8F8;
              height           : 90px;
              display          : table;

              .photo {
                width    : 90px;
                height   : 90px;
                float    : left;
                overflow : hidden;

                img {
                  min-height : 90px;
                  min-width  : 90px;
                }
              }

              p {
                display        : table-cell;
                vertical-align : middle;
                padding        : 0 20px;

                span {
                  color : @colorMainOrange;
                }
              }
            }

            .name {
              color      : @colorMainOrange;
              text-align : right;
              padding    : 10px 5px 20px 0;
            }
          }
        }

        h2 {
          padding-bottom : 50px;
        }

        .icon-gs-calendar,
        .icon-gs-megaphone {
          display             : block;
          background-position : center center;
          background-repeat   : no-repeat;
          width               : 100%;
        }
      }
    }
  }
}
