
div.goodservice-register {
  background: @colorDSGreyLight;
  position: relative;
  min-width: @sizeContainer;

  div.container-left, div.container-right {
    width: 50%;
    float: left;
  }

  div.container-left {
    padding: 30px 30px 30px 0;
    max-width: @sizeContainer/2 - 30px;
    margin-left: calc(~"50% - 489px");
  }

  div.container-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.2);
  }

  div.map {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: @colorDSGreyLight;
    z-index: 3;
    opacity: 0;
  }

  div.placeholder {
    display: block;
    width: 100%;
    position: absolute;
    top: 30vh;
    right: 0;
    text-align: center;
    font-size: 30px;
    color: @colorDSGrey;
    z-index: 2;
  }

  div.container-left {

    div.message {
      font-size: 14px;
      line-height: 1.2;
      padding: 15px 10px 15px 45px;
      display: block;
      width: calc(~"100% - 55px");
      margin-bottom: 20px;

      &.message-error {
        background: #ffd6d6 url("../../images/icon-cross.png") no-repeat 10px center;
        border: 1px solid #d03a3b;
        color: #d03a3b;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: #ffd6d6 url("../../images/icon-cross@2x.png") no-repeat 10px center;
          background-size: 25px 25px;
        }
      }

      &.message-success {
        background: #e4fdb7 url("../../images/icon-check.png") no-repeat 10px center;
        border: 1px solid #73b843;
        color: #73b843;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: #e4fdb7 url("../../images/icon-check@2x.png") no-repeat 10px center;
          background-size: 25px 25px;
        }
      }
    }

    a.fcd-link {
      display: block;
      color: @colorMainOrange;
      font-size: 15px;

      &:after {
        content: "»";
        font-size: 25px;
        color: @colorMainGrey;
        padding-left: 5px;
        position: relative;
        top: 3px;
      }
    }

    p.desc {
      padding-top: 20px;
      font-size: 14px;
      color: @colorMainGrey;
    }

    a.gs-brand {
      display: block;
      background: url("../../images/logo-ds.png") no-repeat center;
      width: 260px;
      height: 32px;
      text-indent: -9999px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/logo-ds@2x.png") no-repeat center;
        background-size: 260px 32px;
      }
    }

    h2 {
      text-align: left;
      color: @colorDSBlack;
      font-size: 19px;
      font-weight: normal;
      padding: 25px 0;
    }

    form {

      fieldset {
        border: none;
        border-bottom: 1px solid @colorDSGrey;
        padding: 0 0 17px 0;

        legend {
          text-transform: uppercase;
          color: @colorDSBlack;
          font-size: 14px;
          padding: 17px 0;
        }

        ul {
          padding: 0;
          margin: 0;

          &.inputs li {
            margin-bottom: 17px;

            input[type=text], input[type=email], input[type=url], textarea {
              display: block;
              width: calc(~"100% - 26px");
              padding: 13px;
              -webkit-appearance: none;
              outline: none;
              border: none;
              background: @colorMainWhite;
              font-size: 14px;

              &:focus {
                background: darken(@colorMainWhite, 1%);
              }

              &.error {
                outline: 1px solid #d03a3b;
                color: #d03a3b;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }

            &.inline {
              padding-top: 15px;

              label {
                text-transform: uppercase;
                color: @colorDSBlack;
                font-size: 14px;
                line-height: 42px;
                float: left;
              }

              span {
                color: @colorDSBlack;
                font-size: 14px;
                line-height: 42px;
                float: right;
                margin-left: 15px;
              }

              input[type=text], input[type=email], input[type=url], textarea {
                display: inline-block;
                width: 140px;
                float: right;
              }
            }
          }

          &.checks li {
            display: inline-block;
            padding-right: 25px;
            line-height: 34px;

            label {
              font-size: 14px;
              color: @colorDSGreyDark;
              white-space: nowrap;
              cursor: pointer;
            }

            input[type="checkbox"] {
              display:none;
            }

            input[type="checkbox"] + label span {
              display:inline-block;
              width: 16px;
              height: 16px;
              vertical-align: middle;
              background: url("../../images/icon-checkbox.png") no-repeat;
              margin-right: 5px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-checkbox@2x.png") no-repeat;
                background-size: 16px 16px;
              }
            }

            input[type="checkbox"]:checked + label span {
              background: url("../../images/icon-checkbox-selected.png") no-repeat;
              background-size: 16px 16px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-checkbox-selected@2x.png") no-repeat;
                background-size: 16px 16px;
              }
            }

            input[type="checkbox"]:checked + label {
              font-weight: bold;
            }
          }

          &.radios li {
            display: block;
            line-height: 34px;

            label {
              font-size: 14px;
              color: @colorDSGreyDark;
              white-space: nowrap;
              cursor: pointer;

              strong {
                font-weight: normal;
              }

              small {
                font-size: 100%;
              }

              .hidden {
                display: none;
              }
            }

            input[type="radio"] {
              display:none;
            }

            input[type="radio"] + label span {
              display:inline-block;
              width: 16px;
              height: 16px;
              vertical-align: middle;
              background: url("../../images/icon-radio.png") no-repeat;
              margin-right: 5px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-radio@2x.png") no-repeat;
                background-size: 16px 16px;
              }
            }

            input[type="radio"]:checked + label span {
              background: url("../../images/icon-radio-selected.png") no-repeat;
              background-size: 16px 16px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-radio-selected@2x.png") no-repeat;
                background-size: 16px 16px;
              }
            }

            input[type="radio"]:checked + label strong {
              font-weight: bold;
            }

            input[type="radio"]:checked + label .hidden {
              display: inline;
            }
          }

          &.tags {
            margin: 17px 0 0 0;

            &.tags-from-repair-brands {
              display: none;
            }

            li {
              display: inline-block;
              background: @colorMainWhite;
              border: 1px solid #dddddd;
              font-size: 12px;
              line-height: 15px;
              position: relative;
              padding-left: 3px;
              height: 18px;
              margin-left: 11px;
              margin-right: 11px;
              margin-bottom: 10px;

              button {
                display: inline-block;
                position: static;
                text-indent: 0;
                background: none;
                width: auto;
                height: auto;
                padding: 0 3px;
                font-size: 15px;
                line-height: 15px;
                -webkit-appearance: none;
                outline: none;
                border: none;
              }

              &:before {
                position: absolute;
                content: "";
                background: url("../../images/icon-tag-arrow.png") no-repeat;
                width: 11px;
                height: 20px;
                left: -11px;
                top: -1px;

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                  background: url("../../images/icon-tag-arrow@2x.png") no-repeat;
                  background-size: 11px 20px;
                }
              }
            }
          }

          &.photos li {
            display: block;
            height: 134px;
            float: left;
            position: relative;

            &.photo-wrapper , &.main{
              margin-right: 45px;
            }

            input[type=file] {
              visibility: hidden;
              width: 1px;
              height: 1px;
              position: absolute;
            }

            div {
              position: relative;
              overflow: hidden;
              width: 84px;
              height: 84px;
              background: #444;

              &.rounded {
                border-radius: 50%;
              }
            }

            img {
              display: block;
              cursor: pointer;
              margin: auto;
              height: auto;
              max-height: 100%;
              width: auto;
              max-width: 100%;

              &:active {
                opacity: .7;
              }
            }

            small {
              padding: 13px 0;
              display: block;
              text-transform: uppercase;
              font-size: 11px;
              color: @colorDSGreyDark;
              line-height: 1.3;
            }

            &:first-child small {
              padding-left: 10px;
            }

            button.cross {
              display: block;
              -webkit-appearance: none;
              outline: none;
              border: none;
              background: none;
              position: absolute;
              right: 0px;
              bottom: 11px;
              font-size: 20px;
              opacity: .7;

              &:active {
                opacity: 1;
              }
            }

            button.add {
              display: block;
              -webkit-appearance: none;
              outline: none;
              border: none;
              text-indent: -9999px;
              width: 84px;
              height: 84px;
              background: url("../../images/icon-ds-photo-add@2x.png") no-repeat;
              background-size: 84px 84px;

              &:active {
                opacity: .7;
              }
            }
          }
        }

        div.add-control {
          display: block;
          position: relative;
          width: 100%;
          margin: 17px 0 0 0;

          input[type=text] {
            display: block;
            width: calc(~"100% - 57px");
            padding: 13px 42px 13px 13px;
            -webkit-appearance: none;
            outline: none;
            border: 1px solid @colorMainWhite;
            background: @colorMainWhite;
            font-size: 14px;

            &:focus {
              border: 1px solid darken(@colorMainWhite, 1%);
              background: darken(@colorMainWhite, 1%);
            }

            &.error {
              border: 1px solid @colorMainOrange;
            }
          }

          button {
            position: absolute;
            -webkit-appearance: none;
            outline: none;
            border: none;
            right: 0;
            top: 0;
            height: 42px;
            width: 42px;
            text-indent: -9999px;
            background: transparent url("../../images/icon-plus.png") no-repeat center;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              background: transparent url("../../images/icon-plus@2x.png") no-repeat center;;
              background-size: 14px 14px;
            }

            &:active {
              opacity: .7;
            }
          }

          &.add-control-dropdown {
            display: none;

            ul.dropdown {
              border: 1px solid @colorDSGrey;
              background: @colorMainWhite;
              font-size: 14px;
              position: absolute;
              top: 44px;
              left: 0;
              right: 0;
              width: calc(~"100% - 2px");
              z-index: 1;
              display: none;

              li {
                padding: 0 13px;
                line-height: 42px;
                border-bottom: 1px solid @colorDSGrey;
                color: @colorDSGreyDark;
                cursor: pointer;

                strong {
                  color: @colorDSBlack;
                  font-weight: normal;
                }

                &:focus {
                  outline: none;
                  background: darken(@colorMainWhite, 5%);
                }
              }
            }

          }
        }

        table {
          border-collapse: collapse;
          width: 100%;

          tr td {
            font-size: 14px;
            color: @colorDSGreyDark;
            padding-bottom: 15px;

            &.dash {
              width: 25px;
              text-align: center;
            }

            &.input {
              width: 66px;
            }

            input[type=text] {
              display: block;
              width: 40px;
              padding: 13px;
              -webkit-appearance: none;
              outline: none;
              border: none;
              background: @colorMainWhite;
              font-size: 14px;
              color: @colorDSBlack;

              &:focus {
                background: darken(@colorMainWhite, 1%);
              }

              &:disabled {
                background: darken(@colorMainWhite, 3%);
              }
            }

            label {
              font-size: 14px;
              color: @colorDSGreyDark;
              white-space: nowrap;
              cursor: pointer;
              padding-left: 15px;
              width: 100px;
              display: inline-block;
            }

            input[type="checkbox"] {
              display:none;
            }

            input[type="checkbox"] + label span {
              display:inline-block;
              width: 16px;
              height: 16px;
              vertical-align: middle;
              background: url("../../images/icon-checkbox.png") no-repeat;
              margin-right: 5px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-checkbox@2x.png") no-repeat;
                background-size: 16px 16px;
              }
            }

            input[type="checkbox"]:checked + label span {
              background: url("../../images/icon-checkbox-selected.png") no-repeat;
              background-size: 16px 16px;

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url("../../images/icon-checkbox-selected@2x.png") no-repeat;
                background-size: 16px 16px;
              }
            }

            input[type="checkbox"]:checked + label {
              font-weight: bold;
            }
          }
        }
      }

      input[type=submit] {
        display: block;
        -webkit-appearance: none;
        outline: none;
        border: none;
        background: @colorMainOrange;
        font-size: 14px;
        text-transform: uppercase;
        color: @colorMainWhite;
        padding: 7px 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 100px;
      }
    }
  }
}

@media (max-width: @sizeContainer) {

  div.goodservice-register {

    div.container-right {
      margin-right: 0;
    }

    div.container-left {
      margin-left: 0;
    }
  }
}