.content-container.help-request-page {
  border-color : @colorMainRed;

  .content-separator {
    padding-top : 0;

    p {
      margin-top : 20px;

      &:first-of-type {
        margin-top : 0;
      }
    }

    .reward-row {
      height        : 40px;
      margin-bottom : 10px;
      display       : inline-block;
      float         : left;

      &:last-of-type {
        margin-bottom : 0;
      }

      img {
        width         : 40px;
        height        : 40px;
        border-radius : 40px;
      }

      .badge {
        display       : inline-block;
        width         : 19px;
        line-height   : 19px;
        height        : 19px;
        text-align    : center;
        font-size     : 11px;
        color         : @colorMainWhite;
        background    : @colorMainGrey;
        border-radius : 19px;
        border        : 1px solid @colorMainWhite;
        overflow      : hidden;
        position      : relative;
        top           : -7px;
        left          : -13px;
      }

      .name {
        line-height : 40px;
        color       : @colorMainOrange;
        font-weight : bold;
        display     : inline-block;
        min-width   : 175px;
      }

      span {
        position : relative;
        top      : -10px;

        &:last-of-type {
          margin-left : 10px;
        }

        .fancy-input {
          width : 60px;
        }
      }
    }

    .reward-recap {
      width   : 270px;
      display : inline-block;
      float   : right;

      .orange {
        color     : @colorMainOrange;
        font-size : 25px;
      }

      td {
        line-height : 30px;

        &:nth-of-type(2) {
          padding-left : 50px;
        }
      }

      a {
        text-transform  : uppercase;
        text-decoration : underline;
        margin-top      : 10px;
      }
    }

    .no-useless-tip {

      .main {
        display     : inline-block;
        font-weight : bold;
      }

      .info {
        margin      : 5px 0 0 25px;
        white-space : normal;
        line-height : 15px;
      }
    }
  }

  h2 {

    &.red {
      color : @colorMainRed;
    }

    &.black {
      margin-top : 15px;
      color      : @colorDSBlack;
    }
  }

  h3 {
    margin-top : 15px;
    padding    : 20px;
    text-align : center;
  }

  .state {
    padding-left : 10px;
    border-top   : solid 1px @colorDSGrey;

    strong {
      line-height  : 40px;
      padding-left : 15px;
      display      : inline-block;
      margin-top   : 10px;

      .green {
        color          : @colorMainGreen;
        text-transform : uppercase;
      }
    }

    ul {
      height        : 40px;
      margin-bottom : 10px;

      li {
        float       : left;
        display     : inline-block;
        line-height : 45px;
        width       : 16.666%;
        font-weight : bold;
        text-align  : center;

        &.block {
          pointer-events : none;
          opacity        : .3;
        }

        a {
          color : @colorMainOrange;
        }
      }
    }
  }

  .page-path {
    border-top : solid 1px @colorDSGrey;

    &.second {
      background-color : @colorDSGreyLight;

      li {
        width            : 197px;
        font-weight      : normal;
        color            : @colorDSGreyDark;
        background-color : @colorDSGreyLight;

        .path-badge {
          background-color : @colorDSGreyDark;
        }

        &:first-of-type, &.active {
          font-weight      : bold;
          color            : @colorDSBlack;
          background-color : #FFFFFF;

          .path-badge {
            background-color : @colorMainOrange;
          }
        }

        &.active {
          background : #FFFFFF url("../../images/path-arrow-big-disabled.png") no-repeat right center;

          &:last-of-type {
            background-image : none;
          }

          &.visited {
            background : #FFFFFF url("../../images/path-arrow-big.png") no-repeat right center;

            span:last-of-type {
              opacity : .3;
            }

            .path-badge {
              background-color : @colorMainOrangeLight;
            }
          }
        }

        > span:last-of-type {
          padding-top : 9px;
        }

        i.home {
          background      : url("../../images/icon-check-grey.png") center center no-repeat;
          background-size : 25px 25px;

          @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
            background      : url("../../images/icon-check-grey@2x.png") center center no-repeat;
            background-size : 25px 25px;
          }
        }
      }
    }

    li {
      background     : url("../../images/path-arrow-big.png") no-repeat right center;
      padding-right  : 14px;
      height         : 50px;
      line-height    : 15px;
      float          : left;
      width          : 105px;
      font-weight    : bold;
      text-transform : uppercase;
      color          : @colorDSGreyDark;
      position       : relative;
      padding-left   : 15px;

      > span {
        display    : inline-block;
        margin-top : 10px;
      }

      &:first-of-type {
        width        : 35px;
        padding-left : 5px;
      }

      &:last-of-type {
        background-image : none;
      }

      i.home {
        background      : url("../../images/icon-community-help-heading-grey.png") center center no-repeat;
        width           : 25px;
        height          : 50px;
        display         : inline-block;
        background-size : 25px 25px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background      : url("../../images/icon-community-help-heading-grey@2x.png") center center no-repeat;
          background-size : 25px 25px;
        }
      }

      .path-badge {
        position         : absolute;
        left             : -13px;
        top              : 5px;
        background-color : @colorMainOrange;
        color            : #FFFFFF;
        width            : 20px;
        height           : 20px;
        border-radius    : 50%;
        text-align       : center;
        line-height      : 20px;
      }
    }

    &.active-path {
      background-color : @colorDSGreyLight;

      li {
        background-color : @colorDSGreyLight;

        &:first-of-type {
          background-color : @colorMainWhite;
        }

        &:last-of-type.active {
          background-image : none;
          width            : 114px;
        }

        .path-badge {
          background-color : @colorDSGreyDark;
        }

        &.active {
          color      : @colorDSBlack;
          background : @colorMainWhite url("../../images/path-arrow-big-disabled.png") no-repeat right center;

          &.visited {
            background : @colorMainWhite url("../../images/path-arrow-big.png") no-repeat right center;

            span {
              opacity : .3;
            }

            .path-badge {
              opacity          : 1;
              background-color : #F8C189;
            }
          }

          .path-badge {
            background-color : @colorMainOrange;
          }
        }
      }
    }
  }

  .radios-container textarea.fancy-input {
    margin : 10px 0 10px 33px;
    width  : 620px;
    height : 70px
  }

  textarea.fancy-input {
    margin-bottom : 10px;
    width         : calc(~"100% - 20px");
    height        : 175px;
  }

  .fancy-button {
    float : right;
  }

  a.back {
    margin         : 15px 0;
    text-transform : uppercase;
  }

  hr:last-of-type {
    margin-bottom : 50px;

    &.bottomless {
      margin-bottom : 10px;
    }
  }

  .comment-container {

    .comment-select {
      width       : 45px;
      float       : left;
      padding-top : 9px;
    }

    .comment {
      float : right;
      width : 640px;
    }

    .comment .comment-body {
      float : none;
    }
  }

  // step 1 - car info
  .car-info {
    padding : 20px;

    > div {
      margin : 7px 0;
    }

    label {
      width          : 140px;
      text-transform : uppercase;
      display        : inline-block;
      text-align     : right;

      .small {
        text-transform : lowercase;
      }
    }

    .fancy-select, .fancy-input {
      margin : 0 15px;
    }

    .fancy-select {
      width : 310px;
    }

    .fancy-input {
      width : 288px;
    }

    .fancy-button {
      float  : right;
      margin : 32px 0;
    }

    a {
      text-transform : uppercase;

      .icon-plus {
        display          : inline-block;
        width            : 13px;
        height           : 16px;
        background-color : @colorDSGreyDark;
        color            : @colorMainWhite;
        border-radius    : 50%;
        padding-left     : 3px;
        font-weight      : bold;
        margin-right     : 5px;
      }
    }
  }

  // step 2 - defect-desc
  .defect-desc {
    padding : 0 20px 20px 20px;

    > div {
      padding : 20px;

      &:first-of-type {

        label {
          width          : 100px;
          display        : inline-block;
          text-transform : uppercase;
        }

        .fancy-input {
          width : 300px;
        }

        p {
          margin : 15px 0 15px 105px;
        }
      }

      &.gray {
        background-color : @colorDSGreyLight;
        margin-bottom    : 20px;

        h3 {
          margin         : 0;
          padding        : 0;
          padding-bottom : 30px;
        }

        .fancy-input {

          &.no-left-margin {
            margin-left : 0;
          }
        }

        .checkbox {
          line-height : 34px;

          label {
            font-size : 14px;
          }
        }

        div.checkbox input[type="checkbox"] + label span {
          margin-right : 15px;
        }

        input[type=checkbox]:checked + label,
        input[type=radio]:checked + label {
          font-weight : bold;
          color       : @colorDSGreyDarkest;
        }

        .radios-container ul {
          margin-left : 15px;
        }

        div.checkbox input[type="checkbox"] ~ div {
          display : none;
        }

        div.checkbox input[type="checkbox"]:checked ~ div {
          display : block;
        }

        input[type=file] {
          & + label {
            text-transform : uppercase;
            color          : @colorMainOrange;
            cursor         : pointer;
            display        : inline-block;

            .icon {
              margin-right : 15px;
            }
          }

          & ~ span {
            color       : @colorDSGreyDark;
            margin-left : 30px;
            display     : inline-block;
          }
        }

        .margin-2 {
          margin-left : 70px;

          > div {
            margin-bottom : 10px;

            &.red {
              color : @colorMainRed;

              .icon-times {
                background-color : #D23730;
                color            : white;
                border-radius    : 50%;
                display          : inline-block;
                height           : 22px;
                line-height      : 22px;
                width            : 22px;
                font-size        : 27px;
                vertical-align   : middle;
                text-align       : center;
                padding          : 0;
              }
            }

            label {
              width   : 110px;
              display : inline-block;
            }

            .fancy-input {
              width : 310px;
            }

            .fancy-select {
              width : 332px;
            }
          }
        }

        .checkbox > .checkbox,
        .checkbox > .radios-container {
          margin-left : 34px;

          textarea {
            height : 70px;
          }
        }
      }
    }
  }

  //step 3 - done
  .done {
    padding : 0 20px 20px 20px;

    p {
      margin-bottom : 20px;
    }
  }

  //step 4 - images and files
  .images-and-files {
    padding : 0 20px 20px 20px;

    #file-dialog {
      border     : solid 1px @colorDSGrey;
      padding    : 20px;
      margin-top : 35px;

      h3 {
        margin-top     : 0;
        text-transform : uppercase;
      }

      select {
        width : 517px;
      }

      input[type=text], textarea {
        width : 495px;
      }

      .btn-add {
        float   : none;
        display : block;
        margin  : 20px 0 20px 250px;
      }
    }

    h5 {
      margin-top     : 50px;
      padding-bottom : 20px;
      border-bottom  : solid 1px @colorDSGrey;
      text-transform : uppercase;
    }

    .attached-file {
      padding       : 20px 0;
      border-bottom : solid 1px @colorDSGrey;

      &:last-of-type {
        margin-bottom : 40px;
      }

      &.special {

        .smile-common {
          width  : 38px;
          height : 38px;

          &:after {
            top   : 0;
            right : 0;
          }
        }

        span {
          margin-top : 10px;
          display    : inline-block;
        }
      }

      .smile-common {
        width  : 125px;
        height : 125px;
        float  : left;

        img {
          width  : 125px;
          height : 125px;
        }
      }

      .filename {
        margin-left : 30px;
        color       : @colorMainOrange;
        font-weight : bold;
      }

      .controls {
        float : right;

        span, i, a {
          display : inline-block;
          margin  : 0 10px;

          &:last-of-type {
            margin-right : 20px;
          }
        }

        span {

          &:first-of-type {
            color : @colorDSGreyDark;
          }
        }

        a {
          color       : @colorDSBlack;
          font-weight : bold;
          font-size   : 20px;
        }
      }
    }
  }

  //step 5 - reward
  .reward {
    padding : 0 20px 20px 20px;

    p {
      margin-bottom : 20px;
    }

    input[type=radio]:checked + label {
      font-weight : bold;
      color       : @colorDSBlack;
    }

    textarea.fancy-input {
      height      : 125px;
      margin-left : 0;
      width       : 670px;
    }

    .guaranteed-reward {
      color         : @colorDSGreyDark;
      margin-bottom : 50px;

      .upper {
        text-transform : uppercase;
      }

      strong {
        color : @colorDSBlack;
      }

      .fancy-input {
        width  : 65px;
        margin : 0 15px;
      }
    }
  }

  // step 5a - preview
  .preview-container {
    background-color : @colorMainGreyLight;

    .controls {
      background-color : @colorMainWhite;
      padding          : 30px;
    }

    .preview {
      padding : 35px 0;

      .preview-heading {
        margin-top     : 0;
        padding-top    : 0;
        text-transform : uppercase;
        text-align     : center;
      }

      h3 { // diagnostic case h3
        text-align : left;
      }
    }
  }

  .back {
    text-transform : uppercase !important;
    margin-top     : 20px !important;
  }
}

#help-request-lightbox {

  .lightbox-heading {
    color          : @colorMainRed;
    text-transform : uppercase;
    text-align     : center;
    display        : block;
    position       : relative;
    top            : -15px;
    font-weight    : bold;

    .icon {
      position : relative;
      top      : 15px
    }
  }

  p {
    margin : 10px 0;
  }

  .orange {
    text-transform : uppercase;
    color          : @colorMainOrange;

    .small {
      text-transform : lowercase;
    }
  }

  h4 {
    margin-top     : 30px;
    text-transform : uppercase;
    font-weight    : bold;
  }

  .fancy-button {
    display : block;
    margin  : 30px auto 10px auto;
  }
}

