
div.help {
  padding-top: 20px;
  background: @colorMainGreyLight;

  div.container {
    background: @colorMainWhite;
    border-top: 2px solid @colorMainOrange;
  }

  h2 {
    color: @colorMainBlack;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;

    i.icon {
      display: inline-block;
      width: 27px;
      height: 27px;
      line-height: 30px;
      position: relative;
      top: 8px;
      right: 5px;

      &.icon-help {
        background: url("../../images/icon-heading-help.png") no-repeat center;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-heading-help@2x.png") no-repeat center;
          background-size: 27px 27px;
        }
      }

      &.icon-send {
        background: url("../../images/icon-help-heading-send.png") no-repeat center;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-help-heading-send@2x.png") no-repeat center;
          background-size: 26px 26px;
        }
      }
    }
  }

  h3 {
    display: block;
    width: 160px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    padding: 30px;
    float: left;
    border-top: 1px solid @colorMainGreyLight;
  }

  ul.accordeon {
    display: block;
    width: calc(~"100% - 221px");
    float: left;
    border-left: 1px solid @colorMainGreyLight;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid @colorMainGreyLight;

    & > li {
      display: block;
      line-height: 1;
      padding: 10px 20px;

      h4 {
        font-size: 14px;
        color: @colorMainOrange;
        font-weight: normal;
        display: inline-block;
        background: url("../../images/icon-help-arrow-nonactive.png") no-repeat right center;
        padding-right: 22px;
        cursor: pointer;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-help-arrow-nonactive@2x.png") no-repeat right center;
          background-size: 16px 10px;
        }

        &:active {
          color: darken(@colorMainOrange, 10%);
        }
      }

      &.active {

        h4 {
          background: url("../../images/icon-help-arrow.png") no-repeat right center;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-help-arrow@2x.png") no-repeat right center;
            background-size: 16px 10px;
          }
        }

        div.accordeon-container {
          display: block;
        }
      }

      div.accordeon-container {
        padding: 20px;
        font-size: 15px;
        line-height: 1.2;
        display: none;

        ul {
          padding-bottom: 30px;
          padding-left: 10px;

          li {
            line-height: inherit;
            padding-left: 10px;
            list-style: disc;
            padding-bottom: 10px;
            font-size: inherit;

            &:last-child {
              padding-bottom: 0;
            }
          }
        }

        & > p {
          padding: 5px 0;
        }

        iframe {
          padding: 20px 0;
        }
      }

      button.add {
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        border: none;
        border-radius: 0;
        color: @colorMainOrange;
        background: url("../../images/icon-help-plus.png") no-repeat left center;
        padding-left: 28px;
        height: 18px;
        line-height: 18px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:active {
          color: darken(@colorMainOrange, 10%);
        }
      }
    }
  }

  div.send-box {
    background: @colorMainGreyLight;
    margin: 50px 25px;
    padding: 0 25px 25px 25px;

    div.col.col-half {
      display: block;
      width: 50%;
      float: left;
      font-size: 14px;

      & > label {
        float: left;
        text-transform: uppercase;
        padding-right: 20px;
      }

      ul.checks {
        display: block;
        float: left;

        li {
          padding-bottom: 5px;
        }

        label {
          font-size: 14px;
          white-space: nowrap;
          cursor: pointer;

          strong {
            font-weight: normal;
            color: @colorMainGrey;
          }

          small {
            font-size: 100%;
          }

          .hidden {
            display: none;
          }
        }

        label {
          display: block;
        }

        input[type="radio"] {
          display:none;
        }

        input[type="radio"] + label span {
          display:inline-block;
          width: 16px;
          height: 16px;
          vertical-align: middle;
          background: url("../../images/icon-radio.png") no-repeat;
          margin-right: 10px;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-radio@2x.png") no-repeat;
            background-size: 16px 16px;
          }
        }

        input[type="radio"]:checked + label span {
          background: url("../../images/icon-radio-selected.png") no-repeat;
          background-size: 16px 16px;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-radio-selected@2x.png") no-repeat;
            background-size: 16px 16px;
          }
        }

        input[type="radio"]:checked + label strong {
          font-weight: bold;
        }

        input[type="radio"]:checked + label .hidden {
          display: inline;
        }
      }

      p {
        line-height: 1.2;
        padding-top: 50px;
        padding-right: 50px;
      }

      ul.inputs {
        width: 100%;
        display: block;

        li {
          display: block;
          font-size: 14px;
          clear: both;
          padding-bottom: 10px;

          label {
            display: block;
            width: 85px;
            text-transform: uppercase;
            height: 30px;
            line-height: 30px;
            float: left;
          }

          input[type=text], input[type=email], textarea {
            display: block;
            border: 1px solid darken(@colorMainGreyLight, 10%);
            height: 30px;
            line-height: 30px;
            width: calc(~"100% - 107px");
            outline: none;
            border-radius: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 0 10px;
          }

          textarea {
            height: auto;
            resize: none;
          }

          input[type=submit] {
            display: block;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            border: none;
            background: @colorMainOrange;
            font-size: 14px;
            text-transform: uppercase;
            color: @colorMainWhite;
            padding: 7px 20px;
            font-weight: bold;
            margin-top: 10px;
            float: right;
          }
        }
      }
    }
  }
}