.icon {
  position : relative;
  display  : inline-block;

  &.icon-action-help-red {
    top              : 3px;
    margin-right     : 10px;
    width            : 20px;
    height           : 20px;
    background-image : url("../../images/icon-action-help-red.png");

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-action-help-red@2x.png");
      background-size  : 20px 20px;
    }
  }

  &.icon-question-mark {
    width            : 10px;
    height           : 15px;
    top              : 2px;
    background-image : url("../../images/icon-question-mark.png");
    // TODO - retina
  }

  &.icon-diskette {
    width            : 14px;
    height           : 15px;
    background-image : url("../../images/icon-diskette.png");
    top              : 1px;
    // TODO - retina
  }

  &.icon-eye-black {
    width            : 22px;
    height           : 13px;
    background-image : url("../../images/icon-eye-black.png");
    // TODO - retina
  }

  &.icon-trash {
    width            : 14px;
    height           : 19px;
    background-image : url("../../images/icon-trash.png");
    top              : 3px;
    // TODO - retina
  }

  &.icon-check-black {
    background-image : url("../../images/icon-check-black.png");
    width            : 29px;
    height           : 29px;
    top              : 10px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-check-black@2x.png");
      background-size  : 30px 30px;
    }
  }

  &.icon-hide-black {
    background-image : url("../../images/icon-hide-black.png");
    width            : 22px;
    height           : 18px;
    top              : 5px;
  }

  &.icon-gray-arrow-right {
    background-image : url("../../images/gray-arrow-right.png");
    width            : 14px;
    height           : 14px;
    top              : 1px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/gray-arrow-right@2x.png");
      background-size  : 14px 14px;
    }
  }

  &.icon-gray-arrow-left {
    background-image : url("../../images/gray-arrow-left.png");
    width            : 14px;
    height           : 14px;
    top              : 1px;
    margin-right     : 15px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/gray-arrow-left@2x.png");
      background-size  : 14px 14px;
    }
  }

  &.icon-white-arrow-right {
    background-image : url("../../images/white-arrow-right.png");
    width            : 14px;
    height           : 14px;
    top              : 1px;
    margin-left      : 15px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/white-arrow-right@2x.png");
      background-size  : 14px 14px;
    }
  }

  &.icon-action-add-advice {
    background-image : url("../../images/icon-action-add-advice.png");
    width            : 20px;
    height           : 20px;
    margin-right     : 15px;
    float            : left;
    margin-left      : 10px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-action-add-advice@2x.png");
      background-size  : 20px 20px;
    }
  }

  &.icon-action-help-transparent {
    background-image : url("../../images/icon-action-help.png");
    width            : 20px;
    height           : 20px;
    margin-right     : 15px;
    float            : left;
    margin-left      : 10px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-action-help@2x.png");
      background-size  : 20px 20px;
    }
  }

  &.icon-action-post-transparent {
    background-image : url("../../images/icon-action-add-post.png");
    width            : 20px;
    height           : 20px;
    margin-right     : 15px;
    float            : left;
    margin-left      : 10px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-action-add-post@2x.png");
      background-size  : 20px 20px;
    }
  }

  &.icon-action-check-transparent {
    background-image : url("../../images/icon-action-add-issue.png");
    width            : 20px;
    height           : 20px;
    margin-right     : 15px;
    float            : left;
    margin-left      : 10px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-action-add-issue@2x.png");
      background-size  : 20px 20px;
    }
  }

  &.icon-heart {
    background-image : url("../../images/icon-heart.png");
    width            : 24px;
    height           : 24px;
    margin-left      : 5px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-heart@2x.png");
      background-size  : 24px 24px;
    }
  }

  &.icon-text {
    background-image : url("../../images/icon-text.png");
    width            : 24px;
    height           : 24px;
    margin-left      : 5px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-text@2x.png");
      background-size  : 24px 24px;
    }
  }

  &.icon-expand {
    background-image : url("../../images/icon-expand.png");
    width            : 20px;
    height           : 20px;
    margin-right     : 10px;
    // TODO - retina
  }

  &.icon-blog {
    background-image : url("../../images/icon-blog.png");
    width            : 28px;
    height           : 28px;
    margin-right     : 15px;
    top              : 6px;
  }

  &.icon-blog-gray {
    background-image : url("../../images/icon-blog-grey.png");
    width            : 21px;
    height           : 21px;
    margin           : 0 5px 0 15px;
    top              : 6px;
    background-size  : 21px 21px;
  }

  &.icon-magnifier {
    background-image : url("../../images/academy-related-issue-icon.png");
    width            : 35px;
    height           : 33px;
    top              : 10px;
    margin-right     : 15px;
  }

  &.icon-like {
    background : url("../../images/icon-like.png") center center no-repeat !important;
    width      : 20px !important;
    height     : 20px !important;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-like@2x.png");
      background-size  : 20px 20px;
    }

    &.orange {
      background-image : url("../../images/icon-detail-action-thumbs-up.png") !important;
    }
  }

  &.icon-dislike {
    background : url("../../images/icon-dislike.png") center center no-repeat;
    width      : 20px;
    height     : 20px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-dislike@2x.png");
      background-size  : 20px 20px;
    }

    &.orange {
      background-image : url("../../images/icon-detail-action-thumbs-down.png");
    }
  }

  &.icon-eye-gray {
    background-image : url("../../images/icon-eye.png");
    width            : 21px;
    height           : 21px;
    top              : 5px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-eye@2x.png");
      background-size  : 21px 21px;
    }
  }

  &.icon-comment-gray {
    background-image : url("../../images/icon-comment-gray.png");
    width            : 16px;
    height           : 15px;
    top              : 3px;
  }

  &.icon-tag-big {
    background-image : url("../../images/icon-tag-big.png");
    width            : 27px;
    height           : 27px;
    top              : 6px;
    margin-right     : 15px;
  }

  &.icon-question {
    background-image : url("../../images/icon-question.png");
    width            : 28px;
    height           : 28px;
    top              : 4px;
    margin-right     : 15px;
  }

  &.icon-refresh {
    background-image : url("../../images/icon-refresh.png");
    width            : 23px;
    height           : 21px;
  }

  &.icon-forum {
    background-image : url("../../images/icon-forum.png");
    width            : 28px;
    height           : 25px;
    top              : 5px;
  }

  &.icon-control-bold {
    width      : 32px;
    height     : 32px;
    background : @colorDSGreyLight url("../../images/icon-control-bold.png") center center no-repeat;
  }
  &.icon-control-italic {
    width      : 32px;
    height     : 32px;
    background : @colorDSGreyLight url("../../images/icon-control-italic.png") center center no-repeat;
  }
  &.icon-control-list {
    width      : 32px;
    height     : 32px;
    background : @colorDSGreyLight url("../../images/icon-control-list.png") center center no-repeat;
  }
  &.icon-control-numbers-list {
    width      : 32px;
    height     : 32px;
    background : @colorDSGreyLight url("../../images/icon-control-numbers-list.png") center center no-repeat;
  }
  &.icon-control-quote {
    width      : 32px;
    height     : 32px;
    background : @colorDSGreyLight url("../../images/icon-control-quote.png") center center no-repeat;
  }

  &.icon-smile-red-bordeless {
    background-image : url("../../images/icon-smile-red-borderless.png");
    width            : 38px;
    height           : 38px;
    top              : 12px;
  }
  &.icon-smile-green-bordeless {
    background-image : url("../../images/icon-smile-green-borderless.png");
    width            : 38px;
    height           : 38px;
    top              : 12px
  }
  &.icon-wallet-white {
    background-image : url("../../images/icon-wallet-white.png");
    width            : 19px;
    height           : 19px;
    top              : 4px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-wallet-white@2x.png");
      background-size  : 19px 19px;
    }
  }
  &.icon-flag-cz {
    background-image : url("../../images/icon-flag-cz.png");
    width            : 25px;
    height           : 17px;
    top              : 4px;
  }
  &.icon-flag-uk {
    background-image : url("../../images/icon-flag-uk.png");
    width            : 25px;
    height           : 17px;
    top              : 4px;
  }
  &.icon-flag-de {
    background-image : url("../../images/icon-flag-de.png");
    width            : 25px;
    height           : 17px;
    top              : 4px;
  }
  &.icon-engine {
    background-image : url("../../images/icon-engine.png");
    width            : 44px;
    height           : 29px;
  }
  &.icon-camera {
    background-image : url("../../images/icon-camera.png");
    width            : 32px;
    height           : 25px;
    top              : 5px;
  }
  &.icon-pdf {
    background-image : url("../../images/icon-pdf.png");
    width            : 20px;
    height           : 22px;
    top              : 3px;
  }
  &.icon-speech {
    background-image : url("../../images/icon-speech.png");
    width            : 17px;
    height           : 15px;
    top              : 3px
  }
  &.icon-heart-orange {
    background-image : url("../../images/icon-heart.png");
    width            : 24px;
    height           : 20px;
    top              : 3px;
  }
  &.icon-heart-small {
    background-image : url("../../images/icon-heart-small.png");
    width            : 11px;
    height           : 10px;
  }
  &.icon-card {
    background-image : url("../../images/icon-card.png");
    width            : 33px;
    height           : 26px;
    top              : 5px;
  }
  &.icon-partnership {
    background-image : url("../../images/icon-partnership.png");
    width            : 28px;
    height           : 21px;
    top              : 2px;
  }
  &.icon-paper-aero {
    background-image : url("../../images/icon-help-heading-send.png");
    width            : 26px;
    height           : 26px;
    top              : 5px;
    margin-right     : 20px;
  }
  &.icon-login {
    background-image : url("../../images/icon-arrow-rect.png");
    width            : 30px;
    height           : 30px;
    margin-right     : 20px;
    vertical-align   : middle;

    &.big {
      top : 7px;
    }

    &.orange {
      margin     : 0;
      background : url(../../images/icon-login-orange.png) center center no-repeat;
      height     : 25px;
    }
  }
  &.icon-handshake {
    background-image  : url("../../images/icon-handshake.png");
    width             : 31px;
    height            : 24px;
    background-repeat : no-repeat;
  }
  &.icon-help {
    background-image : url("../../images/icon-community-help.png");
    width            : 48px;
    height           : 48px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background-image : url("../../images/icon-community-help@2x.png");
      background-size  : 48px 48px;
    }
  }
  &.icon-attachment {
    background-image : url("../../images/icon-attach-comment.png");
    width            : 18px;
    height           : 16px;
  }
  &.icon-pen {
    background-image : url("../../images/icon-pen.png");
    width            : 15px;
    height           : 14px;
  }
  &.icon-wallet-black {
    background-image : url("../../images/icon-wallet-black.png");
    width            : 38px;
    height           : 38px;
  }
  &.icon-wallet-black-small {
    width               : 30px;
    height              : 30px;
    background-size     : 19px 19px;
    background-image    : url("../../images/icon-wallet-black.png");
    background-position : center center;
    background-repeat   : no-repeat;
  }
  &.icon-wallet-gray {
    background-image : url("../../images/icon-wallet-gray.png");
    width            : 19px;
    height           : 19px;
    top              : 4px;
  }
  &.icon-phone-big {
    background-image : url("../../images/icon-phone-big.png");
    width            : 21px;
    height           : 23px;
    top              : 2px;
  }
  &.icon-learning {
    background-image : url("../../images/icon-learning.png");
    width            : 37px;
    height           : 33px;
    top              : 6px;
  }
  &.icon-learning-gray {
    background-image : url("../../images/icon-learning-gray.png");
    width            : 37px;
    height           : 33px;
  }
  &.icon-black-arrow-right {
    background-image : url("../../images/icon-arrow-right-black.png");
    width            : 10px;
    height           : 15px;
  }
  &.icon-info {
    background-image : url("../../images/icon-info.png");
    width            : 30px;
    height           : 31px;
  }
  &.icon-attachment {
    background : url("../../images/icon-attach-comment.png") center no-repeat;
    width      : 18px;
    height     : 16px;
    top        : 2px;
  }
  &.icon-add-people {
    background : url("../../images/icon-add-people.png");
    width      : 19px;
    height     : 17px;
  }
  &.icon-heart-simple {
    background : url("../../images/icon-heart-simple.png");
    width      : 19px;
    height     : 17px;
  }
  &.icon-arrow-reply {
    background : url("../../images/icon-arrow-reply.png");
    width      : 18px;
    height     : 15px;
  }
  &.icon-stop {
    background : url("../../images/icon-stop.png");
    width      : 18px;
    height     : 18px;
  }
  &.icon-trash-light {
    background : url("../../images/icon-trash-light.png");
    width      : 16px;
    height     : 20px;
  }
  &.icon-warning {
    background : url("../../images/icon-warning.png");
    width      : 17px;
    height     : 17px;
  }
  &.icon-user-gray {
    background : url("../../images/icon-user-gray.png");
    width      : 19px;
    height     : 17px;
  }
  &.icon-pen-big {
    background : url("../../images/icon-pen-big.png");
    width      : 22px;
    height     : 21px;
  }
  &.icon-gs-help {
    background : url("../../images/icon-gs-help.png");
    width      : 32px;
    height     : 33px;
  }
  &.icon-gs-thumbs {
    background : url("../../images/icon-gs-thumbs.png");
    width      : 27px;
    height     : 30px;
  }
  &.icon-gs-door {
    background : url("../../images/icon-gs-door.png");
    width      : 28px;
    height     : 44px;
  }
  &.icon-gs-stars {
    background : url("../../images/icon-gs-stars.png");
    width      : 92px;
    height     : 27px;
  }
  &.icon-gs-worker {
    background : url("../../images/icon-gs-worker.png");
    width      : 48px;
    height     : 54px;
  }
  &.icon-gs-arrow {
    background : url("../../images/icon-gs-arrow.png");
    width      : 69px;
    height     : 30px;
  }
  &.icon-gs-calendar {
    background : url("../../images/icon-calendar.png");
    width      : 80px;
    height     : 80px;
  }
  &.icon-gs-megaphone {
    background : url("../../images/icon-megaphone.png");
    width      : 80px;
    height     : 80px;
  }
  &.icon-people {
    background     : url("../../images/icon-people.png");
    width          : 24px;
    height         : 20px;
    vertical-align : middle;
  }
  &.icon-calendar-orange {
    background : url("../../images/icon-calendar-orange.png");
    width      : 18px;
    height     : 18px;
  }
  &.icon-pin-gray {
    background : url("../../images/icon-pin-gray.png");
    width      : 14px;
    height     : 21px;
  }
  &.icon-teacher-gray {
    background : url("../../images/icon-teacher-gray.png");
    width      : 20px;
    height     : 20px;
  }
  &.icon-tag-gray {
    background : url("../../images/icon-tag-gray.png");
    width      : 21px;
    height     : 22px;
  }
  &.icon-emission {
    background : url(../../images/emise-logo.png) center center no-repeat;
    display    : block;
    height     : 33px;
  }
  &.icon-phone-orange {
    background     : url(../../images/icon-phone-orange.png) center center no-repeat;
    height         : 21px;
    vertical-align : middle;
    width          : 19px;
    margin         : 0 5px;
  }
  &.icon-price {
    background     : url(../../images/icon-price-gray.png) center center no-repeat;
    width          : 21px;
    height         : 22px;
    vertical-align : middle;
    margin-right   : 15px;
  }
  &.icon-plus {
    background : url(../../images/icon-plus.png) center center no-repeat;
    width      : 14px;
    height     : 14px;
  }
  &.icon-pdf-black {
    background : url(../../images/icon-pdf-black.png) center center no-repeat;
    width      : 13px;
    height     : 14px;
  }
}

.like-popup-icon {
  display : inline-block;
  width   : 30px;
  height  : 30px;

  &.icon-heart-black {
    background : url("../../images/icon-heart-simple.png") no-repeat center;
  }

  &.icon-thumbs-up {
    background : url("../../images/icon-detail-action-thumbs-up.png") no-repeat center;
  }

  &.icon-close {
    background : url("../../images/icon-close.png") no-repeat center;
  }
}
