
html.ie9, html[data-useragent*='rv:11.0'], html[data-useragent*='MSIE 10'] {

  div.academy.academy-feed select {
    text-indent: 0.01px;
    text-overflow: '';
    background: #FFF !important;
    padding: 6px !important;
  }

  div.academy.academy-feed div.academy-posts div.filter div.filter-compact div.filter-search div.search-control input[type=search] {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  div.academy.academy-feed div.academy-posts div.filter div.filter-full fieldset ul li input[type=text] {
    width: calc(~"100% - 14px");
    height: 32px;
    display: block;
  }

  div.academy.academy-feed div.academy-posts div.filter div.filter-full fieldset ul li select {
    width: calc(~"100%");
  }
}