
div.container {
  display: block;
  width: 100%;
  max-width: @sizeContainer;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 1024px) {

  div.container {
    width: calc(~"100% - 40px");
  }
}