.lightbox-container {
  position         : fixed;
  top              : 0;
  left             : 0;
  z-index          : 3;
  display          : none;
  width            : 100%;
  height           : 100%;
  background-color : rgba(0, 0, 0, 0.4);

  &#access-denied {

    h3 {
      color          : @colorMainRed;
      text-align     : center;
      margin         : 15px 0 25px 0;
      text-transform : uppercase;
    }

    p {
      margin-bottom : 15px;
    }

    .fancy-button {
      margin  : 0 auto 8px auto;
      display : block;
      width   : 150px;

      &:first-of-type {
        margin-top : 30px;
      }

      &:last-of-type {
        margin-bottom : 15px;
      }

      .icon {
        float : right;
      }
    }
  }

  .lightbox-window {
    margin    : 0 auto;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translateY(-50%) translateX(-50%);

    .icon-close {
      display         : inline-block;
      position        : absolute;
      top             : 36px;
      right           : 20px;
      width           : 26px;
      height          : 26px;
      background      : url(../../images/icon-close.png) no-repeat center center;
      background-size : 26px 26px;
      z-index         : 1000;

      @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
        background      : url(../../images/icon-close@2x.png) no-repeat center center;
        background-size : 26px 26px;
      }
    }

    .lightbox-content {
      margin           : 0 auto;
      background-color : #FFFFFF;
      border-radius    : 5px;
      width            : 800px;
      padding          : 20px;

      &.small {
        width : 365px;
      }

      &.lightbox-content-columns {

        .slider {

          .slider-control {

            &.prev {
              display : none;
            }

            &.next {
              top   : 65px;
              right : 5px;
            }
          }

          > ul > li {

            > div:first-of-type {
              width            : 500px;
              min-height       : 400px;
              background-color : @colorDSGreyLight;
              float            : left;
            }

            > img {
              float       : right;
              margin-left : 20px;
              width       : 280px;
              height      : auto;
              max-height  : 160px;
            }

            > .comment {
              padding    : 20px;
              box-sizing : border-box;

              .comment-form {
                padding       : 0;
                margin-bottom : 0;
              }

              .back-link {
                text-transform : uppercase;
              }

              .attached-files {
                margin-left : -60px;

                .file {
                  line-height : 65px;

                  .main-file {
                    top : 0;
                  }
                }
              }

              p {
                margin-left : -60px;
                width       : 100%;

                label {
                  width   : 75%;
                  display : inline-block;
                }
              }
            }
          }
        }
      }

      .lightbox-heading {
        margin : 15px 0;

        span {
          font-weight : normal;
        }
      }

      .lightbox-btn-content {
        background-color : @colorDSGreyLight;
        width            : 500px;
        height           : 210px;
        overflow-y       : scroll;
        display          : inline-block;

        .lbc-back {
          text-transform : uppercase;
          padding        : 20px 20px 0 20px;
          display        : block;
        }

        .comment {
          display : none;

          .comment-form {
            margin : 0;
          }
        }

        .type {
          display : none;

          > label {
            text-transform : uppercase;
            float          : left;
            padding        : 8px 30px 0 20px;
          }

          .lbc-back {
            padding-bottom : 10px;
          }

          .fancy-button {
            float      : right;
            margin-top : 110px;
          }
        }

        table, tr, td {
          padding : 5px 10px;
        }
      }

      .slider {
        overflow : hidden;
        position : relative;
        width    : 800px !important;

        .slider-control {
          position : absolute;
          top      : 250px;
          z-index  : 1000;

          &.prev {
            left            : 0;
            background      : url(../../images/icon-arrow-slider-prev.png) no-repeat center center;
            background-size : 27px 26px;
            display         : inline-block;
            width           : 27px;
            height          : 26px;

            @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
              background : url(../../images/icon-arrow-slider-prev@2x.png);
            }
          }

          &.next {
            right           : 0;
            background      : url(../../images/icon-arrow-slider-next.png) no-repeat center center;
            background-size : 27px 26px;
            display         : inline-block;
            width           : 27px;
            height          : 26px;

            @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
              background : url(../../images/icon-arrow-slider-next@2x.png);
            }
          }
        }

        > ul {
          list-style : none;
          position   : relative;

          > li {
            position : relative;
            display  : block;
            width    : 800px !important;
            float    : left;

            > img {
              height    : 500px;
              width     : auto;
              max-width : 100%;
              margin    : 0 auto;
              display   : block;
            }
          }
        }
      }
    }
  }
}
