.lost-pass {
  position         : fixed;
  padding          : 50px 0;
  width            : 100%;
  height           : 100%;
  background-color : @colorMainOrange;
  text-align       : center;

  img {
    margin-bottom : 95px;
  }

  .content {
    width         : 305px;
    background    : @colorMainWhite;
    padding       : 20px 30px 30px 30px;
    margin        : 0 auto;
    border-radius : 5px;

    h2 {
      color          : @colorMainBlack;
      text-transform : uppercase;
      padding        : 0 0 40px 0;
    }

    label {
      display       : block;
      text-align    : left;
      margin-bottom : 10px;
      color         : @colorDSGreyDark;
      font-size     : 14px;
    }

    input[type=password], input[type=email] {
      max-width     : 100%;
      box-sizing    : border-box;
      margin-bottom : 15px;
    }

    .fancy-button {
      margin-bottom : 0;
    }

    p, strong {
      color : @colorDSGreyDark;
    }
  }
}
