// v2
@colorMainRed            : #D23730;
@colorErrRed             : #f10000;
@colorMainOrange         : #EF8316;
@colorWhite              : #FFFFFF;
@colorBlack              : #000000;
@colorGray               : #e8e8e8;
@colorGray2              : #f3f3f3;
@colorGray3              : #a3a3a3;
@colorGray4              : #707070;
@colorGray5              : #DADADA;
@colorGray6              : #C5C5C5;
@colorMainGreen          : #68B87A;
@colorSecondaryGreen     : #92BD11;
@basePadding             : 15px;
@baseMargin              : 15px;
@desktopWidth            : 1250px;
@tabletWidth             : 768px;

html, body {
  font-family : 'Ubuntu', sans-serif;
}

// old
@colorMainOrangeLight    : #F6C289;
@colorMainOrangeEmail    : #FCE6CF;
@colorMainOrangeLightest : #FCF2E8;
@colorMainWhite          : #FFFFFF;
@colorMainBlack          : #000000;
@colorMainGrey           : #535353;
@colorMainGreyLight      : #EDEDED;
@colorMainBlue           : #2497D0;
@colorMainBorder         : #DCDCDC;
@colorDSGreyLight        : #F3F3F3;
@colorDSGrey             : #DEDEDE;
@colorDSGreyDark         : #9A9A9A;
@colorDSGreyDarkest      : #646464;
@colorDSBlack            : #1A171B;
@colorErrorRed           : #D03A3B;
@colorErrorRedBg         : #FFD6D6;

// vendor
@import "vendor/normalize";
@import "vendor/animate"; // TODO it is used?

// v2
@import "v2/main";

// old
@import "common";
@import "icons";
@import "layout";
@import "account";
@import "navigation";
@import "services";
@import "diagnostics";
@import "about";
@import "footer";
@import "brands";
@import "statistics";
@import "register";
@import "block-diagnostics";
@import "pricing";
@import "goodservice";
@import "goodservice-hp";
@import "academy";
@import "academy-dashboard";
@import "academy-feed";
@import "academy-post";
@import "academy-comments";
@import "academy-subcategory";
@import "ie";
@import "community";
@import "help";
@import "tooltip";
@import "academy-related";
@import "academy-detail";
@import "lightbox";
@import "help-request";
@import "blog";
@import "forum";
@import "forum-detail";
@import "diagnostic-case";
@import "contact";
@import "registration";
@import "cooperation";
@import "payment";
@import "training";
@import "aboutpage";
@import "error-page";
@import "email";
@import "user-box";
@import "lost-password";
@import "partners";

/*
 * Sizes
 */
@sizeContainer           : 978px;

// - old styles fixes ------------------------------------------------------------------------------
* {
  padding         : 0;
  margin          : 0;
  list-style      : none;
  text-decoration : none;
}

.cl {
  &:after {
    clear   : both;
    content : '';
    display : block;
  }
}

.vam {
  vertical-align : middle;
}

// - old styles fixes ------------------------------------------------------------------------------

.clear-space {
  display : block;
  clear   : both;
  height  : 1000px;
}

.tooltip {
  display          : none;
  position         : absolute;
  border           : 1px solid @colorMainWhite;
  background-color : @colorMainBlack;
  padding          : 5px;
  color            : @colorMainWhite;
  font-size        : 12px;
  opacity          : .9;
  font-weight      : bold;
}

img {
  max-width : 100%;
}

.content-blocker {
  border   : solid 3px #FDEDDE;
  margin   : 25px 0;
  padding  : 50px 25px 25px 25px;
  position : relative;

  &:before {
    content         : '';
    display         : block;
    position        : absolute;
    height          : 50px;
    width           : 50px;
    border          : solid 1px #EF8316;
    border-radius   : 50%;
    top             : -25px;
    left            : 50%;
    transform       : translateX(-50%);
    background      : #FFFFFF url(../../images/icon-content-blocker.png) center center no-repeat;
    background-size : 50% 50%;
  }

  p {
    margin : 0 !important;

    &.title {
      font-size     : 1.5rem !important;
      color         : @colorMainOrange;
      margin-bottom : 25px !important;
      font-weight   : bold;
    }
  }

  .btn {
    margin-top       : 25px !important;
    color            : #FFFFFF;
    background-color : @colorMainOrange;
    display          : inline-block;
    padding          : 10px 30px;
    text-transform   : uppercase;
    border-radius    : 4px;
    font-size        : .75rem;
    font-weight      : bold;
  }
}
