
div.navigation {
  display: block;
  width: 100%;
  background: @colorMainWhite;
  text-align: center;
  position: relative;
  max-height: 100px;
  z-index: 2;

  img {
    margin-top: 15px;
  }

  ul.menu {
    display: inline-block;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      color: @colorMainBlack;
      line-height: 100px;
      font-size: 14px;
      position: relative;
      padding: 0;
      margin: 0;

      a {
        padding: 0 25px;
        color: inherit;
      }

      &:first-child a {
        padding-left: 0;
      }

      &:last-child {

        &:after {
          display: none;
        }

        a {
          padding-right: 0;
        }
      }

      &:after {
        display: block;
        content: "";
        border-right: 1px solid @colorMainOrange;
        width: 1px;
        height: 15px;
        position: absolute;
        top: 44px;
        right: -2px;
      }

      &.active {
        color: @colorMainOrange;
      }
    }

    &.menu-left {
      float: left;
    }

    &.menu-right {
      float: right;
    }
  }

  a.brand {
    display: inline-block;
    width: 198px;
    text-align: center;
    line-height: 100px;
    background: url("../../images/logo.png") no-repeat center;
    text-indent: -9999px;

    * {
      display: none;
    }
  }

  span.btn-navigation {
    display: none;
    width: 32px;
    float: left;
    height: 32px;
    margin: 33px 0 0 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 20px;
    outline: none;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  ul.menu-mobile {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    background: @colorMainWhite;
    width: 100%;
    opacity: .95;
    text-align: left;
    border-top: 1px solid lighten(@colorMainGrey, 50%);
    z-index: 100;

    li {
      color: @colorMainBlack;
      line-height: 45px;
      font-size: 14px;
      position: relative;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid lighten(@colorMainGrey, 50%);

      a {
        padding: 0 25px;
        color: inherit;
      }
    }
  }
}

@media (max-width: 1024px) {

  div.navigation {

    ul.menu {

      li {

        a {
          padding: 0 10px;
        }
      }
    }
  }
}

@media (max-width: 830px) {

  div.navigation {

    ul.menu {

      li {

        a {
          padding: 0 5px;
        }
      }
    }
  }
}

@media (max-width: 750px) {

  div.navigation {

    span.btn-navigation {
      display: inline-block;
    }

    ul.menu {
      display: none;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  div.navigation {

    a.brand {
      background: url("../../images/logo@2x.png") no-repeat center;
      background-size: 198px 98px;
    }
  }

}
