.partners {
  border   : solid 3px #FDEDDE;
  margin   : 25px 0;
  padding  : 50px 25px 25px 25px;
  position : relative;

  &:before {
    content         : '';
    display         : block;
    position        : absolute;
    height          : 50px;
    width           : 50px;
    border          : solid 1px #EF8316;
    border-radius   : 50%;
    top             : -25px;
    left            : 50%;
    transform       : translateX(-50%);
    background      : #FFFFFF url(../../images/icon-content-blocker.png) center center no-repeat;
    background-size : 50% 50%;
  }

  .title {
    font-size     : 1.5rem !important;
    color         : @colorMainOrange;
    margin-bottom : 25px !important;
    font-weight   : bold;
  }

  .row a {
    width   : 33.33%;
    display : inline-block;
    float   : left;

    img {
      width  : 100%;
      height : auto;
    }
  }
}
