.payment {
  float            : left;
  padding-top      : 20px;
  padding-bottom   : 20px;
  width            : calc(~"75% - 1px");
  border-right     : solid 1px @colorDSGrey;
  background-color : @colorMainWhite;
  text-align       : center;

  > h2 {
    padding        : 15px;
    color          : @colorDSBlack;
    text-transform : uppercase;
  }

  > p {
    color     : @colorDSGreyDark;
    font-size : 12px;
  }

  > .page-path {
    border-top       : solid 1px @colorDSGrey;
    margin-top       : 15px;
    background-color : @colorDSGreyLight;

    li {
      background-color : @colorDSGreyLight !important;
      text-transform   : uppercase;
      float            : left;
      padding          : 0 25px 0 10px;

      &:first-child {
        padding-left     : 0;
        background-color : @colorMainWhite !important;
      }

      &:last-child.active {
        background-image : none;
        width            : 190px;
      }

      &.active {
        background       : @colorMainWhite url("../../images/path-arrow-disabled.png") center right no-repeat;
        background-color : @colorMainWhite !important;

        a {
          color       : @colorDSBlack !important;
          font-weight : bold;
        }

        &.visited {
          background : url("../../images/path-arrow.png") center right no-repeat;
          a {
            opacity : .3;
          }

          .badge {
            background-color : #F8C189;
          }
        }

        .badge {
          color            : @colorMainWhite;
          background-color : @colorMainOrange;
        }
      }

      a {
        color : @colorDSGreyDark;
      }

      .badge {
        color            : @colorDSGreyLight;
        background-color : @colorDSGreyDark;
        border-radius    : 50%;
        font-weight      : bold;
        width            : 16px;
        height           : 16px;
        display          : inline-block;
        line-height      : 16px;
        padding          : 1px;
      }
    }
  }

  > div {
    padding    : 0 20px;
    text-align : left;

    > h3 {
      margin         : 30px 0;
      text-align     : center;
      text-transform : uppercase;
    }

    .row {
      padding : 5px 0;

      &.pt {
        padding-top : 25px;
      }
    }

    label .additional-info {
      display        : block;
      color          : #9A9A9A;
      font-size      : 12px;
      white-space    : normal;
      text-transform : none;
      line-height    : initial;
    }

    &.step-1 {

      .radios-container.inline-left li {
        float       : left;
        margin-left : 15px;
        line-height : 20px;
        text-align  : right;

        input[type="radio"] + label span {
          margin-right : 8px;
        }
      }

      .upper {
        text-transform : uppercase;
        margin-top     : 2px;
      }

      strong {
        margin : 0 30px;

        > span {
          font-weight : normal;
        }
      }

      .fancy-button {
        float : right;
      }

    }

    &.step-2 {

      p {
        font-size   : 12px;
        line-height : 18px;
      }

      label {
        display        : inline-block;
        padding-right  : 10px;
        width          : 120px;
        text-align     : right;
        text-transform : uppercase;

        &.top {
          position : relative;
          top      : -67px;
        }

        &.lower {
          text-transform : lowercase;
        }
      }

      .fancy-input {
        width : 310px;
      }

      .fancy-select {
        width : 332px;
      }

      input[type=radio]:checked + label {
        font-weight : bold;
      }

      > div {
        margin : 7px 0;
      }

      .fancy-button {
        float : right;
      }
    }

    &.step-3 {

      .radios-container {
        margin : 0 75px;


      }

      .upper {
        text-transform : uppercase;
      }

      .additional-info {
        padding-left : 35px;
      }
    }

    &.step-4 {

      .alert-success {
        background-color : #E4FEB7;
        border           : solid 1px #8CCB22;
        color            : #8CCB22;
        padding          : 13px 0 13px 55px;
        position         : relative;
        margin-bottom    : 30px;

        .icon-check {
          border-radius : 50%;
          display       : inline-block;
          width         : 32px;
          height        : 32px;
          background    : #8CCB22 url("../../images/icon-check-white.png") center center no-repeat;
          position      : absolute;
          top           : 6px;
          left          : 10px;
        }
      }

      p {
        margin : 15px 0;
      }

      table {
        margin : 30px 0;

        td {
          min-width : 175px;
          padding   : 7px 0;
        }
      }

      address {
        margin-bottom : 30px;
        font-style    : normal;
      }
    }
  }
}

.academy-dashboard-box.bgless {
  background-color : inherit !important;

  .account {
    background-color : @colorMainWhite !important;
  }
}
