

div.pricing-banner {
  display: block;
  width: 100%;
  background: url("../../images/background-light.jpg") no-repeat center @colorMainGreyLight;

  div.container {
    background: url("../../images/pricing-banner-man.png") no-repeat 35px bottom;
    padding: 25px 0;
    background-size: 350px 421px;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background: url("../../images/pricing-banner-man.png") no-repeat 35px bottom;
    }
  }

  div.info {
    width: 48%;
    float: right;
    padding: 70px 0 25px 0;
    text-align: center;
    background: url("../../images/icon-key.png") no-repeat center top;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background: url("../../images/icon-key@2x.png") no-repeat center top;
      background-size: 53px 53px;
    }

    h2 {
      font-size: 25px;
      padding-top: 0;
      padding-bottom: 25px;
      letter-spacing: 2px;
    }

    p {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 15px;

      &.lead {
        font-size: 25px;
        text-transform: none;
        padding-bottom: 25px;
      }
    }

    ul.checks-list {
      text-align: left;
      line-height: 36px;
      width: 175px;
      display: block;
      margin: auto;
      padding-bottom: 25px;

      li {
        font-weight: bold;
        padding-left: 55px;
        font-size: 15px;

        &.check {
          background: url("../../images/icon-check.png") no-repeat left;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-check@2x.png") no-repeat left;
            background-size: 25px 25px;
          }
        }

        &.cross {
          background: url("../../images/icon-cross.png") no-repeat left;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-cross@2x.png") no-repeat left;
            background-size: 25px 25px;
          }
        }
      }
    }

    a.btn {
      display: block;
      text-transform: uppercase;
      height: 42px;
      line-height: 42px;
      width: 210px;
      margin: auto;
      color: @colorMainWhite;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;

      -webkit-box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);
      -moz-box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);
      box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);

      &.btn-orange {
        background: @colorMainOrange;

        &:active {
          background: darken(@colorMainOrange, 10%);
        }
      }
    }
  }
}

div.pricing-table {
  padding: 40px 0;

  table {
    width: 100%;
    border-collapse: collapse;

    td, th {
      padding-right: 30px;

      &:last-child {
        padding-right: 0;
      }
    }

    thead tr th {
      width: 306px;
      padding-bottom: 30px;

      &:first-child {
        width: auto;
      }

      div {
        background: @colorMainGreyLight;
        border-radius: 5px;
      }

      strong {
        display: block;
        width: 100%;
        font-size: 28px;
        text-transform: uppercase;
        color: @colorMainWhite;
        padding: 35px 0 60px 0;
        border: none;

        &.dark {
          background-color: @colorMainBlack;
          background-image: url("../../images/bg-pricing-head-dark@2x.png");
        }

        &.orange {
          background-color: @colorMainOrange;
          background-image: url("../../images/bg-pricing-head-orange@2x.png");
        }

        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
      }

      p.lead {
        font-size: 50px;
        font-weight: normal;
        text-align: center;
        position: relative;
        padding-top: 20px;
        padding-bottom: 10px;

        &.orange {
          color: @colorMainOrange;
        }

        &.dark {
          color: @colorMainBlack;
        }

        sup {
          top: -15px;
          left: -5px;
          font-size: 25px;
          line-height: 1;
          min-width: 30px;

          span {
            display: inline-block;
            text-align: left;
            font-size: 13px;
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 40px;
          }
        }
      }

      small {
        display: block;
        color: lighten(@colorMainGrey, 20%);
        font-weight: lighter;
        padding-bottom: 10px;
      }
    }

    tbody tr {

      td {
        line-height: 50px;
        color: @colorMainGrey;
        font-size: 24px;
        border-bottom: 1px solid darken(@colorMainGreyLight, 5%);
        text-align: center;
        vertical-align: middle;

        &:first-child {
          text-align: right;
          font-size: 14px;
        }

        &.heading {
          font-size: 14px;
          line-height: 25px;
          color: @colorMainWhite;

          strong {
            text-transform: uppercase;
          }

          &.heading-blue {
            background: #1896d3;
          }

          &.heading-green {
            background: #68b87a;
          }

          &.heading-yellow {
            background: #fdb813;
          }
        }

        &.space {
          border-bottom: none;
          height: 30px;
        }

        &.bg-blue div {
          position: relative;
          background: #e7f4fb;
        }

        &.bg-green div {
          position: relative;
          background: #e9f6ec;
        }

        &.bg-yellow div {
          position: relative;
          background: #fff8e7;
        }

        span.a {
          position: absolute;
          padding-left: 5px;
        }

        span.icon-cross {
          position: relative;
          top: 5px;
          display: inline-block;
          width: 25px;
          height: 25px;
          background: url("../../images/icon-cross.png") no-repeat center;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-cross@2x.png") no-repeat center;
            background-size: 25px 25px;
          }
        }

        span.icon-check {
          position: relative;
          top: 5px;
          display: inline-block;
          width: 25px;
          height: 25px;
          background: url("../../images/icon-check.png") no-repeat center;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-check@2x.png") no-repeat center;
            background-size: 25px 25px;
          }
        }

        span.mobile {
          font-size: 12px;
          display: none;
          line-height: 1;
          padding-top: 10px;
        }
      }
    }

    tfoot {

      tr td {


        a.btn {
          text-align: center;
          display: block;
          text-transform: uppercase;
          height: 42px;
          line-height: 42px;
          margin: auto;
          color: @colorMainWhite;
          border-radius: 5px;
          font-weight: bold;
          font-size: 16px;

          -webkit-box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);
          -moz-box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);
          box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);

          &.btn-orange {
            background: @colorMainOrange;

            &:active {
              background: darken(@colorMainOrange, 10%);
            }
          }
        }

        small {
          color: lighten(@colorMainGrey, 30%);
          text-align: left;
          line-height: 25px;
          font-size: 14px;
        }

        &.space {
          border-bottom: none;
          height: 30px;
        }
      }
    }
  }
}

div.pricing-code {
  display: block;
  width: 100%;
  background: @colorMainGreyLight;
  padding: 30px 0;
  text-align: center;

  div.container {
    overflow: visible;
  }

  h3 {
    background: url("../../images/icon-code.png") no-repeat center top;
    padding-top: 60px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: lighter;
  }

  div.form {
    padding-top: 20px;
  }

  input[type=text], input[type=password], input[type=email] {
    padding: 6px;
    font-size: 14px;
    width: 160px;
    border: 1px solid lighten(@colorMainGrey, 40%);
    -webkit-appearance: none;
    outline: none;
    margin-right: 25px;

    &:focus {
      border: 1px solid lighten(@colorMainGrey, 25%);
    }
  }

  input[type=submit] {
    display: inline-block;
    text-transform: uppercase;
    margin: auto;
    color: @colorMainWhite;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    background: @colorMainOrange;
    border: none;
    outline: none;
    -webkit-appearance: none;
    padding: 8px 0;
    width: 170px;
    position: relative;
    bottom: 1px;

    -webkit-box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);
    -moz-box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);
    box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);

    &:active {
      background: darken(@colorMainOrange, 10%);
    }
  }
}

@media (max-width: 980px) {

  div.pricing-table {

    table {

      td, th {
        padding-right: 30px;

        &:last-child {
          padding-right: 0;
        }
      }

      tbody {

        tr td {
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 750px) {

  div.pricing-banner {

    div.container {
      background: none;
    }

    div.info {
      width: 100%;
    }
  }
}

@media (max-width: 670px) {

  div.pricing-table {

    table {

      td, th {
        padding-right: 0;

        &:last-child {
          padding-right: 0;
        }

        &:first-child {
          display: none;
        }

        &.space {
          display: block;
          border-left: none !important;
        }
      }

      thead tr th {

        div {
          border-radius: 0;
        }

        strong {
          padding: 35px 0;
          font-size: 16px;

          &.dark {
            background-image: none;
          }

          &.orange {
            background-image: none;
          }
        }

        p.lead {
          font-size: 25px;

          sup {
            top: -9px;
            font-size: 12px;
            line-height: 1;

            span {
              font-size: 10px;
            }
          }

          small {
            font-size: 10px;
          }
        }
      }

      tbody tr td {
        white-space: normal;

        &:last-child {
          border-left: 1px solid darken(@colorMainGreyLight, 5%);
        }

        span.mobile {
          display: block;
          padding: 10px 3px 0 3px;
        }
      }

      tfoot tr td {

        a.btn {
          font-size: 12px;
          margin: 5px;
        }

        small {
          line-height: 20px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 500px)
{
  div.pricing-code {

    input[type=text], input[type=password], input[type=email] {
      display: block;
      margin: 0 auto 10px auto;
    }
  }
}
.access-code {
  padding          : 30px;
  background-color : @colorMainWhite;
  text-align       : center;
  text-transform   : uppercase;

  img, p:first-of-type, .code {
    margin-bottom : 25px;
  }

  .fancy-button {
    margin  : 0;
    padding : 5px 15px 5px 20px;

    &.disabled {
      opacity        : .5;
      pointer-events : none;
    }
  }

  .fancy-input {
    width : 170px;
  }

  .right-arrow {
    margin-bottom : 5px;

    .icon {
      margin-left : 5px;
    }
  }
}
