
div.register {
  display: block;
  width: 100%;
  line-height: 115px;

  a {
    background: @colorMainOrange;
    display: block;
    line-height: 115px;
    text-align: center;
    color: @colorMainWhite;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

    span.arrow {
      margin-left: 10px;
      display: inline-block;
      background: url("../../images/icon-arrow.png") no-repeat;
      width: 70px;
      line-height: 115px;
      height: 31px;
      position: relative;
      top: 8px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/icon-arrow@2x.png") no-repeat;
        background-size: 70px 31px;
      }
    }
  }
}

div.register-button {
  display: block;
  width: 100%;
  height: 95px;
  background: @colorMainOrange;
  padding-top: 20px;
  padding-bottom: 20px;

  &.large {
    height: 109px;
    padding-top: 63px;
    padding-bottom: 43px;
  }

  a {
    background: @colorMainOrange;
    display: block;
    line-height: 58px;
    text-align: center;
    color: @colorMainWhite;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    width: calc(~"100% - 4px");
    max-width: 345px;
    border: 2px solid @colorMainWhite;
    border-radius: 3px;
    letter-spacing: 2px;
    margin: auto;

    span.arrow {
      margin-left: 10px;
      display: inline-block;
      background: url("../../images/icon-arrow.png") no-repeat;
      width: 23px;
      line-height: 58px;
      height: 31px;
      position: relative;
      top: 8px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/icon-arrow@2x.png") no-repeat;
        background-size: 70px 31px;
      }
    }
  }

  p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;

    a {
      display: inline-block;
      width: auto;
      max-width: none;
      font-size: 16px;
      line-height: 1;
      letter-spacing: 1px;
      border: none;
      padding-left: 10px;

      span.arrow {
        background-size: 36px 16px;
        width: 12px;
        line-height: 1;
        top: 18px;
      }
    }
  }
}

div.register-form {
  display: block;
  width: 100%;
  background: @colorMainGreyLight;
  padding: 45px 0;

  div.info {
    width: 50%;
    float: left;
    background: url("../../images/icon-register.png") no-repeat center top;
    padding-top: 60px;
    margin-top: 45px;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background: url("../../images/icon-register@2x.png") no-repeat center top;
      background-size: 45px 45px;
    }

    h2 {
      font-size: 25px;
      letter-spacing: 2px;
      padding: 0 0 20px 0;
    }

    p {
      font-size: 13px;
      line-height: 2;
      text-align: center;
    }
  }

  div.form {
    width: 50%;
    float: right;

    form {
      background: @colorMainWhite;
      padding: 25px;

      ul {

        li {
          line-height: 32px;
          text-align: right;
          padding-bottom: 10px;

          &.fit {
            padding-bottom: 0;

            &.fit-small {
              line-height: 25px;
            }
          }

          label {
            color: lighten(@colorMainGrey, 20%);
            font-size: 14px;
            padding-right: 20px;
          }

          input[type=text], input[type=password], input[type=email] {
            padding: 5px;
            font-size: 14px;
            width: 50%;
            border: 1px solid lighten(@colorMainGrey, 40%);
            -webkit-appearance: none;
            outline: none;

            &:focus {
              border: 1px solid lighten(@colorMainGrey, 25%);
            }
          }

          small {
            font-size: 11px;
            color: lighten(@colorMainGrey, 20%);
          }

          input[type=submit] {
            float: right;
            display: block;
            text-transform: uppercase;
            margin: auto;
            color: @colorMainWhite;
            border-radius: 5px;
            font-weight: bold;
            font-size: 12px;
            background: @colorMainOrange;
            border: none;
            outline: none;
            -webkit-appearance: none;
            padding: 7px 15px;

            -webkit-box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);
            -moz-box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);
            box-shadow: 0px 3px 0px 0px darken(@colorMainOrange, 20%);

            &:active {
              background: darken(@colorMainOrange, 10%);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 980px) {

  div.register-form {

    div.info {
      margin-top: 100px;
    }

    div.form {

      form {

        ul li {

          label {
            display: block;
            width: 100%;
            text-align: left;
          }

          input[type=text], input[type=password], input[type=email] {
            width: calc(~"100% - 10px");
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {

  div.register-form {

    div.info {
      margin-top: 20px;
      margin-bottom: 40px;
      float: none;
      width: 100%;
    }

    div.form {
      float: none;
      width: 100%;
    }
  }
}

@media (max-width: 415px) {

  div.register {

    a {
      font-size: 16px;

      span.arrow {
        width: 35px;
        background-size: 35px 15.5px;
        height: 21px;
      }
    }
  }
}

@media (max-width: 350px) {

  div.register-button {

    a {
      width: calc(~"100% - 40px");
    }
  }

  div.register {

    a {
      font-size: 14px;
      line-height: 80px;
    }
  }
}