.registration {
  background-color : @colorDSGreyLight;

  .heading {
    border-bottom : solid 1px @colorDSGrey;

    h2 {
      color : @colorDSBlack
    }
  }

  .registration-content {
    padding : 20px;

    > div {
      background-color : @colorDSGreyLight;
      padding          : 20px;

      h3 {
        text-align     : center;
        text-transform : uppercase;
        margin-bottom  : 15px;
      }

      &.personal-data {
        margin-bottom : 20px;

        .half {
          width      : 50%;
          float      : left;
          box-sizing : border-box;

          &.left {
            padding-right : 10px;

            .avatar {
              padding-left : 70px;

              label {
                text-transform : uppercase;
                position       : relative;
                top            : -15px;
                left           : 10px;
                color          : @colorMainOrange;
                width          : 200px;
                text-align     : left;
                cursor         : pointer;
              }
            }
          }

          &.right {
            padding-left : 10px;
          }

          label {
            width          : 120px;
            display        : inline-block;
            text-align     : right;
            padding-right  : 20px;
            box-sizing     : border-box;
            text-transform : uppercase;

            &.va-bottom {
              vertical-align : bottom;
            }
          }

          .fancy-input {
            width  : 282px;
            margin : 7px 0;
          }

          p {
            padding-left : 125px;
            margin       : 15px 0;
            line-height  : 20px;
          }
        }
      }

      .terms-and-conditions {
        height           : 190px;
        border           : solid 1px @colorDSGrey;
        background-color : @colorMainWhite;
        padding          : 20px;
        overflow-y       : scroll;

        ol li {
          font-weight : bold;
          margin      : 13px 0;

          > span {
            display      : inline-block;
            margin-right : 5px;
          }

          > ol li {
            list-style  : none;
            font-weight : normal;
          }
        }
      }

      .radios-container {

        ul {
          padding-left : 0;
          margin-top   : 10px;
        }

        label[for=terms-radio] {
          color : @colorMainRed;
        }
      }
    }

    .fancy-button {
      display : block;
      margin  : 35px auto;
    }
  }
}
