
div.services {
  display: block;
  width: 100%;
  background: url("../../images/background.jpg") no-repeat center @colorMainGreyLight;
  padding: 50px 0;

  div.service-box {
    display: block;
    float: left;
    width: calc(~"33.3333% - 20px");
    margin-right: 30px;
    border-top: 2px solid @colorMainOrange;
    background: @colorMainWhite;
    text-align: center;

    h2 {
      padding-top: 100px;
    }

    p {
      padding: 0 20px 32px 20px;
      font-size: 14px;
      color: @colorMainGrey;
      font-weight: 300;
      line-height: 22px;
    }

    div.embed {
      width: 100%;
      background: @colorMainGreyLight;

      img {
        display: block;
        width: 100%;
      }
    }

    &.service-academy {
      background: url("../../images/icon-academy.png") no-repeat center 10px @colorMainWhite;
      background-size: 80px 80px;
    }

    &.service-community {
      background: url("../../images/icon-community.png") no-repeat center 10px @colorMainWhite;
      background-size: 80px 80px;
    }

    &.service-good {
      background: url("../../images/icon-good-service.png") no-repeat center 10px @colorMainWhite;
      background-size: 80px 80px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  div.call-to-action {
    display: block;
    text-align: center;
    padding: 70px 0 20px 0;

    a.btn {
      display: inline-block;
      text-transform: uppercase;
      text-align: center;
      color: @colorMainWhite;

      span.icon-arrow {
        display: inline-block;
        width: 32px;
        height: 29px;
        margin: 0 0 0 15px;
        line-height: 44px;
        background: url("../../images/icon-btn-arrows.png") no-repeat;
        background-size: 32px 44px;
        position: relative;
        top: 1px;
      }

      &.btn-large {
        font-size: 18px;
        line-height: 44px;
        padding: 0 15px 0 25px;
        font-weight: 700;

        &.btn-orange {
          background: @colorMainOrange;

          &:active {
            background: darken(@colorMainOrange, 10%);
          }
        }
      }
    }
  }

}

@media (max-width: 750px) {

  div.services {
    background-size: cover;

    div.service-box {
      float: none;
      width: 100%;
      margin-bottom: 30px;
    }

    div.call-to-action {
      padding-top: 30px;

      a.btn {

        &.btn-large {
          font-size: 14px;
          line-height: 30px;
          padding: 10px 10px;
        }

        span.icon-arrow {
          display: none;
        }
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  div.services {

    div.service-box {

      &.service-academy {
        background: url("../../images/icon-academy@2x.png") no-repeat center 10px @colorMainWhite;
        background-size: 80px 80px;
      }

      &.service-community {
        background: url("../../images/icon-community@2x.png") no-repeat center 10px @colorMainWhite;
        background-size: 80px 80px;
      }

      &.service-good {
        background: url("../../images/icon-good-service@2x.png") no-repeat center 10px @colorMainWhite;
        background-size: 80px 80px;
      }
    }

    div.call-to-action {

      a.btn {

        span.icon-arrow {
          background: url("../../images/icon-btn-arrows@2x.png") no-repeat;
          background-size: 32px 44px;
        }
      }
    }
  }

}
#login-dialog {

  .lightbox-window {
    transform : translateY(0) translateX(-50%);
    top       : 50px;

    .lightbox-content {
      width : 305px;

      h2 {
        text-transform : uppercase;
        text-align     : center;
        color          : @colorDSBlack;
        padding-top    : 0;
        position       : relative;

        .icon-login-orange {
          background : url(../../images/icon-login-orange.png) center center no-repeat;
          width      : 32px;
          height     : 32px;
          display    : inline-block;
          position   : absolute;
          left       : 65px;
          top        : -6px;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url("../../images/icon-login-orange@2x.png") no-repeat;
            background-size: 32px 32px;
          }
        }
      }

      label, a {
        margin    : 15px 0;
        display   : inline-block;
        font-size : 14px;
        font-weight: bold;
      }

      label {
        color : @colorDSGreyDark;
      }

      a {
        color : @colorMainOrange;
      }

      input {
        display            : inline-block;
        border             : 1px solid darken(@colorMainGreyLight, 10%);
        height             : 30px;
        line-height        : 30px;
        width              : 285px;
        outline            : none;
        border-radius      : 0;
        -webkit-appearance : none;
        -moz-appearance    : none;
        padding            : 0 10px;
      }

      button {
        -webkit-appearance : none;
        -moz-appearance    : none;
        display            : block;
        background         : @colorMainOrange;
        text-transform     : uppercase;
        font-size          : 12px;
        color              : #FFFFFF;
        text-align         : center;
        padding            : 5px 15px;
        border             : none;
        outline            : none;
        bottom             : -3px;
        border-radius      : 5px;
        border-bottom      : 3px solid #A94D1F;
        font-weight        : bold;
        margin             : 15px auto;
      }
    }
  }
}
