
div.statistics {
  display: block;
  width: 100%;
  background: url("../../images/background-light.jpg") no-repeat center @colorMainGreyLight;

  div.container {
    position: relative;
    padding: 50px 0;
  }

  span.sub-brand {

    &.sub-brand-academy {
      display: block;
      background: url("../../images/brand-academy.png") no-repeat;
      line-height: 70px;
      height: 70px;
      padding-left: 128px;
      width: 215px;
      font-size: 25px;
      text-transform: uppercase;
      color: @colorMainOrange;
      font-weight: bold;
      float: left;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/brand-academy@2x.png") no-repeat;
        background-size: 101px 70px;
      }
    }

    &.sub-brand-community {
      display: block;
      background: url("../../images/icon-community-heading.png") no-repeat;
      line-height: 70px;
      height: 70px;
      padding-left: 110px;
      width: 309px;
      font-size: 25px;
      text-transform: uppercase;
      color: @colorMainBlack;
      font-weight: bold;
      float: left;
      margin-left: 194px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../../images/icon-community-heading@2x.png") no-repeat;
        background-size: 76px 69px;
      }
    }
  }

  p.quote {
    display: block;
    font-size: 16px;
    color: @colorMainGrey;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    width: 365px;
    line-height: 23px;
    position: relative;
    float: left;

    &:before, &:after {
      width: 29px;
      display: block;
      position: absolute;

      font-size: 72px;
      font-weight: bold;
      color: @colorMainOrange;
    }

    &:before {
      content: "“";
      top: 18px;
      left: 10px;
    }

    &:after {
      content: "”";
      right: 10px;
      bottom: -20px;
    }
  }

  ul.stats {
    clear: both;
    height: 260px;
    padding-top: 25px;

    & > li {
      float: left;
      width: 153px;
      height: 100%;
      border-right: 1px solid lighten(@colorMainGrey, 40%);
      text-align: center;

      &.stats-icon-video {
        background: url("../../images/icon-video.png") no-repeat top;
        background-size: 50px 50px;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-video@2x.png") no-repeat top;
          background-size: 50px 50px;
        }
      }

      &.stats-icon-article {
        background: url("../../images/icon-article.png") no-repeat top;
        background-size: 50px 50px;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-article@2x.png") no-repeat top;
          background-size: 50px 50px;
        }
      }

      &.stats-icon-comment {
        background: url("../../images/icon-comment.png") no-repeat top;
        background-size: 50px 50px;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-comment@2x.png") no-repeat top;
          background-size: 50px 50px;
        }
      }

      &.stats-icon-user {
        background: url("../../images/icon-user.png") no-repeat top;
        background-size: 50px 50px;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-user@2x.png") no-repeat top;
          background-size: 50px 50px;
        }
      }

      &.stats-icon-help {
        background: url("../../images/icon-community-help-heading.png") no-repeat top;
        background-size: 50px 50px;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-community-help-heading@2x.png") no-repeat top;
          background-size: 50px 50px;
        }
      }

      &.stats-icon-diagnostics {
        background: url("../../images/icon-community-diagnostic-heading.png") no-repeat top;
        background-size: 50px 50px;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: url("../../images/icon-community-diagnostic-heading@2x.png") no-repeat top;
          background-size: 50px 50px;
        }
      }

      &:last-child {
        border-right: none;
      }

      span.number {
        font-size: 50px;
        display: block;
        font-weight: 100;
        margin-top: 60px;
      }

      small {
        display: block;
        color: @colorMainOrange;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10px;
      }

      ul.flags {
        display: block;
        margin-top: 10px;

        li {
          display: block;
          padding-top: 14px;

          a {
            color: @colorMainBlack;
            text-decoration: none;
            line-height: 23px;

            &.flag {
              padding-right: 35px;

              &.flag-cz {
                background: url("../../images/dummy/flag-cs.jpg") no-repeat right;
                background-size: 28px 19px;
              }

              &.flag-de {
                background: url("../../images/dummy/flag-de.jpg") no-repeat right;
                background-size: 28px 19px;
              }

              &.flag-other {
                background: url("../../images/flag-other.png") no-repeat right;
                background-size: 28px 19px;

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                  background: url("../../images/flag-other@2x.png") no-repeat right;
                  background-size: 28px 19px;
                }
              }
            }
          }
        }
      }
    }
  }

  div.mechanic {
    background: url("../../images/mechanic.png") no-repeat;
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background: url("../../images/mechanic@2x.png") no-repeat;
      background-size: 300px 400px;
    }
  }

  &.statistics-community {

    div.container {
      padding-bottom: 0;
    }

    div.mechanic {
      background: url("../../images/photo-community@2x.png") no-repeat;
      background-size: 370px 274px;
      width: 370px;
      height: 274px;
    }

    ul.stats {
      height: 300px;

      & > li {
        border-right: 1px solid @colorMainWhite;

        &:last-child {
          border-right: none;
        }

        small {
          height: 28px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {

  div.statistics.statistics-community {

    span.sub-brand.sub-brand-community {
      width: 140px;
      float: none;
      margin: auto;
    }

    p.quote {
      float: none;
      margin: 20px auto;
    }

    div.mechanic {
      display: none;
    }

    ul.stats {

      & > li {
        width: calc(~"25% - 1px");
      }
    }
  }
}

@media (max-width: @sizeContainer) {

  div.statistics {

    ul.stats {

      & > li {
        width: 15%;

        span.number {
          font-size: 40px;
        }
      }
    }

    div.mechanic {
      width: 250px;
      height: 333px;
      background-size: 250px 333px;
      background-position: bottom;
    }
  }
}

@media (max-width: 750px) {

  div.statistics {

    span.sub-brand.sub-brand-academy {
      margin: auto;
      float: none;
      width: 140px;
    }

    p.quote {
      float: none;
      margin: 40px auto;
    }

    div.mechanic {
      display: none;
    }

    ul.stats {
      width: 100%;

      & > li {
        width: calc(~"25% - 1px");
      }
    }
  }
}

@media (max-width: 410px) {

  div.statistics {

    p.quote {
      width: 100%;
      font-size: 14px;

      &:before, &:after {
        width: 29px;
        display: block;
        position: absolute;

        font-size: 40px;
        font-weight: bold;
        color: @colorMainOrange;
      }
    }

    ul.stats {
      height: 230px;

      & > li {

        span.number {
          font-size: 30px;
        }

        small {
          font-size: 60%;
        }
      }
    }
  }
}

@media (max-width: 350px) {

  div.statistics {

    p.quote {

      &:before, &:after {
        display: none;
      }
    }

    ul.stats {

      & > li {

        span.number {
          font-size: 20px;
        }

        small {
          font-size: 50%;
        }
      }
    }

    &.statistics-community {

      ul.stats {
        height: 260px;

        & > li {

          small {
            font-size: 36%;
            width: 80%;
            margin: 10px auto;
          }

          ul.flags li:first-child {
            padding-top: 0;
          }
        }
      }
    }
  }
}