
div.academy-tooltip {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: transparent;
  z-index: 999;

  div.box {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 350px;

    &:before {
      content: "";
      position: absolute;
      left: -150px;
      top: 5px;
      border-radius: 50%;
      z-index: -1;

      width: 130px;
      height: 130px;

      -webkit-box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.8);
      -moz-box-shadow:    0 0 0 3000px rgba(0, 0, 0, 0.8);
      box-shadow:         0 0 0 3000px rgba(0, 0, 0, 0.8);
    }

    &:after {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(239, 131, 22, 0);
      border-right-color: #ef8316;
      border-width: 15px;
      margin-top: -15px;
    }

    margin-left: 150px;
    background: #ef8316;
    border-radius: 10px;

    padding: 25px 15px 10px 15px;
    text-align: center;

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, 0.75);

    p {
      font-size: 14px;
      color: #000000;
      line-height: 1.4;
      margin: 0 35px 10px;
      font-weight: lighter;
      min-height: 40px;
    }

    button {
      display: inline;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: url("../../images/tooltip-arrow-white.png") no-repeat right center;
      border: none;
      color: #FFFFFF;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      outline: none;
      text-align: center;
      margin: auto;
      line-height: 26px;
      padding-right: 20px;

      &:active {
        opacity: .7;
      }

      &.btn-dismiss {
        background: url("../../images/icon-dismiss.png") no-repeat center;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
        top: calc(~"50% - 15px");
      }
    }

    ul.paging {
      display: inline-block;
      height: 8px;

      li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #000000;
        cursor: pointer;
        margin: 0 2px;

        &:active {
          opacity: .7;
        }

        &.active {
          background: #FFFFFF;
        }
      }
    }
  }
}