.training {

  div.academy.academy-dashboard-n {

    &.academy-dashboard-open {

      div.academy-dashboard-box {

        button.btn-toggle {
          border-radius : 0 0 5px 5px;
          transform     : translateX(-50%) rotate(0deg);
        }

        div.account ul.account-info {

          li {

            &:nth-of-type(1),
            &:nth-of-type(3) {
              display : block;
            }

            &.actions {
              margin-bottom : 30px;
            }
          }
        }

        div.blocks ul.heading li {
          height : 290px;

          p, .fancy-button {
            display   : block;
            margin    : 0 auto;
            max-width : 250px;
          }
        }
      }
    }

    div.academy-dashboard-box {
      margin-bottom : 40px;
      border-bottom : solid 3px @colorMainBlack;

      button.btn-toggle {
        position      : absolute;
        bottom        : -23px;
        left          : 50%;
        border-radius : 5px 5px 0 0;
        transform     : translateX(-50%) rotate(180deg);
      }

      div.account {
        border-left : solid 1px #DCDCDC;

        ul.account-info {
          display : block;

          li {

            &:nth-of-type(1),
            &:nth-of-type(3) {
              display : none;
            }

            &.actions {
              margin-bottom : 0;
            }
          }
        }
      }

      div.blocks {
        border-right : 0;

        ul.heading li {
          overflow   : hidden;
          box-sizing : border-box;
          height     : 180px;

          // one item
          &:first-child:nth-last-child(1) {
            width : 100%;
          }

          // two items
          &:first-child:nth-last-child(2),
          &:first-child:nth-last-child(2) ~ li {
            width : 50%;
          }

          // three items
          &:first-child:nth-last-child(3),
          &:first-child:nth-last-child(3) ~ li {
            width : 33.3333%;
          }

          a {

            &.active {

              .fancy-button {
                background-color : @colorDSGreyDark;
                border-color     : @colorDSGreyDarkest;
              }
            }

            strong {
              color : @colorMainOrange !important;

              span {
                display        : block;
                color          : @colorDSBlack;
                text-transform : lowercase;
                font-weight    : bold;
              }
            }

            p {
              padding    : 0 20px;
              min-height : 80px;
              color      : @colorDSGreyDark;
            }

            p, .fancy-button {
              display : none;
            }
          }
        }
      }
    }
  }

  .page-sidebar-item {

    h2 {
      border-bottom : solid 1px @colorDSGrey;
      color         : @colorDSBlack;
      background    : url("../../images/icon-hotline-head.png") 20px center no-repeat;
      margin        : 0 auto;
      text-align    : left;
      padding-left  : 60px;
    }

    > div {
      padding : 20px 20px 0 20px;

      .phone {
        font-size   : 24px;
        font-weight : bold;

        .icon {
          margin-right : 10px;
        }
      }

      .orange {
        text-align : center;
        color      : @colorMainOrange;
        font-size  : 22px;
        padding    : 20px 0;
      }
    }
  }

  .content-container {

    h2 {
      color         : @colorDSBlack;
      border-bottom : solid 1px @colorDSGrey;

      .icon {
        margin-right : 15px;
      }
    }

    .page-path {

      .icon {
        width               : 16px;
        height              : 16px;
        background-size     : 16px 16px;
        background-position : center center;
        background-repeat   : no-repeat;
        top                 : 2px;
        left                : 5px;
      }
    }

    .heading {
      text-align  : center;
      font-weight : bold;
      margin      : 25px 0;
    }

    .content {
      padding : 20px;

      h3 {
        font-size : 30px;
      }

      .courses {

        .heading {
          text-align  : center;
          font-weight : bold;
          margin-top  : 10px;

          div {
            text-transform : uppercase;
          }
        }

        p {
          margin : 10px 0;
        }

        .course {
          text-align : center;
          font-size  : 0; /* remove space between inline-blocks */

          li {
            display        : inline-block;
            width          : calc(~"33.33% - 30px");
            border         : solid 1px @colorMainBorder;
            padding        : 20px;
            text-align     : center;
            box-sizing     : border-box;
            margin         : 30px 15px;
            vertical-align : top;
            font-size      : initial;

            /* one course */

            &:first-child:last-child {
              width : auto;
            }

            /* two courses */

            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ li {
              width : calc(~"50% - 30px");
            }

            .heading {
              text-transform : uppercase;
            }

            p {
              color : @colorDSGreyDark;
            }
          }
        }

        .course-contact {
          margin : 50px 0 35px 0;
        }

        .course-price {
          background-color : #F2F3F4;
          padding          : 20px 30px;

          li {
            list-style-type : decimal;
            font-weight     : bold;
            color           : @colorDSBlack;
            padding-left    : 20px;
            margin-left     : 20px;

            &:last-of-type {
              list-style-type : none;
              color           : #A2A5AA;
              padding-left    : 0;
              margin-left     : 0;
            }

            div {

              &:first-of-type {
                color : @colorMainOrange;
              }

              &.price {
                margin : 15px 0;

                span {
                  color : #A2A5AA;
                }
              }
            }
          }
        }
      }

      .training-info {

        &.bordered {
          border-top    : solid 1px @colorMainBorder;
          border-bottom : solid 1px @colorMainBorder;
          padding-top   : 15px;
        }

        .full {
          width : 100% !important;
          float : none;
        }

        .full,
        .half {
          width      : 50%;
          float      : left;
          box-sizing : border-box;

          &.left {

            > div {
              padding-left   : 30px;
              line-height    : 30px;
              padding-bottom : 5px;
            }

            .heading {
              color       : @colorMainOrange;
              padding     : 0 0 10px 0;
              font-weight : bolder;
              line-height : initial;
            }

            .term {
              color      : @colorDSGreyDark;
              background : url("../../images/icon-calendar-orange.png") left 5px no-repeat;

              strong {
                color : @colorDSBlack;
              }
            }

            a {
              text-transform : uppercase;
            }

            .address {
              background : url("../../images/icon-pin-small.png") 3px top no-repeat;

              &.gray {
                background-image : url("../../images/icon-pin-gray.png");
              }

              address {
                font-style  : normal;
                line-height : 20px;
              }
            }

            .time {
              background : url("../../images/icon-clock.png") left 5px no-repeat;
            }

            .price {
              background : transparent url("../../images/icon-price.png") left 3px no-repeat;

              &.gray {
                background-image : url("../../images/icon-price-gray.png");
              }
            }

            .teacher {
              background : transparent url("../../images/icon-teacher.png") left 8px no-repeat;

              &.gray {
                background-image : url("../../images/icon-teacher-gray.png");
              }
            }
          }

          &.right {
            background : @colorMainGreyLight;
            padding    : 5px;

            > div {
              padding-left : 40px;
            }

            .gray {
              color : @colorDSGreyDark;
            }

            .price {
              background : transparent url("../../images/icon-price.png") 10px 50% no-repeat;
            }

            .teacher {
              background : transparent url("../../images/icon-teacher.png") 10px 50% no-repeat;
            }

            .organizer {
              padding-left : 10px;

              .orange {
                color : @colorMainOrange;
              }
            }
          }
        }

        &.small {

          .right > div {
            line-height : 60px;
          }
        }

        &.complete {

          .right > div {
            line-height : 30px;
          }
        }
      }

      p.main {
        margin : 20px 0;
      }

      p.alert {
        text-align       : center;
        color            : @colorMainOrange;
        background-color : @colorMainOrangeLightest;
        padding          : 20px;

        strong {
          display : block;
        }
      }

      .form {
        background-color : @colorDSGreyLight;
        padding          : 0 20px 20px 20px;
        margin-top       : 20px;

        h2 {
          border-bottom : none;
        }

        .half {
          width : 50%;
          float : left;

          label {
            text-transform : uppercase;
            display        : inline-block;
          }

          .fancy-select, .fancy-input {
            margin-top : 10px;
          }

          &.left {

            p {
              margin-bottom : 20px;
            }

            label {
              width : 45%;
            }

            .fancy-select {
              width  : 100%;
              margin : 10px 0 30px 0;
            }
          }

          &.right {

            label {
              width      : 25%;
              text-align : right;

              &.question {
                position : relative;
                bottom   : 65px;
              }
            }

            .fancy-input {
              width : 66%;
            }

            textarea {
              height : 80px;
            }

            .fancy-button {
              float : right;
            }
          }
        }

        &.form-term {

          .warning {
            color      : @colorMainRed;
            margin-top : 20px;

            &:before {
              display          : inline-block;
              content          : '!';
              color            : @colorMainWhite;
              background-color : @colorMainRed;
              border-radius    : 50%;
              height           : 20px;
              width            : 20px;
              text-align       : center;
              font-weight      : bold;
              font-size        : 15px;
              line-height      : 20px;
              margin-right     : 10px;
            }
          }

          h3 {
            font-size      : 16px;
            text-align     : center;
            text-transform : uppercase;
            margin         : 20px 0 15px 0;
          }

          label {
            width          : 100px;
            display        : inline-block;
            text-transform : uppercase;
            text-align     : right;
            position       : relative;

            &.label-person {
              bottom : 68px;
            }

            &.label-address {
              bottom : 16px;
            }

            &.pass-repeat, &.street {
              top : 10px;
            }
          }

          .fancy-input, .fancy-select {
            margin : 7px 10px;
          }

          .fancy-input {
            width : 300px;
          }

          .fancy-select {
            width : 322px;
          }

          p {
            margin-bottom : 20px;

            &.padded {
              margin-left : 115px;
            }

            &.center {
              text-align  : center;
              margin-left : 0;
            }
          }

          .radios-container {
            padding-left : 10px;
          }

          .fancy-button {
            margin  : 40px auto;
            display : block;
          }

          table {
            margin : 40px 0 20px 0;

            th {
              font-weight    : normal;
              text-align     : left;
              text-transform : uppercase;
              padding-left   : 10px;
            }

            .fancy-input {
              width : 120px;
            }
          }
        }
      }

      .filters {
        background-color : @colorDSGreyLight;
        padding          : 20px;
        position         : relative;
        font-size        : 0; /* remove space between inline blocks */

        strong {
          width       : 20%;
          display     : inline-block;
          font-weight : normal;
          font-size   : initial;
        }

        .filter {
          width          : 20%;
          display        : inline-block;
          text-transform : uppercase;
        }
      }

      .warning-box {
        border           : solid 1px @colorErrorRed;
        text-align       : center;
        color            : @colorErrorRed;
        padding          : 20px;
        margin-top       : 20px;
        background-color : @colorErrorRedBg;

        > i {
          display          : block;
          color            : @colorMainWhite;
          width            : 20px;
          height           : 20px;
          background-color : @colorMainRed;
          border-radius    : 50%;
          margin           : 0 auto 10px auto;
          text-align       : center;
          font-style       : normal;
          line-height      : 20px;
          font-size        : 20px;
          padding          : 2px;
          font-weight      : bold;
        }

        p > span {
          text-transform  : uppercase;
          text-decoration : underline;
          font-weight     : bold;
        }
      }

      .trainings {
        padding-top : 20px;

        > div {
          border-top   : solid 1px @colorDSGrey;
          padding      : 20px;
          margin-left  : -20px;
          margin-right : -20px;

          .training--info {
            float      : right;
            text-align : right;

            .hidden {
              visibility : hidden;
            }

            img {
              max-height : 50px;
              width      : auto;
              margin     : 15px 0;
            }

            .orange {
              color : @colorMainOrange;
            }

            .icon-people {
              position : relative;
              top      : 5px;
            }
          }

          .training--data {

            > div {
              height      : 30px;
              line-height : 30px;

              .icon {
                width               : 35px;
                background-repeat   : no-repeat;
                background-position : left center;

                &.icon-calendar-orange {
                  position : relative;
                  top      : 3px;
                }
              }

              .gray {
                color : @colorDSGreyDark;
              }
            }

            h2 {
              color          : @colorMainOrange;
              padding        : 15px 0;
              text-align     : left;
              border         : 0;
              text-transform : none;
            }

          }
        }
      }
    }
  }
}
