.user-box {

  > h2 {
    border-bottom : solid 1px @colorDSGrey;
    color         : @colorDSBlack;

    .icon {
      position     : relative;
      top          : 3px;
      margin-right : 15px;
    }
  }

  > .boxes {
    padding   : 10px;
    font-size : 0;

    .box {
      background : @colorDSGreyLight;
      margin     : 10px;
      padding    : 30px;
      box-sizing : border-box;
      font-size  : initial;

      &.box-half {
        width   : calc(~"50% - 20px");
        display : inline-block;
        float   : left;
      }

      .fancy-button {
        margin  : 0 auto;
        display : block;
      }

      .box-content {

        &.box-content-half {
          width   : calc(~"50% - 15px");
          float   : left;
          display : inline-block;
        }

        > label {
          width          : 100px;
          margin-right   : 15px;
          text-transform : uppercase;
          display        : inline-block;
          margin-bottom  : 20px;
          text-align     : right;
        }

        > input {
          width : calc(~"100% - 142px");
        }

        > span {
          display : inline-block;
          width   : calc(~"100% - 142px");
        }

        > p {
          margin-left : 120px;
        }
      }

      > h3 {
        text-align     : center;
        text-transform : uppercase;

        span {
          text-transform : none;
        }
      }

      .text-right {
        text-align : right;
      }

      .sortable {

        li {
          padding          : 15px 0;
          border-top       : solid 1px @colorDSGrey;
          background       : url(../../images/icon-drag.png) center right no-repeat;
          touch-action     : none;
          -ms-touch-action : none;

          &:last-of-type {
            border-bottom : solid 1px @colorDSGrey;
          }

          label span {
            margin-right : 15px;
          }
        }
      }

      // custom box styles

      &.box-fcd-language {

        h3 {
          margin-bottom : 60px;
        }

        ul {
          margin-bottom : 60px;
          padding-left  : 150px;
        }
      }

      &.box-posts-language {
        padding-left  : 50px;
        padding-right : 50px;

        h3 {
          margin-bottom : 30px;
        }

        p {
          font-size     : 13px;
          margin-bottom : 5px;
        }

        ul {
          margin-bottom : 35px;
        }
      }

      &.box-user {

        h3 {
          margin-bottom : 30px;
        }

        p:first-of-type {
          margin-bottom : 10px;
        }

        .avatar {
          padding-left : 75px;

          label {
            text-transform : uppercase;
            color          : @colorMainOrange;
          }

          img {
            position : relative;
            left     : -15px;
            top      : 15px;
          }
        }

        .fancy-button {
          margin-top : 45px;
        }
      }

      &.box-password {

        h3 {
          margin-bottom : 30px;
        }

        .fancy-button {
          margin-top : 45px;
        }

        .box-content-half ~ .box-content-half {
          padding-top : 58px;
        }
      }

      &.box-company {

        h3 {
          margin-bottom : 30px;
        }

        .fancy-button {
          margin-top : 30px;
        }

        select {
          width : calc(~"100% - 120px");
        }

        p {
          height      : 57px;
          line-height : 57px;
        }
      }

      &.box-address {

        h3 {
          margin-bottom : 30px;
        }

        ul {
          padding-left : 120px;
        }

        select {
          width : calc(~"100% - 120px");
        }

        .fancy-button {
          margin-top : 30px;
        }
      }

      &.box-systems, &.box-brands {

        h3 {
          margin-bottom : 30px;
        }

        .fancy-button {
          margin-top : 30px;
        }

        fieldset {
          border-bottom : 0;
        }
      }
    }
  }
}
