// for use academy feed in different places

div.academy.academy-feed-n {

  &.academy-feed-n-full {
    width     : 100%;
    min-width : 0;

    div.academy-subcategory {
      width      : 100%;
      border-top : 0;

      .post:last-of-type {
        margin-bottom : 60px;
        border-bottom : 1px solid @colorMainBorder;
      }
    }
  }
}
