.add-link {
  line-height : 40px;
  color       : @colorMainBlack;
  margin      : 15px 0;

  &:before {
    height           : 40px;
    width            : 40px;
    content          : '+';
    border-radius    : 50%;
    display          : inline-block;
    background-color : @colorMainGreen;
    vertical-align   : middle;
    color            : @colorMainWhite;
    text-align       : center;
    margin-right     : 10px;
    font-size        : 1.5rem;
  }
}
