.attached-files {

  > label {
    display        : block !important;
    margin-top     : 35px;
    width          : 100% !important;
    text-transform : uppercase;
  }

  .file {
    border-top  : solid 1px @colorDSGrey;
    height      : 65px;
    line-height : 55px;

    &:first-of-type {
      margin-top : 20px;
    }

    &:last-of-type {
      border-bottom : solid 1px @colorDSGrey;
    }

    .filename {
      color : @colorMainOrange;
    }

    .icon {
      margin-right : 10px;
    }

    .main-file {
      float        : right;
      margin-right : 20px;
      color        : @colorDSGreyDark;
      position     : relative;
      top          : 5px;
    }

    .remove a {
      float       : right;
      font-weight : bold;
      font-size   : 20px;
      color       : #000000;
      position    : relative;
      top         : 5px;
    }
  }
}

.file-square {
  height          : 120px;
  width           : 120px;
  background      : @colorMainWhite url("../../images/icon-file-big.png") center center no-repeat;
  overflow        : hidden;
  border          : solid 1px @colorMainGreyLight;
  float           : left;
  background-size : 40% 40%;

  .smile-common {
    width : auto;
    left  : 70px;
    top   : 22px;

    &:after {
      background-size : 75%;
    }

  }

  .file-type {
    display     : inline-block;
    color       : white;
    position    : relative;
    top         : 66px;
    left        : 52px;
    font-weight : bold;
    font-size   : 12px;
  }
}
