.base-form {

  > div > label {
    display        : inline-block;
    padding-right  : 10px;
    width          : 240px;
    text-align     : right;
    text-transform : uppercase;
    float          : left;
    margin-top     : 8px;
  }

  .fancy-input {
    width : 310px;
  }

  .fancy-select {
    width : 332px;
  }
}
