ul.page-path {
  display       : block;
  border-bottom : 1px solid #DCDCDC;

  &:after {
    display : block;
    clear   : both;
    content : "";
  }

  li {
    display       : inline-block;
    padding-right : 20px;
    background    : url("../../images/path-arrow.png") no-repeat right center;
    font-size     : 12px;
    line-height   : 36px;

    &:last-child {
      padding-right : 0;
      background    : none;
    }

    a {
      margin-left : 10px;
      color       : #000000;

      &.home {
        display    : block;
        background : url("../../images/academy-greyscale.png") no-repeat center;
        width      : 25px;
      }

      span.badge {
        display       : inline-block;
        margin-right  : 1px;
        padding       : 1px;
        width         : 16px;
        height        : 16px;
        border-radius : 50%;
        color         : #FFFFFF;
        text-align    : center;
        font-weight   : bold;
        font-size     : 12px;
        line-height   : 16px;

        &.badge-green {
          background : #2FCC71;
        }

        &.badge-blue {
          background : #3598DC;
        }

        &.badge-purple {
          background : #9C59B8;
        }

        &.badge-orange {
          background : #EF8413;
        }
      }

    }

    strong {
      margin-left    : 10px;
      text-transform : uppercase;
    }
  }
}
