div.comment {

  div.comment-form {
    background : #F3F3F3;
    padding    : 20px;
    margin     : 20px 0;

    div.image {
      position     : relative;
      display      : block;
      width        : 40px;
      height       : 40px;
      float        : left;
      margin-right : 20px;

      img {
        display       : block;
        width         : 40px;
        height        : 40px;
        border-radius : 40px;
        position      : absolute;
        left          : 0;
        top           : 0;
      }

      span.badge {
        display       : block;
        width         : 19px;
        line-height   : 19px;
        height        : 19px;
        text-align    : center;
        font-size     : 11px;
        color         : #FFFFFF;
        background    : #535353;
        border-radius : 19px;
        border        : 1px solid #FFFFFF;
        position      : absolute;
        right         : -10px;
        top           : 10px;
        overflow      : hidden;
      }
    }

    div.form {
      display  : block;
      float    : left;
      width    : calc(~"100% - 60px");
      position : relative;

      div.input {
        position : relative;

        textarea {
          display   : block;
          border    : 1px solid #DEDEDE;
          outline   : none;
          width     : calc(~"100% - 165px");
          font-size : 14px;
          padding   : 10px 150px 10px 15px;
        }

        button {
          display        : block;
          position       : absolute;
          right          : 10px;
          top            : 0;
          font-size      : 12px;
          color          : @colorMainOrange;
          text-transform : uppercase;
          line-height    : 37px;
          height         : 37px;
          border         : none;
          outline        : none;
          background     : url("../../images/icon-attach-comment.png") no-repeat center left transparent;
          text-align     : left;
          padding-left   : 25px;
        }
      }

      p {
        padding-top : 10px;

        label {
          font-size : 12px;
          color     : #A3A3A3;
          cursor    : pointer;
        }

        input[type="checkbox"] {
          display : none;
        }

        input[type="checkbox"] + label span {
          display        : inline-block;
          width          : 16px;
          height         : 16px;
          vertical-align : middle;
          background     : url("../../images/icon-checkbox.png") no-repeat;
          margin-right   : 5px;

          @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
            background      : url("../../images/icon-checkbox@2x.png") no-repeat;
            background-size : 16px 16px;
          }
        }

        input[type="checkbox"]:checked + label span {
          background      : url("../../images/icon-checkbox-selected.png") no-repeat;
          background-size : 16px 16px;

          @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
            background      : url("../../images/icon-checkbox-selected@2x.png") no-repeat;
            background-size : 16px 16px;
          }
        }

        input[type="checkbox"]:checked + label {
          color : #000000;
        }
      }

      button.btn-add {
        -webkit-appearance : none;
        -moz-appearance    : none;
        display            : block;
        background         : @colorMainOrange;
        text-transform     : uppercase;
        font-size          : 12px;
        color              : #FFFFFF;
        text-align         : center;
        padding            : 5px 15px;
        border             : none;
        outline            : none;
        position           : absolute;
        right              : 0;
        bottom             : -3px;
        border-radius      : 5px;
        border-bottom      : 3px solid #A94D1F;
        font-weight        : bold;
      }
    }
  }

  div.image {
    position     : relative;
    display      : block;
    float        : left;
    margin-right : 20px;
    width        : 40px;
    height       : 40px;

    img {
      position      : absolute;
      top           : 0;
      left          : 0;
      display       : block;
      width         : 40px;
      height        : 40px;
      border-radius : 40px;
    }

    span.badge {
      position      : absolute;
      top           : 10px;
      right         : -10px;
      display       : block;
      overflow      : hidden;
      width         : 19px;
      height        : 19px;
      border        : 1px solid #FFFFFF;
      border-radius : 19px;
      background    : #535353;
      color         : #FFFFFF;
      text-align    : center;
      font-size     : 11px;
      line-height   : 19px;
    }
  }

  div.comment-body {
    float : left;
    width : calc(~"100% - 60px");

    div.comment-heading {

      & > strong {
        display       : inline-block;
        padding-right : 10px;
        color         : @colorMainOrange;
        font-size     : 14px;
      }

      div.rating {
        position        : relative;
        top             : 4px;
        display         : inline-block;
        overflow        : hidden;
        width           : 57px;
        height          : 19px;
        background      : url("../../images/icon-stars.png");
        background-size : contain;
        white-space     : nowrap;
        font-size       : 0;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background      : url("../../images/icon-stars@2x.png");
          background-size : contain;
        }

        i {
          position   : absolute;
          top        : 0;
          left       : 0;
          z-index    : 1;
          width      : 33%;
          height     : 100%;
          background : url("../../images/icon-star-active.png");
          opacity    : 0;

          @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
            background      : url("../../images/icon-star-active@2x.png");
            background-size : 19px 19px;
          }
        }

        input {
          position           : relative;
          z-index            : 2;
          display            : inline-block;
          margin             : 0;
          padding            : 0;
          width              : 33%;
          height             : 100%;
          opacity            : 0;
          -moz-appearance    : none;
          -webkit-appearance : none;

          &:hover + i,
          &:checked + i {
            opacity : 1;
          }

          &[disabled]:hover + i {
            opacity : 0;
          }

          &[disabled]:checked + i {
            opacity : 1;
          }
        }

        i ~ i {
          width : 66%;
        }
        i ~ i ~ i {
          width : 100%;
        }
      }

      span {
        display      : inline-block;
        padding-left : 10px;
        color        : #A3A3A3;
        font-size    : 12px;
        line-height  : 40px;

        strong {
          color       : #000000;
          font-weight : normal;
        }
      }
    }

    > p {
      padding     : 15px 0;
      font-size   : 14px;
      line-height : 1.5;
    }

    div.attachment {
      padding-top : 15px;

      img {
        float        : left;
        margin-right : 20px;
        width        : 220px;
      }

      strong {
        display        : block;
        padding-top    : 40px;
        padding-bottom : 15px;
        font-size      : 12px;
      }

      a {
        color          : @colorMainOrange;
        text-transform : uppercase;
        font-size      : 12px;
      }
    }

    span.comment-info {
      display     : inline-block;
      float       : left;
      color       : #A3A3A3;
      font-size   : 12px;
      line-height : 30px;

      a {
        color : @colorMainOrange;
      }
    }

    div.comment-actions {
      float         : right;
      margin-bottom : 5px;
      height        : 30px;

      button.btn-answer {
        display            : inline-block;
        padding            : 5px 15px 5px 35px;
        outline            : none;
        border             : none;
        background         : url("../../images/icon-anwser.png") no-repeat left center;
        color              : @colorMainOrange;
        text-align         : center;
        text-transform     : uppercase;
        font-size          : 12px;
        -webkit-appearance : none;
        -moz-appearance    : none;
      }

      div.thumbs {
        display     : inline-block;
        height      : 30px;
        background  : #F3F3F3;
        line-height : 30px;

        span.val {
          color     : #000000;
          font-size : 18px;
        }

        button {
          display            : inline-block;
          width              : 30px;
          outline            : none;
          border             : none;
          -webkit-appearance : none;
          -moz-appearance    : none;

          &.btn-thumbs-down {
            background : url("../../images/icon-comment-thumbs-down.png") no-repeat center;
          }

          &.btn-thumbs-up {
            background : url("../../images/icon-comment-thumbs-up.png") no-repeat center;
          }
        }
      }
    }
  }
}
