.error-input {
  border-color : @colorErrorRed;

  &::-webkit-input-placeholder {
    color : @colorErrorRed;
  }
  &:-moz-placeholder {
    color : @colorErrorRed;
  }
  &::-moz-placeholder {
    color : @colorErrorRed;
  }
  &:-ms-input-placeholder {
    color : @colorErrorRed;
  }
}

.error-input-message {
  margin           : 5px 0;
  padding          : 10px 10px;
  border           : solid 1px @colorErrorRed;
  background-color : @colorErrorRedBg;
  color            : @colorErrorRed;

  &:before {
    display          : inline-block;
    margin-right     : 10px;
    padding          : 2px;
    width            : 15px;
    height           : 15px;
    border-radius    : 50%;
    background-color : @colorErrorRed;
    color            : #FFFFFF;
    content          : "!";
    text-align       : center;
    font-weight      : bold;
  }
}

.error-message {
  position         : relative;
  left             : 50%;
  display          : inline-block;
  margin           : 15px 0;
  padding          : 10px;
  border           : solid 1px @colorErrorRed;
  background-color : @colorErrorRedBg;
  color            : @colorErrorRed;
  transform        : translateX(-50%);

  .icon-error-circle {
    display          : inline-block;
    width            : 20px;
    height           : 20px;
    border-radius    : 50%;
    background-color : @colorErrorRed;
    color            : @colorMainWhite;
    font-weight      : bold;
    margin-right     : 10px;
    text-align       : center;
    line-height      : 21px;
    padding-left     : 1px;
  }

  a {
    color           : @colorErrorRed;
    text-decoration : underline;
  }
}
