#file-dialog,
.multi-file-dialog {
  border  : solid 1px #DEDEDE;
  padding : 20px;

  .lightbox-content {
    width : 560px;
  }

  .content-separator {
    padding : 10px 0;
    .cl();

    &:last-of-type {
      padding-bottom : 0;
    }

    &.topless {
      padding-top : 0;
    }

    .content-separator-helper {
      margin-top : 10px;
    }
  }

  h5, label {
    text-transform : uppercase;
  }

  h5 {
    text-align    : center;
    font-weight   : 800;
    margin-bottom : 15px;
  }

  label.file-dialog_label {
    font-size      : 12px;
    width          : 20%;
    display        : inline-block;
    vertical-align : top;
    margin-top     : 9px;
    float          : left;

    &.long {
      width : 75%;
    }
  }

  select {
    display            : inline-block;
    line-height        : 30px;
    font-size          : 12px;
    font-weight        : 100;
    appearance         : none;
    -moz-appearance    : none; /* Firefox */
    -webkit-appearance : none; /* Safari and Chrome */
    outline            : none;
    border             : 1px solid darken(@colorMainGreyLight, 10%);
    border-radius      : 0;
    background         : @colorMainWhite url("../../images/icon-select-arrow.png") no-repeat right center;
    padding            : 0 27px 0 6px;
    width              : 80%;
    min-height         : 30px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background      : @colorMainWhite url("../../images/icon-select-arrow@2x.png") no-repeat right center;
      background-size : 20px 14px;
    }
  }

  input[type=text], textarea {
    display            : inline-block;
    border             : 1px solid darken(@colorMainGreyLight, 10%);
    height             : 30px;
    line-height        : 30px;
    width              : 80% !important;
    outline            : none;
    border-radius      : 0;
    -webkit-appearance : none;
    -moz-appearance    : none;
    padding            : 0 10px;
    box-sizing         : border-box;
  }

  button.btn-show-file_dialog {
    display        : inline-block;
    font-size      : 12px;
    color          : @colorMainOrange;
    text-transform : uppercase;
    line-height    : 37px;
    height         : 37px;
    border         : none;
    outline        : none;
    background     : url("../../images/icon-attach-comment.png") no-repeat center left transparent;
    text-align     : left;
    padding-left   : 25px;
    margin-left    : 135px;
  }

  input[type=file] {
    visibility : hidden;
    position   : absolute;
    top        : 0;
    left       : 0;
    height     : 0;
  }

  .file-dialog_name-info {
    color       : @colorDSGreyDark;
    display     : inline;
    font-size   : 12px;
    float       : right;
    height      : 37px;
    line-height : 37px;
  }

  textarea {
    height : 120px;
  }

  .radios {
    display : inline-block;

    &.inline {
      float : right;

      li {
        display : inline-block;

        &:first-of-type {
          margin-right : 20px;
        }
      }
    }

    li {
      display     : block;
      line-height : 34px;

      label {
        font-size      : 14px;
        color          : @colorDSGreyDark;
        white-space    : nowrap;
        cursor         : pointer;
        text-transform : none;

        strong {
          font-weight : normal;

          &.padded {
            margin-left : 28px;
          }
        }

        small {
          font-size : 100%;
        }

        .hidden {
          display : none;
        }

        img {
          position   : absolute;
          margin-top : 8px;
        }
      }

      input[type="radio"] {
        display : none;
      }

      input[type="radio"] + label span {
        display        : inline-block;
        width          : 16px;
        height         : 16px;
        vertical-align : middle;
        background     : url("../../images/icon-radio.png") no-repeat;
        margin-right   : 5px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background      : url("../../images/icon-radio@2x.png") no-repeat;
          background-size : 16px 16px;
        }
      }

      input[type="radio"]:checked + label span {
        background      : url("../../images/icon-radio-selected.png") no-repeat;
        background-size : 16px 16px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background      : url("../../images/icon-radio-selected@2x.png") no-repeat;
          background-size : 16px 16px;
        }
      }

      input[type="radio"]:checked + label strong {
        font-weight : bold;
      }

      input[type="radio"]:checked + label .hidden {
        display : inline;
      }
    }
  }

  button.btn-add, button.btn-close {
    -webkit-appearance : none;
    -moz-appearance    : none;
    display            : block;
    background         : @colorMainOrange;
    text-transform     : uppercase;
    font-size          : 12px;
    color              : #FFFFFF;
    text-align         : center;
    padding            : 5px 15px;
    border             : none;
    outline            : none;
    float              : right;
    bottom             : -3px;
    border-radius      : 5px;
    border-bottom      : 3px solid #A94D1F;
    font-weight        : bold;
  }

  button.btn-add.btn-center {
    margin : 20px auto 0 auto;
    float  : none;
  }

  button.btn-close {
    background          : @colorDSGreyDark;
    border-bottom-color : @colorDSBlack;
    margin-right        : 15px;
  }
}

