.follow-up {
  margin : 20px 0;

  > li {
    list-style-type : none;
    background      : url(../../images/icon-cross.png) left top 3px no-repeat;
    padding-left    : 40px;
    line-height     : 30px;
    margin-bottom   : 10px;

    &.completed {
      background-image : url(../../images/icon-check.png);
    }

    .fancy-button {
      line-height : normal;
      margin      : 0;
    }
  }
}
