.radios-container {
  display : inline-block;

  ul {
    padding-left : 20px;
  }

  &.inline {
    float : right;

    li {
      display : inline-block;

      &:first-of-type {
        margin-right : 20px;
      }
    }
  }

  li {
    display     : block;
    line-height : 30px;

    label {
      color          : @colorDSGreyDarkest;
      text-transform : none;
      white-space    : nowrap;
      font-size      : 14px;
      cursor         : pointer;

      strong {
        font-weight : normal;

        &.padded {
          margin-left : 28px;
        }
      }

      small {
        font-size : 100%;
      }

      .hidden {
        display : none;
      }

      img {
        position   : absolute;
        margin-top : 8px;
      }
    }

    input[type="radio"] {
      display : none;
    }

    input[type="radio"] + label span {
      display        : inline-block;
      margin-right   : 15px;
      width          : 16px;
      height         : 16px;
      background     : url("../../images/icon-radio.png") no-repeat;
      vertical-align : middle;

      @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
        background      : url("../../images/icon-radio@2x.png") no-repeat;
        background-size : 16px 16px;
      }
    }

    input[type="radio"]:checked + label span {
      background      : url("../../images/icon-radio-selected.png") no-repeat;
      background-size : 16px 16px;

      @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
        background      : url("../../images/icon-radio-selected@2x.png") no-repeat;
        background-size : 16px 16px;
      }
    }

    input[type="radio"]:checked + label strong {
      font-weight : bold;
    }

    input[type="radio"]:checked + label .hidden {
      display : inline;
    }
  }
}

.fancy-input {
  display            : inline-block;
  padding            : 0 10px;
  width              : 403px;
  height             : 30px;
  outline            : none;
  border             : 1px solid darken(@colorMainGreyLight, 10%);
  border-radius      : 0;
  line-height        : 30px;
  -webkit-appearance : none;
  -moz-appearance    : none;

  &.fancy-input_normal {
    width : auto;
  }
}

.fancy-button {
  bottom             : -3px;
  display            : inline-block;
  margin             : 15px 0;
  padding            : 5px 15px;
  outline            : none;
  border             : none;
  border-bottom      : 3px solid #A94D1F;
  border-radius      : 5px;
  background         : @colorMainOrange;
  color              : #FFFFFF;
  text-align         : center;
  text-transform     : uppercase;
  font-weight        : bold;
  font-size          : 12px;
  -webkit-appearance : none;
  -moz-appearance    : none;

  &.fancy-button-slick {
    padding : 0 15px;
  }
}

div.checkbox {
  label {
    color       : @colorDSGreyDarkest;
    white-space : nowrap;
    font-size   : 12px;
    cursor      : pointer;
    display     : block;
    height      : 16px;
    line-height : 16px;
  }

  input[type="checkbox"] {
    display : none;
  }

  input[type="checkbox"] + label span {
    display        : inline-block;
    margin-right   : 5px;
    width          : 16px;
    height         : 16px;
    background     : url("../../images/icon-checkbox.png") no-repeat;
    vertical-align : top;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background      : url("../../images/icon-checkbox@2x.png") no-repeat;
      background-size : 16px 16px;
    }
  }

  input[type="checkbox"]:checked + label span {
    background      : url("../../images/icon-checkbox-selected.png") no-repeat;
    background-size : 16px 16px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background      : url("../../images/icon-checkbox-selected@2x.png") no-repeat;
      background-size : 16px 16px;
    }
  }

  input[type="checkbox"]:checked + label {
    color : #000000;
  }
}

// select
.fancy-select {
  padding            : 0 27px 0 6px;
  outline            : none;
  border             : 1px solid darken(@colorMainGreyLight, 10%);
  border-radius      : 0;
  background         : @colorMainWhite url("../../images/icon-select-arrow.png") no-repeat right center;
  font-weight        : 100;
  font-size          : 12px;
  appearance         : none;
  -moz-appearance    : none;
  -webkit-appearance : none;
  min-height         : 30px;

  @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
    background      : @colorMainWhite url("../../images/icon-select-arrow@2x.png") no-repeat right center;
    background-size : 20px 14px;
  }
}

fieldset.tags {
  border        : none;
  border-bottom : 1px solid @colorDSGrey;
  padding       : 0 0 17px 0;

  legend {
    text-transform : uppercase;
    color          : @colorDSBlack;
    font-size      : 14px;
    padding        : 17px 0;
  }

  ul {
    padding : 0;
    margin  : 0;

    &.inputs li {
      margin-bottom : 17px;

      input[type=text], input[type=email], input[type=url], textarea {
        display            : block;
        width              : calc(~"100% - 26px");
        padding            : 13px;
        -webkit-appearance : none;
        outline            : none;
        border             : none;
        background         : @colorMainWhite;
        font-size          : 14px;

        &:focus {
          background : darken(@colorMainWhite, 1%);
        }

        &.error {
          outline : 1px solid #D03A3B;
          color   : #D03A3B;
        }
      }

      &:last-child {
        margin-bottom : 0;
      }

      &.inline {
        padding-top : 15px;

        label {
          text-transform : uppercase;
          color          : @colorDSBlack;
          font-size      : 14px;
          line-height    : 42px;
          float          : left;
        }

        span {
          color       : @colorDSBlack;
          font-size   : 14px;
          line-height : 42px;
          float       : right;
          margin-left : 15px;
        }

        input[type=text], input[type=email], input[type=url], textarea {
          display : inline-block;
          width   : 140px;
          float   : right;
        }
      }
    }

    &.checks li {
      display       : inline-block;
      padding-right : 25px;
      line-height   : 34px;

      label {
        font-size   : 14px;
        color       : @colorDSGreyDark;
        white-space : nowrap;
        cursor      : pointer;
      }

      input[type="checkbox"] {
        display : none;
      }

      input[type="checkbox"] + label span {
        display        : inline-block;
        width          : 16px;
        height         : 16px;
        vertical-align : middle;
        background     : url("../../images/icon-checkbox.png") no-repeat;
        margin-right   : 5px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background      : url("../../images/icon-checkbox@2x.png") no-repeat;
          background-size : 16px 16px;
        }
      }

      input[type="checkbox"]:checked + label span {
        background      : url("../../images/icon-checkbox-selected.png") no-repeat;
        background-size : 16px 16px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background      : url("../../images/icon-checkbox-selected@2x.png") no-repeat;
          background-size : 16px 16px;
        }
      }

      input[type="checkbox"]:checked + label {
        font-weight : bold;
      }
    }

    &.radios li {
      display     : block;
      line-height : 34px;

      label {
        font-size   : 14px;
        color       : @colorDSGreyDark;
        white-space : nowrap;
        cursor      : pointer;

        strong {
          font-weight : normal;
        }

        small {
          font-size : 100%;
        }

        .hidden {
          display : none;
        }
      }

      input[type="radio"] {
        display : none;
      }

      input[type="radio"] + label span {
        display        : inline-block;
        width          : 16px;
        height         : 16px;
        vertical-align : middle;
        background     : url("../../images/icon-radio.png") no-repeat;
        margin-right   : 5px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background      : url("../../images/icon-radio@2x.png") no-repeat;
          background-size : 16px 16px;
        }
      }

      input[type="radio"]:checked + label span {
        background      : url("../../images/icon-radio-selected.png") no-repeat;
        background-size : 16px 16px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background      : url("../../images/icon-radio-selected@2x.png") no-repeat;
          background-size : 16px 16px;
        }
      }

      input[type="radio"]:checked + label strong {
        font-weight : bold;
      }

      input[type="radio"]:checked + label .hidden {
        display : inline;
      }
    }

    &.tags {
      margin : 17px 0 0 0;

      &.tags-from-repair-brands {
        display : none;
      }

      li {
        display       : inline-block;
        background    : @colorMainWhite;
        border        : 1px solid #DDDDDD;
        font-size     : 12px;
        line-height   : 15px;
        position      : relative;
        padding-left  : 3px;
        height        : 18px;
        margin-left   : 11px;
        margin-right  : 11px;
        margin-bottom : 10px;

        button {
          display            : inline-block;
          position           : static;
          text-indent        : 0;
          background         : none;
          width              : auto;
          height             : auto;
          padding            : 0 3px;
          font-size          : 15px;
          line-height        : 15px;
          -webkit-appearance : none;
          outline            : none;
          border             : none;
        }

        &:before {
          position   : absolute;
          content    : "";
          background : url("../../images/icon-tag-arrow.png") no-repeat;
          width      : 11px;
          height     : 20px;
          left       : -11px;
          top        : -1px;

          @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
            background      : url("../../images/icon-tag-arrow@2x.png") no-repeat;
            background-size : 11px 20px;
          }
        }
      }
    }

    &.photos li {
      display  : block;
      height   : 134px;
      float    : left;
      position : relative;

      &.photo-wrapper, &.main {
        margin-right : 45px;
      }

      input[type=file] {
        visibility : hidden;
        width      : 1px;
        height     : 1px;
        position   : absolute;
      }

      div {
        position   : relative;
        overflow   : hidden;
        width      : 84px;
        height     : 84px;
        background : #444444;

        &.rounded {
          border-radius : 50%;
        }
      }

      img {
        display    : block;
        cursor     : pointer;
        margin     : auto;
        height     : auto;
        max-height : 100%;
        width      : auto;
        max-width  : 100%;

        &:active {
          opacity : .7;
        }
      }

      small {
        padding        : 13px 0;
        display        : block;
        text-transform : uppercase;
        font-size      : 11px;
        color          : @colorDSGreyDark;
        line-height    : 1.3;
      }

      &:first-child small {
        padding-left : 10px;
      }

      button.cross {
        display            : block;
        -webkit-appearance : none;
        outline            : none;
        border             : none;
        background         : none;
        position           : absolute;
        right              : 0px;
        bottom             : 11px;
        font-size          : 20px;
        opacity            : .7;

        &:active {
          opacity : 1;
        }
      }

      button.add {
        display            : block;
        -webkit-appearance : none;
        outline            : none;
        border             : none;
        text-indent        : -9999px;
        width              : 84px;
        height             : 84px;
        background         : url("../../images/icon-ds-photo-add@2x.png") no-repeat;
        background-size    : 84px 84px;

        &:active {
          opacity : .7;
        }
      }
    }
  }

  div.add-control {
    display  : block;
    position : relative;
    width    : 100%;
    margin   : 17px 0 0 0;

    input[type=text] {
      display            : block;
      width              : calc(~"100% - 57px");
      padding            : 13px 42px 13px 13px;
      -webkit-appearance : none;
      outline            : none;
      border             : 1px solid @colorMainWhite;
      background         : @colorMainWhite;
      font-size          : 14px;

      &:focus {
        border     : 1px solid darken(@colorMainWhite, 1%);
        background : darken(@colorMainWhite, 1%);
      }

      &.error {
        border : 1px solid @colorMainOrange;
      }
    }

    button {
      position           : absolute;
      -webkit-appearance : none;
      outline            : none;
      border             : none;
      right              : 0;
      top                : 0;
      height             : 42px;
      width              : 42px;
      text-indent        : -9999px;
      background         : transparent url("../../images/icon-plus.png") no-repeat center;

      @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
        background      : transparent url("../../images/icon-plus@2x.png") no-repeat center;;
        background-size : 14px 14px;
      }

      &:active {
        opacity : .7;
      }
    }

    &.add-control-dropdown {
      display : none;

      ul.dropdown {
        border     : 1px solid @colorDSGrey;
        background : @colorMainWhite;
        font-size  : 14px;
        position   : absolute;
        top        : 44px;
        left       : 0;
        right      : 0;
        width      : calc(~"100% - 2px");
        z-index    : 1;
        display    : none;

        li {
          padding       : 0 13px;
          line-height   : 42px;
          border-bottom : 1px solid @colorDSGrey;
          color         : @colorDSGreyDark;
          cursor        : pointer;

          strong {
            color       : @colorDSBlack;
            font-weight : normal;
          }

          &:focus {
            outline    : none;
            background : darken(@colorMainWhite, 5%);
          }
        }
      }

    }
  }

  table {
    border-collapse : collapse;
    width           : 100%;

    tr td {
      font-size      : 14px;
      color          : @colorDSGreyDark;
      padding-bottom : 15px;

      &.dash {
        width      : 25px;
        text-align : center;
      }

      &.input {
        width : 66px;
      }

      input[type=text] {
        display            : block;
        width              : 40px;
        padding            : 13px;
        -webkit-appearance : none;
        outline            : none;
        border             : none;
        background         : @colorMainWhite;
        font-size          : 14px;
        color              : @colorDSBlack;

        &:focus {
          background : darken(@colorMainWhite, 1%);
        }

        &:disabled {
          background : darken(@colorMainWhite, 3%);
        }
      }

      label {
        font-size    : 14px;
        color        : @colorDSGreyDark;
        white-space  : nowrap;
        cursor       : pointer;
        padding-left : 15px;
        width        : 100px;
        display      : inline-block;
      }

      input[type="checkbox"] {
        display : none;
      }

      input[type="checkbox"] + label span {
        display        : inline-block;
        width          : 16px;
        height         : 16px;
        vertical-align : middle;
        background     : url("../../images/icon-checkbox.png") no-repeat;
        margin-right   : 5px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background      : url("../../images/icon-checkbox@2x.png") no-repeat;
          background-size : 16px 16px;
        }
      }

      input[type="checkbox"]:checked + label span {
        background      : url("../../images/icon-checkbox-selected.png") no-repeat;
        background-size : 16px 16px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background      : url("../../images/icon-checkbox-selected@2x.png") no-repeat;
          background-size : 16px 16px;
        }
      }

      input[type="checkbox"]:checked + label {
        font-weight : bold;
      }
    }
  }
}
