.lightbox-buttons {
  z-index     : 999;
  float       : right;
  margin-left : 20px;
  width       : 280px;

  a {
    display         : block;
    height          : 40px;
    border-top      : solid 1px @colorDSGreyLight;
    border-bottom   : solid 1px #FFFFFF;
    background      : #FFFFFF url(../../images/gray-arrow-right.png) no-repeat 260px center;
    color           : @colorMainOrange;
    text-align      : left;
    text-decoration : none;
    text-transform  : uppercase;
    line-height     : 40px;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background : #FFFFFF url(../../images/gray-arrow-right@2x.png) no-repeat 260px center;
    }

    &:last-of-type {
      border-bottom : solid 1px @colorDSGreyLight;
    }

    i {
      display : inline-block;
      float   : left;
      width   : 25px;
      height  : 25px;

      &.comment {
        background      : #FFFFFF url(../../images/icon-comment.png) no-repeat 2px center;
        background-size : 25px 25px;
        margin          : 8px 5px 0 2px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background : #FFFFFF url(../../images/icon-comment@2x.png) no-repeat 2px center;
        }
      }

      &.window {
        background      : #FFFFFF url(../../images/icon-window.png) no-repeat center;
        background-size : 18px 17px;
        margin          : 8px 5px 0 2px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background : #FFFFFF url(../../images/icon-window@2x.png) no-repeat center;
        }
      }

      &.heart {
        background      : #FFFFFF url(../../images/icon-heart-simple.png) no-repeat center;
        background-size : 19px 17px;
        margin          : 8px 3px 0 4px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background : #FFFFFF url(../../images/icon-heart-simple@2x.png) no-repeat center;
        }
      }

      &.type {
        background      : #FFFFFF url(../../images/icon-smile.png) no-repeat center;
        background-size : 18px 18px;
        margin          : 8px 3px 0 4px;

        @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
          background : #FFFFFF url(../../images/icon-smile@2x.png) no-repeat center;
        }
      }

      &.picture {
        background      : #FFFFFF url(../../images/icon-picture.png) no-repeat center;
        background-size : 18px 18px;
        margin          : 8px 3px 0 4px;
      }
    }

    span {
      display     : inline-block;
      overflow    : hidden;
      width       : calc(~"100% - 60px");
      white-space : nowrap;
    }
  }
}

.lightbox-buttons-opener {
  position   : relative;
  z-index    : 999;
  box-sizing : border-box;
  width      : 16px;
  height     : 16px;
  border     : solid 1px @colorDSGreyDark;
  text-align : center;

  &:hover {
    border     : solid 1px @colorMainOrange;
    background : @colorMainOrange;

    .arrow {
      border-top : solid 5px white;
    }

    .lightbox-buttons {
      display : block;
    }
  }

  .arrow {
    width        : 0;
    height       : 0;
    border-left  : solid 5px transparent;
    border-right : solid 5px transparent;
    border-top   : solid 5px @colorDSGreyDark;
    position     : relative;
    top          : 10px;
  }

  .lightbox-buttons {
    display : none;
  }
}
