#admin-like-lightbox {
  background : transparent;
  position   : absolute;

  .lightbox-window {
    left : 325px;
    top  : 290px;

    &:before {
      content       : "";
      position      : absolute;
      left          : -200px;
      top           : 50%;
      transform     : translateY(-50%);
      border-radius : 50%;
      z-index       : -1;
      width         : 160px;
      height        : 160px;
      box-shadow    : 0 0 0 3000px rgba(0, 0, 0, 0.8);
    }
  }

  .lightbox-content {
    width : 400px;

    &:before {
      content       : '';
      display       : block;
      width         : 15px;
      border-right  : solid 15px #FFFFFF;
      border-top    : solid 15px transparent;
      border-bottom : solid 15px transparent;
      position      : absolute;
      left          : -30px;
      top           : 50%;
      transform     : translateY(-50%);
    }

    h2 {
      height        : auto !important;
      padding       : 0 0 20px 0 !important;
      border-bottom : 0 !important;

      .icon {
        top          : 3px !important;
        margin-right : 10px;
      }
    }

    .radios-container {
      margin-top    : 15px;
      margin-bottom : 10px;
    }

    textarea {
      resize     : none;
      max-width  : 100%;
      box-sizing : border-box;
      height     : 80px;
    }

    .fancy-button {
      margin-bottom : 0;
    }

    small {
      display : inline-block;
      margin  : 15px 0 10px 0;
    }
  }
}

#admin-like-list-lightbox {

  .lightbox-content {
    width : 400px;
  }

  h2 {
    padding    : 0 0 20px 0;
    text-align : left;
    color      : #000000;
  }

  .row {
    border-bottom : solid 1px @colorMainGreyLight;
    padding       : 10px 0;

    &:last-of-type {
      border-bottom : 0;
    }

    .user-img {
      margin-left : 0;
    }

    p {
      padding-left : 60px;
    }
  }
}
