.like-popup-container {
  position   : fixed;
  top        : 0;
  left       : 0;
  z-index    : 999;
  width      : 100%;
  height     : 100%;
  background : rgba(0, 0, 0, 0.7);

  #like-popup-form {
    position : relative;
    display  : inline-block;
  }

  .header {
    background    : @colorMainWhite;
    color         : @colorDSBlack;
    font-weight   : bold;
    display       : inline-block;
    border-radius : 5px 5px 0 5px;
    padding-right : 5px;
    border        : solid 1px @colorDSGrey;

    .text {
      position : relative;
      top      : -8px;
    }

    .icon-close {
      margin-left : 50px;
      position    : relative;
      top         : 2px;
      cursor      : pointer;
    }
  }

  .body {
    margin-left      : 30px;
    background-color : @colorMainWhite;
    border-radius    : 0 0 5px 5px;
    padding          : 0 8px 8px 12px;
    border           : solid 1px @colorDSGrey;
    border-top       : 0;

    button {
      border     : 0;
      background : transparent url("../../images/icon-check.png") no-repeat center;
      width      : 25px;
      height     : 25px;
      position   : absolute;
      right      : 8px;
      bottom     : 8px;
    }
  }
}

body.modal-open {
  overflow : hidden;
}
