// layout
.content-container {
  position   : relative;
  display    : block;
  float      : left;
  width      : calc(75%);
  border-top : 3px solid #EF8316;
  background : #FFFFFF;
  font-size  : 15px;

  .content-separator {
    padding : 20px;
  }

  .content.content-top {
    position : relative;
  }

  .content.content-top:after {
    content    : '';
    display    : block;
    height     : 6px;
    background : linear-gradient(to bottom, #E5E6E9, #FAFAFB);
    position   : absolute;
    bottom     : -6px;
    width      : 100%;
    left       : 0;
    border-top : solid 1px #D8DADE;
  }
}

.content-container-full {
  margin     : 20px 0 0 0;
  border-top : 3px solid #EF8316;
  background : @colorMainWhite;
}

// right sidebar
.page-sidebar-item {
  display       : block;
  float         : right;
  margin-bottom : 20px;
  width         : calc(~"25% - 20px");
  border-top    : 3px solid #EF8316;
  background    : #FFFFFF;
}

//links
a {
  display : inline-block;
  color   : @colorMainOrange;
}

// hr
hr {
  display       : block;
  margin-bottom : 15px;
  padding       : 10px 0;
  border        : none;
  border-bottom : 1px solid #DCDCDC;
}

.page-controls {
  margin : 15px 0;
}

.pr {
  float : right;
}

.pl {
  float : left;
}

.orange {
  color : @colorMainOrange;
}

.bg-orange {
  background-color : @colorMainOrange;
}

.bg-gray {
  background-color : @colorDSGreyLight;
}

.bg-100 {
  height : 100%;
}

.text-c {
  text-align : center;
}

.text-l {
  text-align : left;
}

.text-r {
  text-align : right;
}

.text-white {
  color : @colorMainWhite;
}

address {
  margin     : 30px;
  text-align : center;
}

.mr20 {
  margin-right : 20px;
}
