.msg-container {
  position      : fixed;
  white-space   : nowrap;
  opacity       : 1;
  color         : #FFFFFF;
  background    : rgba(0, 0, 0, .75);
  font-size     : 10px;
  line-height   : 15px;
  padding       : 7px;
  border-radius : 2px;
  left          : 30px;
  bottom        : 30px;
  transition    : opacity 1s;

  &.hidden {
    opacity : 0;
  }
}
