.page-title {

  h1, h2 {
    padding : 0;
    margin  : 0;
  }

  h1 {
    font-size  : 3rem;
    margin-top : 30px;
  }

  h2 {
    font-size      : 1.5rem;
    text-transform : none;
    font-weight    : normal;
  }
}
