.popup {
  border-bottom : dotted 1px #000000;
  cursor        : pointer;
  position      : relative;
  display       : inline-block;
  line-height   : normal;

  &:hover {
    .popup-content {
      display : block;
    }
  }

  &.pr {
    margin-right : 5px;
  }

  .popup-content {
    display          : none;
    position         : absolute;
    left             : 50%;
    top              : 0;
    transform        : translateX(-50%) translateY(-100%);
    background-color : rgba(0, 0, 0, .75);
    padding          : 10px;
    border-radius    : 5px;
    color            : #FFFFFF;
    width            : 250px;
    text-align       : center;
  }
}
