.star-rating {
  position        : relative;
  top             : 4px;
  display         : inline-block;
  overflow        : hidden;
  width           : 57px;
  height          : 19px;
  background      : url("../../images/icon-stars.png");
  background-size : contain;
  white-space     : nowrap;
  font-size       : 0;

  @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
    background      : url("../../images/icon-stars@2x.png");
    background-size : contain;
  }

  i {
    position   : absolute;
    top        : 0;
    left       : 0;
    z-index    : 1;
    width      : 33%;
    height     : 100%;
    background : url("../../images/icon-star-active.png");
    opacity    : 0;

    @media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi) {
      background      : url("../../images/icon-star-active@2x.png");
      background-size : 19px 19px;
    }
  }

  input[type=radio] {
    position           : relative;
    z-index            : 2;
    display            : inline-block;
    margin             : 0;
    padding            : 0;
    width              : 33%;
    height             : 100%;
    opacity            : 0;
    -moz-appearance    : none;
    -webkit-appearance : none;

    &:hover + i,
    &:checked + i {
      opacity : 1;
    }

    &[disabled]:hover + i {
      opacity : 0;
    }

    &[disabled][checked] + i {
      opacity : 1;
    }
  }

  i ~ i {
    width : 66%;
  }
  i ~ i ~ i {
    width : 100%;
  }
}
