.search-component {
  margin : 20px auto;
  height : 32px;
  width  : 187px;

  input[type=text] {
    border     : 0;
    width      : 155px;
    height     : 32px;
    padding    : 10px;
    box-sizing : border-box;
    float      : left;
  }

  input[type=submit] {
    height     : 32px;
    width      : 32px;
    background : @colorMainOrange url('../../images/icon-search.png');
    border     : 0;
    outline    : 0;
  }
}
