.page-sidebar-item.last-updates {

  h2 {
    padding-left  : 60px;
    border-bottom : solid 1px @colorDSGrey;
    color         : #000000;
    text-align    : left;
  }

  .icon-refresh {
    top  : -60px;
    left : 20px;
  }

  ul {
    margin-top : -40px;
    padding    : 20px;
    font-size  : 12px;

    li {
      padding : 5px 0;
    }

    .date {
      color : @colorDSGreyDark;
    }
  }
}
