.small-form {
  background-color : #FFFFFF;
  border-radius    : 5px;
  padding          : 15px 30px;
  width            : 300px;
  margin           : 15px auto;
  box-sizing       : border-box;

  * {
    box-sizing : border-box;
  }

  .title {
    text-transform : uppercase;
    text-align     : center;
  }

  label {
    color     : @colorDSGreyDark;
    display   : block;
    font-size : 14px;
    margin    : 15px 0;
  }

  .fancy-input {
    width : 100%;
  }

  .fancy-button {
    margin-bottom : 0;
  }
}
