.smile-common {
  position : relative;
  width    : 337px;
  display: inline-block;

  a {
    display : inline;
  }

  &:after {
    content  : "";
    display  : block;
    width    : 38px;
    height   : 38px;
    position : absolute;
    top      : -15px;
    right    : -15px;
  }

  &.smile-red:after {
    background : url("../../images/icon-smile-red.png") no-repeat center;
  }

  &.smile-green:after {
    background : url("../../images/icon-smile-green.png") no-repeat center;
  }
}
