.table {
  width      : 100%;
  text-align : left;
  box-sizing : border-box;
  margin     : 15px 0 30px 0;

  th, td {
    padding : 4px 8px;
  }

  thead {

    th {
      background-color : @colorMainGreyLight;
      border           : solid 1px @colorMainGreyLight;
    }
  }

  tbody {

    td {
      border : solid 1px @colorMainBorder;
    }
  }
}
