div.account.anonymous {
  border-left : solid 1px #DCDCDC;
  box-sizing: border-box;

  .account-heading {
    padding       : 20px 15px 15px 15px !important;
    border-bottom : 0;

    .fancy-input {
      box-sizing    : border-box;
      max-width     : 100%;
      margin-bottom : 10px;
    }

    > a { // overrides
      display    : block !important;
      position   : static !important;
      right      : auto !important;
      top        : auto !important;
      background : none !important;
      width      : auto !important;
      height     : auto !important;
    }

    .fancy-button {
      margin-bottom : 10px;
      margin-top    : 10px;
      width         : calc(~"50% - 3px");
      padding-left  : 0;
      padding-right : 0;
      text-align    : center;

      &:first-of-type {
        margin-right : 10px;
      }

      &:last-of-type {
        color            : @colorMainOrange;
        background-color : @colorMainWhite;
        border           : solid 1px @colorMainOrange;
      }
    }
  }

  .account-info {

    p {
      color       : @colorDSGreyDark;
      text-align  : center;
      line-height : initial;
      padding     : 20px 0;
      //line-height : 20px;

      a {
        color : @colorMainOrange;
      }
    }
  }
}
