.person {
  display : inline-block;

  > div {
    display : inline-block;
  }

  .name {
    color  : @colorMainOrange;
    margin : 8px 0 0 20px;
  }

  .star-rating {
    margin : 8px 25px 0 10px;
  }

  .user-img {
    position    : relative;
    display     : block;
    float       : left;
    margin-left : 15px;
    width       : 40px;
    height      : 40px;

    img {
      position      : absolute;
      top           : 0;
      left          : 0;
      display       : block;
      width         : 40px;
      height        : 40px;
      border-radius : 40px;
    }

    .badge {
      display       : block;
      width         : 19px;
      line-height   : 19px;
      height        : 19px;
      text-align    : center;
      font-size     : 11px;
      color         : #FFFFFF;
      background    : #535353;
      border-radius : 19px;
      border        : 1px solid #FFFFFF;
      position      : absolute;
      right         : -10px;
      top           : 10px;
      overflow      : hidden;
    }
  }
}
