.c-orange {
  color : @colorMainOrange;
}

.c-gray-3 {
  color : @colorGray3;
}

.c-gray-4 {
  color : @colorGray4;
}

.c-green {
  color : @colorMainGreen;
}

.c-green-2 {
  color : @colorSecondaryGreen;
}

.c-red {
  color : @colorMainRed;
}

.c-error {
  color : @colorErrRed;
}

.c-black {
  color : @colorBlack !important;
}

.c-white {
  color : @colorWhite;
}

.bg-light {
  background-color : @colorGray2;
}

.bg-darker {
  background-color : @colorGray;
}

.bg-white {
  background-color : @colorWhite;
}

@media (min-width : @desktopWidth) {
  .bg-white-desktop {
    background-color : @colorWhite;
  }
}

.bg-red {
  background-color : @colorMainRed;
}

.bg-orange {
  background-color : @colorMainOrange;
}

// float
.float-left {
  float : left;
}

.float-right {
  float : right;
}

@media (min-width : @desktopWidth) {
  .float-right-desktop {
    float : right;
  }
}

// flex
.align-items-center {
  align-items : center;
}

.justify-content-center {
  justify-content : center;
}

// display
.d-flex {
  display        : flex;
  flex-direction : column;

  @media (min-width : @tabletWidth) {
    flex-direction : row;
  }
}

.d-none {
  display : none !important;
}

.d-block {
  display : block;
}

.d-inline-block {
  display : inline-block;
}

.d-inline-block-desktop {
  display : none;
}

@media (min-width : @desktopWidth) {
  .d-none-desktop {
    display : none;
  }

  .d-inline-block-desktop {
    display : inline-block;
  }
}

// position
.p-relative {
  position : relative;
}

.p-fixed {
  position : fixed;
}

.p-absolute {
  position : absolute;
}

// padding

// .p-
each(range(0, 4, 1), {
  .p-@{value} {
    padding : (@value * @basePadding / 2);
  }
});

// .pl-
each(range(0, 4, 1), {
  .pl-@{value} {
    padding-left : (@value * @basePadding / 2);
  }
});

// .pr-
each(range(0, 4, 1), {
  .pr-@{value} {
    padding-right : (@value * @basePadding / 2);
  }
});

// .pb-
each(range(0, 4, 1), {
  .pb-@{value} {
    padding-bottom : (@value * @basePadding / 2);
  }
});

// .pt-
each(range(0, 4, 1), {
  .pt-@{value} {
    padding-top : (@value * @basePadding / 2);
  }
});

// .px-
each(range(0, 4, 1), {
  .px-@{value} {
    padding-left  : (@value * @basePadding / 2) !important;
    padding-right : (@value * @basePadding / 2) !important;
  }
});

// .py-
each(range(0, 4, 1), {
  .py-@{value} {
    padding-top    : (@value * @basePadding / 2);
    padding-bottom : (@value * @basePadding / 2);
  }
});

// margin

// .m-
each(range(0, 4, 1), {
  .m-@{value} {
    margin : (@value * @baseMargin / 2);
  }
});

// .ml-
each(range(0, 4, 1), {
  .ml-@{value} {
    margin-left : (@value * @baseMargin / 2);
  }
});

// .mr-
each(range(0, 4, 1), {
  .mr-@{value} {
    margin-right : (@value * @baseMargin / 2);
  }
});

// .mt-
each(range(0, 4, 1), {
  .mt-@{value} {
    margin-top : (@value * @baseMargin / 2);
  }
});

// .mb-
each(range(0, 4, 1), {
  .mb-@{value} {
    margin-bottom : (@value * @baseMargin / 2);
  }
});

// .mx-
each(range(0, 4, 1), {
  .mx-@{value} {
    margin-left  : (@value * @baseMargin / 2);
    margin-right : (@value * @baseMargin / 2);
  }
});

// .my-
each(range(0, 4, 1), {
  .my-@{value} {
    margin-top    : (@value * @baseMargin / 2);
    margin-bottom : (@value * @baseMargin / 2);
  }
});

// text

.text-shadow {
  text-shadow : 0 0 1px #000000;
}

.text-left {
  text-align : left;
}

.text-center {
  text-align : center;
}

.text-right {
  text-align : right;
}

.text-underline {
  text-decoration : underlines;
}

.text-upper {
  text-transform : uppercase;
}

.text-normal {
  font-weight : normal;
}

.text-bold {
  font-weight : bold;
}

.text-no-decoration {
  text-decoration : none;
}

.text-no-wrap {
  white-space : nowrap;
}

// width

.w-100 {
  width : 100% !important;
}

.w-33 {
  width : 33.33% !important;
}

// vertical align

.v-top {
  vertical-align : top;
}

.v-baseline {
  vertical-align : baseline;
}

.fs-0_75 {
  font-size : .75rem;
}

.fs-0_8 {
  font-size : .8rem;
}

.fs-0_9 {
  font-size : .9rem;
}

.fs-1 {
  font-size : 1rem;
}

.fs-1_5 {
  font-size : 1.5rem;
}

.fs-2 {
  font-size : 2rem;
}

//

.hidden {
  overflow    : hidden;
  text-indent : 9999999px;
  display     : inline
}

.overflow-x-auto {
  overflow-x                 : scroll;
  -webkit-overflow-scrolling : touch;

  &::-webkit-scrollbar {
    width  : 0;
    height : 7px;
  }

  &::-webkit-scrollbar-track {
    margin : 54px 0 53px
  }

  &::-webkit-scrollbar-thumb {
    background    : rgba(0, 0, 0, 0.0);
    border-radius : 10px;
    box-shadow    : rgba(255, 255, 255, 0.3) 0 0 0 1px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background : rgba(0, 0, 0, 0.45)
  }

  &::-webkit-scrollbar-thumb:hover {
    background : rgba(0, 0, 0, 0.55)
  }
}

.overflow-hidden {
  overflow : hidden;
}

.text-break-all {
  word-break : break-all;
}

// borders
.border {
  border : solid 1px @colorGray6; // TODO: separate
}

.border-0 {
  border : 0;
}

.border-top {
  border-top : solid 1px @colorGray2;
}

.border-bottom {
  border-bottom : solid 1px @colorGray2;
}

.border-bottom-dark {
  border-bottom : solid 1px #e0e0e0;
}

.border-error {
  border-color : @colorErrRed !important;
}

//

.cursor-pointer {
  cursor : pointer;
}

each(range(0, 5, 1), {
  .border-radius-@{value} {
    border-radius : (@value * 1px) !important;
  }
});

.no-pointer-events {
  pointer-events : none;
}

.auto-pointer-events {
  pointer-events : auto;
}
