@import "helpers";
@import "component/container";
@import "component/btn";
@import "component/info-panel";
@import "component/navbar";
@import "component/symbol";
@import "component/overlay";
@import "component/overlay-menu";
@import "component/action-button";
@import "component/profile-info";
@import "component/score";
@import "component/breadcrumbs";
@import "component/tag";
@import "component/article-actions";
@import "component/article-language";
@import "component/quote";
@import "component/comment";
@import "component/comment-form";
@import "component/form-checkbox";
@import "component/form-radio";
@import "component/vehicle-summary";
@import "component/help-request";
@import "component/r-code";
@import "component/file-thumb";
@import "component/background";
@import "component/diagnostic-case";
@import "component/contextual-links";
@import "component/sidebar";
@import "component/search-form";
@import "component/dot";
@import "component/form-input";
@import "component/separator";
@import "component/scrollable";
@import "component/review";
@import "component/map";
@import "component/service-detail";
@import "component/modal";
@import "component/alert";
@import "component/carousel";
@import "component/tabs";
@import "component/form-fault-type";
@import "component/tinymce";
@import "component/file-uploaded";
@import "component/homepage";
@import "component/tooltipx";

img {
  vertical-align : middle;
}

// old styles do not use it. So make this stupid name for easy remove in future.
.bsbb {
  box-sizing : border-box;
}

.cl {
  &:after {
    clear   : both;
    content : '';
    display : block;
  }
}

p {
  line-height : 1.75rem;
}

ul {
  padding-left : 25px;
}
